---
<center><h1>Basic intro to pandas</h1></center>

<center><h2>Work with pandas DataFrames: filtering, indexing and missing data</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: filtering, indexing and missing data](#Work-with-pandas-DataFrames:-filtering,-indexing-and-missing-data)
    * [Get basic information](#Get-basic-information)
    * [Conditional indexing and selection](#Conditional-indexing-and-selection)
    * [Work with indexes and MultiIndex option](#Work-with-indexes-and-MultiIndex-option)
    * [Selection by label and position](#Selection-by-label-and-position)
    * [Work with missing data](#Work-with-missing-data)
    - [*Exercise 1*](#Exercise-1)

In [44]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: filtering, indexing and missing data

[[back to top]](#Table-of-Contents)

In this part we will continue our acquaintance with DataFrames and will get to know 
1.	how to get basic information about DataFrame and its content;
2.	how to get a segment of a Dataframe and select rows from DataFrame, which satisfy some conditions;
3.	how to change indexes in DataFrame and make advanced indexing;
4.	how to select any rows by its indexes, labels and positions;
5.	how to work with missing data.

Thus, we will divide the whole text of this lesson into logic constructed code blocks with respect to mentioned above points. In the following posts we will continue our learning of pandas and will consider its other features.

In [45]:
url="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv"
eqPastMonth=pd.read_csv(url)
eqPastMonth.head(10)

                       time   latitude  ...  locationSource  magSource
0  2025-04-16T15:22:14.240Z  38.821499  ...              nc         nc
1  2025-04-16T15:19:27.860Z  19.203501  ...              hv         hv
2  2025-04-16T15:04:56.790Z  40.368999  ...              nc         nc
3  2025-04-16T15:00:49.220Z  44.342667  ...              mb         mb
4  2025-04-16T14:59:44.190Z  38.803665  ...              nc         nc
5  2025-04-16T14:42:52.624Z  64.556600  ...              ak         ak
6  2025-04-16T14:38:39.010Z  36.940498  ...              nc         nc
7  2025-04-16T14:34:00.340Z  46.615833  ...              uw         uw
8  2025-04-16T14:30:22.000Z  33.499000  ...              ci         ci
9  2025-04-16T14:29:29.390Z  38.799168  ...              nc         nc

[10 rows x 22 columns]

### Get basic information

[[back to top]](#Table-of-Contents)

pandas has a set of functions for getting basic information about DataFrame:

Lets take a look on type of `eqPastMonth` columns

In [46]:
eqPastMonth.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

You may notice that the dtype forthe time column is by default of type "object" meaning a string.  You can change this by using the apply function which allows one to apply a function to every row in series or dataframe. A "lambda" is a shorthand way to write your own function.

In [47]:
eqPastMonth['magPlus5'] = eqPastMonth['mag'].apply(lambda x: x + 5)
eqPastMonth.head(5)

                       time   latitude  ...  magSource  magPlus5
0  2025-04-16T15:22:14.240Z  38.821499  ...         nc      6.03
1  2025-04-16T15:19:27.860Z  19.203501  ...         hv      7.16
2  2025-04-16T15:04:56.790Z  40.368999  ...         nc      8.81
3  2025-04-16T15:00:49.220Z  44.342667  ...         mb      6.76
4  2025-04-16T14:59:44.190Z  38.803665  ...         nc      5.28

[5 rows x 23 columns]

In [48]:
def addFive(x):
    return x + 5
eqPastMonth['magPlus5'] = eqPastMonth['mag'].apply(addFive)
eqPastMonth.head(5)

                       time   latitude  ...  magSource  magPlus5
0  2025-04-16T15:22:14.240Z  38.821499  ...         nc      6.03
1  2025-04-16T15:19:27.860Z  19.203501  ...         hv      7.16
2  2025-04-16T15:04:56.790Z  40.368999  ...         nc      8.81
3  2025-04-16T15:00:49.220Z  44.342667  ...         mb      6.76
4  2025-04-16T14:59:44.190Z  38.803665  ...         nc      5.28

[5 rows x 23 columns]

In [49]:
eqPastMonth['datetime'] = eqPastMonth['time'].apply(lambda x: (datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.%fZ')))
eqPastMonth.head(5)

                       time   latitude  ...  magPlus5                datetime
0  2025-04-16T15:22:14.240Z  38.821499  ...      6.03 2025-04-16 15:22:14.240
1  2025-04-16T15:19:27.860Z  19.203501  ...      7.16 2025-04-16 15:19:27.860
2  2025-04-16T15:04:56.790Z  40.368999  ...      8.81 2025-04-16 15:04:56.790
3  2025-04-16T15:00:49.220Z  44.342667  ...      6.76 2025-04-16 15:00:49.220
4  2025-04-16T14:59:44.190Z  38.803665  ...      5.28 2025-04-16 14:59:44.190

[5 rows x 24 columns]

In [50]:
eqPastMonth['magPlus1'] = eqPastMonth['mag'].apply(lambda x: x + 0.1)
eqPastMonth.head(5)

                       time   latitude  ...                datetime  magPlus1
0  2025-04-16T15:22:14.240Z  38.821499  ... 2025-04-16 15:22:14.240      1.13
1  2025-04-16T15:19:27.860Z  19.203501  ... 2025-04-16 15:19:27.860      2.26
2  2025-04-16T15:04:56.790Z  40.368999  ... 2025-04-16 15:04:56.790      3.91
3  2025-04-16T15:00:49.220Z  44.342667  ... 2025-04-16 15:00:49.220      1.86
4  2025-04-16T14:59:44.190Z  38.803665  ... 2025-04-16 14:59:44.190      0.38

[5 rows x 25 columns]

Notice the new "datetime" column.  It of time datetime.

In [51]:
eqPastMonth.dtypes

time                       object
latitude                  float64
longitude                 float64
depth                     float64
mag                       float64
magType                    object
nst                       float64
gap                       float64
dmin                      float64
rms                       float64
net                        object
id                         object
updated                    object
place                      object
type                       object
horizontalError           float64
depthError                float64
magError                  float64
magNst                    float64
status                     object
locationSource             object
magSource                  object
magPlus5                  float64
datetime           datetime64[ns]
magPlus1                  float64
dtype: object

You can also see basic statistics about the DataFrame‚Äôs numeric columns

In [52]:
eqPastMonth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             10449 non-null  object
 1   latitude         10449 non-null  float64
 2   longitude        10449 non-null  float64
 3   depth            10449 non-null  float64
 4   mag              10449 non-null  float64
 5   magType          10449 non-null  object
 6   nst              8793 non-null   float64
 7   gap              8793 non-null   float64
 8   dmin             8793 non-null   float64
 9   rms              10448 non-null  float64
 10  net              10449 non-null  object
 11  id               10449 non-null  object
 12  updated          10449 non-null  object
 13  place            10449 non-null  object
 14  type             10449 non-null  object
 15  horizontalError  8137 non-null   float64
 16  depthError       10448 non-null  float64
 17  magError         8773 non-null   float64
 18  magNst           8789 non-null   float64
 19  status           10449 non-null  object
 20  locationSource   10449 non-null  object
 21  magSource        10449 non-null  object
 22  magPlus5         10449 non-null  float64
 23  datetime         10449 non-null  datetime64[ns]
 24  magPlus1         10449 non-null  float64
dtypes: datetime64[ns](1), float64(14), object(10)
memory usage: 2.0+ MB

Method `info()` shows (top down)
+ that `eqPastMonth` is an instance of DataFrame‚Äôs class; this information we have obtained with help of function `type()`;
+ number of rows in DataFrame;
+ type of each column and number of non-null rows in this column; this information in a shorted view was given by `dtypes`;
+ memory size of the DataFrame etc.
method `describe()` allows to quickly get average, minimal and maximal values, standard deviation etc. in each DataFrame column with numeric items

In [53]:
eqPastMonth[eqPastMonth["mag"] >= 0].describe()

          latitude    longitude  ...                       datetime     magPlus1
count  9674.000000  9674.000000  ...                           9674  9674.000000
mean     38.513899  -108.297087  ...  2025-04-01 05:23:36.860396544     1.739205
min     -65.070900  -179.996600  ...     2025-03-17 15:26:17.490000     0.100000
25%      33.462875  -146.332300  ...  2025-03-23 22:36:29.522999808     0.912500
50%      38.800999  -121.264167  ...  2025-04-01 07:26:52.044999936     1.430000
75%      49.452375  -115.118500  ...  2025-04-09 01:41:44.199749888     2.100000
max      83.505700   179.928300  ...     2025-04-16 15:22:14.240000     7.800000
std      18.204728    69.220946  ...                            NaN     1.198945

[8 rows x 15 columns]

### Conditional indexing and selection

[[back to top]](#Table-of-Contents)

As we said above DataFrame is a group of Series objects. This allows you to select specific column (a Series) from the DataFrame (in this case you get a Series) or a few columns (in this case you get another DataFrame)

In [54]:
eqPastMonth_mag = eqPastMonth['mag']
# Here we are showing only one column, i.e. a Series
print ('type:', type(eqPastMonth_mag))
eqPastMonth_mag.head(10)

type: <class 'pandas.core.series.Series'>

0    1.03
1    2.16
2    3.81
3    1.76
4    0.28
5    1.60
6    1.34
7    0.93
8    0.94
9    0.74
Name: mag, dtype: float64

In [55]:
eqPastMonth_record = eqPastMonth[['time','depth', 'mag', 'place']]
# Here we are showing four columns, i.e. a new DataFrame
print ('type:', type(eqPastMonth_record))
eqPastMonth_record.tail()

type: <class 'pandas.core.frame.DataFrame'>

                           time  ...                                  place
10444  2025-03-17T15:51:07.140Z  ...             85 km NW of Karluk, Alaska
10445  2025-03-17T15:43:30.730Z  ...           3 km ESE of Lake Henshaw, CA
10446  2025-03-17T15:41:51.772Z  ...  42 km ENE of Santa Maria, Philippines
10447  2025-03-17T15:41:11.314Z  ...         1 km ENE of Nikolaevsk, Alaska
10448  2025-03-17T15:26:17.490Z  ...             0 km NW of The Geysers, CA

[5 rows x 4 columns]

You can also refer to one column in such way

In [56]:
eqPastMonth_record.time

0        2025-04-16T15:22:14.240Z
1        2025-04-16T15:19:27.860Z
2        2025-04-16T15:04:56.790Z
3        2025-04-16T15:00:49.220Z
4        2025-04-16T14:59:44.190Z
                   ...
10444    2025-03-17T15:51:07.140Z
10445    2025-03-17T15:43:30.730Z
10446    2025-03-17T15:41:51.772Z
10447    2025-03-17T15:41:11.314Z
10448    2025-03-17T15:26:17.490Z
Name: time, Length: 10449, dtype: object

Filtered DataFrames can be obtained by using of logic operators

In [57]:
# Let's display only large earthquakes
eqPastMonth_large = eqPastMonth[eqPastMonth['mag'] > 5]
eqPastMonth_large.head(10)

                         time   latitude  ...                datetime  magPlus1
27   2025-04-16T12:41:01.967Z -32.463200  ... 2025-04-16 12:41:01.967      5.70
127  2025-04-16T03:49:49.620Z  51.154600  ... 2025-04-16 03:49:49.620      5.30
136  2025-04-16T02:25:57.691Z -47.968600  ... 2025-04-16 02:25:57.691      5.30
147  2025-04-16T01:42:59.982Z -47.843100  ... 2025-04-16 01:42:59.982      6.70
173  2025-04-15T23:13:59.032Z  35.938900  ... 2025-04-15 23:13:59.032      5.70
196  2025-04-15T21:42:42.424Z   5.798300  ... 2025-04-15 21:42:42.424      5.70
261  2025-04-15T15:49:03.235Z  -6.508200  ... 2025-04-15 15:49:03.235      5.30
317  2025-04-15T11:22:33.624Z -16.772400  ... 2025-04-15 11:22:33.624      5.20
762  2025-04-14T17:08:28.110Z  33.035833  ... 2025-04-14 17:08:28.110      5.31
957  2025-04-14T01:33:14.326Z   0.497500  ... 2025-04-14 01:33:14.326      5.40

[10 rows x 25 columns]

In [58]:
#Getting records that are large (>5mag) earthquakes and that occurred in the northern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] > 0)]
filtered_df_1.describe()

        latitude   longitude  ...                       datetime   magPlus1
count  47.000000   47.000000  ...                             47  47.000000
mean   28.638222   23.513046  ...  2025-04-01 01:33:28.168893696   5.670426
min     0.497500 -178.400900  ...     2025-03-17 22:23:37.279000   5.200000
25%     7.538750  -33.540400  ...     2025-03-23 13:21:58.152000   5.300000
50%    24.867800   70.789500  ...  2025-04-01 16:54:52.984999936   5.500000
75%    51.153750  118.362350  ...     2025-04-07 13:36:41.872000   5.900000
max    83.505700  172.809900  ...     2025-04-16 03:49:49.620000   7.800000
std    22.133357  114.699000  ...                            NaN   0.554644

[8 rows x 15 columns]

In [59]:
#Getting records that are large (>5mag) earthquakes and that occurred in the southern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] < 0)]
filtered_df_1.describe()

        latitude   longitude  ...                       datetime   magPlus1
count  72.000000   72.000000  ...                             72  72.000000
mean  -23.133233   40.121068  ...  2025-04-02 12:49:36.277972224   5.526389
min   -65.070900 -178.764400  ...     2025-03-17 17:32:18.505000   5.200000
25%   -31.811150  -69.667375  ...  2025-03-26 07:16:05.243249920   5.200000
50%   -17.944550  121.606100  ...  2025-04-04 20:57:08.292499968   5.300000
75%    -6.297100  151.605175  ...  2025-04-08 19:48:30.720750080   5.700000
max    -2.831000  178.627000  ...     2025-04-16 12:41:01.967000   7.100000
std    19.322958  130.521170  ...                            NaN   0.454397

[8 rows x 15 columns]

In [60]:
#Getting records that are large (>5mag) earthquakes and that occurred in the western hemisphere, but not after 120 w longitude, also filter columns in output
filtered_df_2 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['longitude'] < 0) & (eqPastMonth['longitude'] > -120)][['depth', 'mag', 'place']]
filtered_df_2.head(10)

       depth   mag                            place
27    10.000  5.60      southern Mid-Atlantic Ridge
317   10.000  5.10             South Atlantic Ocean
762   14.290  5.21             5 km S of Julian, CA
1083  10.000  5.10                  West Chile Rise
1262  10.000  5.20    South Sandwich Islands region
2219  10.000  5.10             Easter Island region
2516  10.000  5.30       central Mid-Atlantic Ridge
2772  10.000  5.20  southeast central Pacific Ocean
2854  10.000  5.30       central Mid-Atlantic Ridge
3674  27.745  5.60    South Sandwich Islands region

You can also use the method `isin(range)` for checking the presence of Series items in range, method `isnull()` for define `null` (`NaN`) values and boolean operators `&` (`AND`) and `|` (`OR`) in complicated conditions.

As you can see after filtering result tables (i.e. DataFrames) have non-ordered indexes. To fix this trouble you may write the following:

In [61]:
filtered_df_2.reset_index().head(10)

   index   depth   mag                            place
0     27  10.000  5.60      southern Mid-Atlantic Ridge
1    317  10.000  5.10             South Atlantic Ocean
2    762  14.290  5.21             5 km S of Julian, CA
3   1083  10.000  5.10                  West Chile Rise
4   1262  10.000  5.20    South Sandwich Islands region
5   2219  10.000  5.10             Easter Island region
6   2516  10.000  5.30       central Mid-Atlantic Ridge
7   2772  10.000  5.20  southeast central Pacific Ocean
8   2854  10.000  5.30       central Mid-Atlantic Ridge
9   3674  27.745  5.60    South Sandwich Islands region

to start indexing form 0 and regularize it.

Also remember that you can add new columns and rows to the DataFrame:

In [62]:
#set new custom_score column and fill it with empty strings
eqPastMonth['custom_mag'] = ''
eqPastMonth['custom_mag'] = np.where(eqPastMonth['mag'] < 5, 'Small', "Large")
eqPastMonth.head(10)

                       time   latitude  ...  magPlus1  custom_mag
0  2025-04-16T15:22:14.240Z  38.821499  ...      1.13       Small
1  2025-04-16T15:19:27.860Z  19.203501  ...      2.26       Small
2  2025-04-16T15:04:56.790Z  40.368999  ...      3.91       Small
3  2025-04-16T15:00:49.220Z  44.342667  ...      1.86       Small
4  2025-04-16T14:59:44.190Z  38.803665  ...      0.38       Small
5  2025-04-16T14:42:52.624Z  64.556600  ...      1.70       Small
6  2025-04-16T14:38:39.010Z  36.940498  ...      1.44       Small
7  2025-04-16T14:34:00.340Z  46.615833  ...      1.03       Small
8  2025-04-16T14:30:22.000Z  33.499000  ...      1.04       Small
9  2025-04-16T14:29:29.390Z  38.799168  ...      0.84       Small

[10 rows x 26 columns]

### Work with indexes and MultiIndex option

[[back to top]](#Table-of-Contents)

Pandas allows to set specific indexes to a DataFrame. It can be defined at creating of a DataFrame:

In [63]:
import random
indexes = [random.randrange(0,100) for i in range(5)]
data = [{i:random.randint(0,10) for i in 'ABCDE'} for i in range(5)]
df = pd.DataFrame(data, index=indexes)
df

    A   B  C  D   E
84  4  10  0  3  10
84  5   4  8  9   4
63  0   7  0  6   0
21  7   7  9  6   0
74  6   5  6  2   0

Or be change any time

In [64]:
df.index = ['a', 'b', 'c', 'd', 'e']
df

   A   B  C  D   E
a  4  10  0  3  10
b  5   4  8  9   4
c  0   7  0  6   0
d  7   7  9  6   0
e  6   5  6  2   0

There is the possibility to select any column (one or more) as index column

In [65]:
# if duplicates exist you can drop duplicates to get unique values
#eqPastMonth_nodups = eqPastMonth.drop_duplicates(subset='time', keep='last')
# we don't need to do that.
# set 'time' as index
eqPastMonth_indexChange = eqPastMonth.set_index('time')
eqPastMonth_indexChange.head(10)

                           latitude   longitude  ...  magPlus1  custom_mag
time                                             ...
2025-04-16T15:22:14.240Z  38.821499 -122.762337  ...      1.13       Small
2025-04-16T15:19:27.860Z  19.203501 -155.373001  ...      2.26       Small
2025-04-16T15:04:56.790Z  40.368999 -125.008835  ...      3.91       Small
2025-04-16T15:00:49.220Z  44.342667 -115.176667  ...      1.86       Small
2025-04-16T14:59:44.190Z  38.803665 -122.779831  ...      0.38       Small
2025-04-16T14:42:52.624Z  64.556600 -149.217300  ...      1.70       Small
2025-04-16T14:38:39.010Z  36.940498 -121.473000  ...      1.44       Small
2025-04-16T14:34:00.340Z  46.615833 -119.797333  ...      1.03       Small
2025-04-16T14:30:22.000Z  33.499000 -116.441833  ...      1.04       Small
2025-04-16T14:29:29.390Z  38.799168 -122.752167  ...      0.84       Small

[10 rows x 25 columns]

By default, `set_index()` returns a new DataFrame, so you‚Äôll have to specify if you‚Äôd like the changes to occur in place.

Let‚Äôs create a many levels index for `filtered_df_2` DataFrame

In [66]:
# set 'id' & 'type' as index
eqPastMonth_multi = eqPastMonth.set_index(['id','type'])[["latitude","longitude","depth","mag", "place"]]
eqPastMonth_multi.head(10)

                          latitude  ...                                place
id           type                   ...
nc75166321   earthquake  38.821499  ...                   3 km W of Cobb, CA
hv74654467   earthquake  19.203501  ...            11 km E of PƒÅhala, Hawaii
nc75166296   earthquake  40.368999  ...            62 km WNW of Petrolia, CA
mb90078908   earthquake  44.342667  ...           23 km NW of Stanley, Idaho
nc75166291   earthquake  38.803665  ...          4 km NNW of The Geysers, CA
ak0254vjjyy6 earthquake  64.556600  ...             5 km W of Nenana, Alaska
nc75166286   earthquake  36.940498  ...               11 km SE of Gilroy, CA
uw62091961   earthquake  46.615833  ...  11 km SE of Desert Aire, Washington
ci40930047   earthquake  33.499000  ...            22 km SW of La Quinta, CA
nc75166276   earthquake  38.799168  ...          2 km NNE of The Geysers, CA

[10 rows x 5 columns]

and see the type of `eqPastMonth_multi.index()`

In [67]:
print ('type: ', type(eqPastMonth_multi.index))

type:  <class 'pandas.core.indexes.multi.MultiIndex'>

Thus, we get a new pandas class MultiIndex, which contains information about indexing of DataFrame and allows manipulating with this data. It‚Äôs interesting what is the type of `filtered_df_2.index()`?

You can get levels, labels and names values simply address it as to an attribute

### Selection by label and position
[[back to top]](#Table-of-Contents)

After reading previous three subparagraphs probably you have the question: Ok, I know now filter a DataFrame, how make it multi-indexed, but I don‚Äôt know how select any specific row in the table.
Object selection in pandas is now supported by two types of multi-axis indexing.

* `.loc` works on labels in the index;
* `.iloc` works on the positions in the index (so it only takes integers);

    
The sequence of the following examples demonstrates how we can manipulate with DataFrame‚Äôs rows.
At first let‚Äôs get the first row of equakes in the past month.

In [68]:
#To return a single record(i.e. row), in this case the first one.
eqPastMonth.loc[0]

time                 2025-04-16T15:22:14.240Z
latitude                            38.821499
longitude                         -122.762337
depth                                    1.78
mag                                      1.03
magType                                    md
nst                                      14.0
gap                                     123.0
dmin                                  0.01074
rms                                      0.02
net                                        nc
id                                 nc75166321
updated              2025-04-16T15:23:50.969Z
place                      3 km W of Cobb, CA
type                               earthquake
horizontalError                          0.29
depthError                               0.53
magError                                 0.09
magNst                                   15.0
status                              automatic
locationSource                             nc
magSource                                  nc
magPlus5                                 6.03
datetime           2025-04-16 15:22:14.240000
magPlus1                                 1.13
custom_mag                              Small
Name: 0, dtype: object

and rows from 1 to 3 (pay attention on setting of ranges in `.loc`, the right boundary is included to this range which IS different than Python lists and string data structures)

In [69]:
eqPastMonth.loc[1:3]

                       time   latitude  ...  magPlus1  custom_mag
1  2025-04-16T15:19:27.860Z  19.203501  ...      2.26       Small
2  2025-04-16T15:04:56.790Z  40.368999  ...      3.91       Small
3  2025-04-16T15:00:49.220Z  44.342667  ...      1.86       Small

[3 rows x 26 columns]

As you can see the first argument of `.loc` corresponds to index name. If you want return value of specific column(s), you should to define the name of this(these) column(s)

In [70]:
eqPastMonth.loc[0, 'place']

'3 km W of Cobb, CA'

In [71]:
eqPastMonth.loc[3:10, ['place', 'mag']]

                                  place   mag
3            23 km NW of Stanley, Idaho  1.76
4           4 km NNW of The Geysers, CA  0.28
5              5 km W of Nenana, Alaska  1.60
6                11 km SE of Gilroy, CA  1.34
7   11 km SE of Desert Aire, Washington  0.93
8             22 km SW of La Quinta, CA  0.94
9           2 km NNE of The Geysers, CA  0.74
10      9 km NW of Tonasket, Washington  3.03

Let‚Äôs repeat that the first argument of `.loc` is not row number but name of the index for this row

But if it is necessary to obtain rows by it number you may use `.iloc`

In [72]:
eqPastMonth.iloc[0]

time                 2025-04-16T15:22:14.240Z
latitude                            38.821499
longitude                         -122.762337
depth                                    1.78
mag                                      1.03
magType                                    md
nst                                      14.0
gap                                     123.0
dmin                                  0.01074
rms                                      0.02
net                                        nc
id                                 nc75166321
updated              2025-04-16T15:23:50.969Z
place                      3 km W of Cobb, CA
type                               earthquake
horizontalError                          0.29
depthError                               0.53
magError                                 0.09
magNst                                   15.0
status                              automatic
locationSource                             nc
magSource                                  nc
magPlus5                                 6.03
datetime           2025-04-16 15:22:14.240000
magPlus1                                 1.13
custom_mag                              Small
Name: 0, dtype: object

In [73]:
eqPastMonth.iloc[1:5,3:5]

   depth   mag
1  30.68  2.16
2   2.99  3.81
3  10.84  1.76
4   3.24  0.28

In the first case column‚Äôs number coincides with its name. The second example demonstrates the difference between `.loc` and `.iloc`

In [74]:
eqPastMonth.loc[1:5]

                       time   latitude  ...  magPlus1  custom_mag
1  2025-04-16T15:19:27.860Z  19.203501  ...      2.26       Small
2  2025-04-16T15:04:56.790Z  40.368999  ...      3.91       Small
3  2025-04-16T15:00:49.220Z  44.342667  ...      1.86       Small
4  2025-04-16T14:59:44.190Z  38.803665  ...      0.38       Small
5  2025-04-16T14:42:52.624Z  64.556600  ...      1.70       Small

[5 rows x 26 columns]

### Work with missing data

[[back to top]](#Table-of-Contents)

Pandas primarily uses the value `np.nan` to represent missing data (in table missed/empty value are marked by `NaN`). It is by default not included in computations. Missing data creates many issues at mathematical or computational tasks with DataFrames and Series and it‚Äôs important to know how fight with these values.

Previously we have learned how to check `null` and `non-null` values in the DataFrame and Series and how to miss `null` row in the table. But what to do if we need to use rows with `null` data, for example, find sum of all values in the dataset?

Let‚Äôs try do this

In [75]:
magError = eqPastMonth['magError']
sum(magError)

nan

The result is unexpected because there many `non-null` values in `eqPastMonth['magError']` Series. Sure, we could filter `magError['magError']`  and remain only `non-null` values. But what if we need sum all numerical values in `magError`? This way will be powerless or too complicated, because we will drop all row items even there is only one `null` value in this row. You can try to do this yourself.

To solve the assigned task you may use an elegant pandas method `fillna(value)`, which replace all `null` values by value.

In [76]:
magError = eqPastMonth['magError'].fillna(0)
magError.median()

0.141

In [79]:
eqPastMonth_fillna = eqPastMonth.fillna(0)
eqPastMonth_fillna.head(10)

                       time   latitude  ...  magPlus1  custom_mag
0  2025-04-16T15:22:14.240Z  38.821499  ...      1.13       Small
1  2025-04-16T15:19:27.860Z  19.203501  ...      2.26       Small
2  2025-04-16T15:04:56.790Z  40.368999  ...      3.91       Small
3  2025-04-16T15:00:49.220Z  44.342667  ...      1.86       Small
4  2025-04-16T14:59:44.190Z  38.803665  ...      0.38       Small
5  2025-04-16T14:42:52.624Z  64.556600  ...      1.70       Small
6  2025-04-16T14:38:39.010Z  36.940498  ...      1.44       Small
7  2025-04-16T14:34:00.340Z  46.615833  ...      1.03       Small
8  2025-04-16T14:30:22.000Z  33.499000  ...      1.04       Small
9  2025-04-16T14:29:29.390Z  38.799168  ...      0.84       Small

[10 rows x 26 columns]

Thus, we replace all `NaN` items to `0`. If `inplace=True` in `fillna()` method, then a DataFrame renew.
   
To remain only rows with `non-null` values you can use method `dropna()`

In [85]:
# Drop rows with any missing values
eqPastMonth_fillna = eqPastMonth.dropna(axis=0)
# Print mean of each numeric column
print(eqPastMonth_fillna.mean(numeric_only=True))
# Show the first 10 rows of the cleaned DataFrame
eqPastMonth_fillna.head(10)

latitude            35.520464
longitude         -101.924453
depth               17.320879
mag                  1.470220
nst                 23.799040
gap                112.544884
dmin                 0.492024
rms                  0.207807
horizontalError      1.613937
depthError           2.385313
magError             0.171903
magNst              19.354020
magPlus5             6.470220
magPlus1             1.570220
dtype: float64

                        time   latitude  ...  magPlus1  custom_mag
0   2025-04-16T15:22:14.240Z  38.821499  ...      1.13       Small
1   2025-04-16T15:19:27.860Z  19.203501  ...      2.26       Small
2   2025-04-16T15:04:56.790Z  40.368999  ...      3.91       Small
3   2025-04-16T15:00:49.220Z  44.342667  ...      1.86       Small
4   2025-04-16T14:59:44.190Z  38.803665  ...      0.38       Small
7   2025-04-16T14:34:00.340Z  46.615833  ...      1.03       Small
8   2025-04-16T14:30:22.000Z  33.499000  ...      1.04       Small
9   2025-04-16T14:29:29.390Z  38.799168  ...      0.84       Small
10  2025-04-16T14:23:43.970Z  48.760000  ...      3.13       Small
12  2025-04-16T14:15:14.290Z  33.050167  ...      0.78       Small

[10 rows x 26 columns]

We can manipulate by `null` values and columns using parameters subset and how to set analyzing columns and type of analysis respectively

> ### Exercise 1

> - Get type of `‚Äúlatitude‚Äù` column in `eqPastMonth`. 

> - In `eqPastMonth` find all rows where `magType` corresponds to the value `"md"` and where `mag` is less `5` and `not-null` `magError`. Call the obtained DataFrmae as `eqPastMonth_md_large`.

In [86]:
# type your code here
eqPastMonth_md_large = eqPastMonth