---
<center><h1>Basic intro into pandas</h1></center> 
---
---

<center><h2>Working with pandas DataFrames: grouping</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: grouping](#Work-with-pandas-DataFrames:-grouping)
    * [Splitting of a DataFrame into groups](#Splitting-of-a-DataFrame-into-groups)
    * [Selection and filtering](#Selection-and-filtering)
    * [Aggregation and function application](#Aggregation-and-function-application)
    - [*Exercise 1*](#Exercise-1)

In [145]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: grouping

[[back to top]](#Table-of-Contents)

We will a werather station dataset so that we can see what is going on when we group.

In [146]:
from arcgis.features import GeoAccessor, GeoSeriesAccessor
#Import a COVID data layer.  This layer contains the updated stats for each county in the United States
from arcgis.features import FeatureLayer
mylayer = FeatureLayer(("https://services9.arcgis.com/RHVPKKiFTONKtxq3/arcgis/rest/services/NOAA_METAR_current_wind_speed_direction_v1/FeatureServer/0"))
sdf2 = pd.DataFrame.spatial.from_layer(mylayer)
sdf2.head(5)

   OBJECTID  ICAO  ... LONGITUDE                                              SHAPE
0         1  YBWP  ...    141.92  {"x": 15798462.1334, "y": -1423196.3836000003,...
1         2  KDTA  ...   -112.50  {"x": -12523442.714200001, "y": 4776250.407300...
2         3  PKWA  ...    167.72  {"x": 18670504.995800003, "y": 974475.15549999...
3         4  PAII  ...   -157.38  {"x": -17519461.461, "y": 8005225.349699996, "...
4         5  PAHL  ...   -156.35  {"x": -17404802.3855, "y": 9795217.7636, "spat...

[5 rows x 22 columns]

In [147]:
sdfUSA = sdf2.loc[sdf2["COUNTRY"].apply(lambda x: "United States Of America" in str(x))]
sdfUSA["State"] = sdfUSA['COUNTRY'].apply(lambda x: str(x).split(",")[0])
sdfUSA["COUNTRY"] = sdfUSA['COUNTRY'].apply(lambda x: str(x).split(",")[1])
sdfUSA

D66140B0-0277-45FF-AE18-A787BE3D4AAF:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D66140B0-0277-45FF-AE18-A787BE3D4AAF:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      OBJECTID  ...             State
1            2  ...              Utah
2            3  ...  Marshall Islands
3            4  ...            Alaska
4            5  ...            Alaska
7            8  ...         Tennessee
...        ...  ...               ...
4728      4729  ...         Minnesota
4729      4730  ...           Florida
4739      4740  ...       Mississippi
4742      4743  ...            Alaska
4765      4766  ...              Ohio

[2376 rows x 23 columns]

In [148]:
sdfUSA.dtypes

OBJECTID                 int64
ICAO                    object
OBS_DATETIME    datetime64[ns]
STATION_NAME            object
COUNTRY                 object
ELEVATION              float64
TEMP                   float64
DEW_POINT              float64
R_HUMIDITY             float64
WIND_DIRECT            float64
WIND_SPEED               int64
WIND_GUST                int64
WIND_CHILL             float64
VISIBILITY             float64
PRESSURE               float64
SKY_CONDTN              object
WEATHER                 object
REMARKS                 object
HEAT_INDEX             float64
LATITUDE               float64
LONGITUDE              float64
SHAPE                 geometry
State                   object
dtype: object

So, let’s shortly describe what you will know after reading the blog post:
1.	how to split a DataFrame into a group;
2.	how select a group in the grouped DataFrame and filter the grouping data;
3.	how aggregate grouping data and how apply many function at once to the grouping data;

### Splitting of a DataFrame into groups

[[back to top]](#Table-of-Contents)

pandas DataFrames can be split on any of their axes. Grouping denotes the providence of a mapping of labels to group names. Method `groupby()` is provided in pandas for grouping. The `groupby()` function returns a `GroupBy` object, but essentially describes how the rows of the original data set has been split.

In [231]:
sdfUSA_grouped = sdfUSA.groupby('State')
sdfUSA_grouped

In [232]:
sdfUSA_grouped['COUNTRY']

Use `list()` to show what a grouping looks like

In [233]:
list(sdfUSA_grouped)

[('Alabama',       OBJECTID  ...    State
1132      1133  ...  Alabama
1147      1148  ...  Alabama
1150      1151  ...  Alabama
1154      1155  ...  Alabama
1161      1162  ...  Alabama
1180      1181  ...  Alabama
1345      1346  ...  Alabama
1372      1373  ...  Alabama
1381      1382  ...  Alabama
1450      1451  ...  Alabama
1470      1471  ...  Alabama
1532      1533  ...  Alabama
1535      1536  ...  Alabama
1607      1608  ...  Alabama
1721      1722  ...  Alabama
1728      1729  ...  Alabama
1818      1819  ...  Alabama
1929      1930  ...  Alabama
2015      2016  ...  Alabama
2019      2020  ...  Alabama
2222      2223  ...  Alabama
2297      2298  ...  Alabama
2314      2315  ...  Alabama
2427      2428  ...  Alabama
2442      2443  ...  Alabama
2471      2472  ...  Alabama
2514      2515  ...  Alabama
2515      2516  ...  Alabama
2563      2564  ...  Alabama
2814      2815  ...  Alabama
2822      2823  ...  Alabama
2944      2945  ...  Alabama
2966      2967  ...  Alabama
3037      3038  ...  Alabama
3059      3060  ...  Alabama
3130      3131  ...  Alabama
3151      3152  ...  Alabama
3220      3221  ...  Alabama
3223      3224  ...  Alabama
3246      3247  ...  Alabama
4994      4995  ...  Alabama

[41 rows x 23 columns]), ('Alaska',       OBJECTID  ICAO  ...                                              SHAPE   State
1            2  PAJZ  ...  {"x": -17507216.3171, "y": 8339869.139899999, ...  Alaska
2            3  PAIW  ...  {"x": -18712806.4023, "y": 9773610.204599999, ...  Alaska
7            8  PFEL  ...  {"x": -18063813.771, "y": 9508982.2672, "spati...  Alaska
8            9  PAVA  ...  {"x": -18434507.6754, "y": 8748547.709399998, ...  Alaska
9           10  PAKK  ...  {"x": -17939135.9413, "y": 9589957.312600002, ...  Alaska
...        ...   ...  ...                                                ...     ...
4099      4100  PAPM  ...  {"x": -18013720.0002, "y": 8184710.909599997, ...  Alaska
4148      4149  PAGB  ...  {"x": -16640037.4838, "y": 10591137.204099998,...  Alaska
4154      4155  PAQT  ...  {"x": -16809243.1098, "y": 11140701.026500002,...  Alaska
4991      4992  PASY  ...  {"x": 19382949.7369, "y": 6931372.512900002, "...  Alaska
4999      5000  PANW  ...  {"x": -17512782.2916, "y": 8278291.432099998, ...  Alaska

[128 rows x 23 columns]), ('Arizona',       OBJECTID  ...    State
1109      1110  ...  Arizona
1145      1146  ...  Arizona
1148      1149  ...  Arizona
1155      1156  ...  Arizona
1160      1161  ...  Arizona
1163      1164  ...  Arizona
1192      1193  ...  Arizona
1197      1198  ...  Arizona
1418      1419  ...  Arizona
1499      1500  ...  Arizona
1523      1524  ...  Arizona
1639      1640  ...  Arizona
1697      1698  ...  Arizona
1719      1720  ...  Arizona
1837      1838  ...  Arizona
1839      1840  ...  Arizona
2007      2008  ...  Arizona
2088      2089  ...  Arizona
2313      2314  ...  Arizona
2365      2366  ...  Arizona
2412      2413  ...  Arizona
2420      2421  ...  Arizona
2464      2465  ...  Arizona
2642      2643  ...  Arizona
2663      2664  ...  Arizona
2695      2696  ...  Arizona
2700      2701  ...  Arizona
2805      2806  ...  Arizona
2848      2849  ...  Arizona
2864      2865  ...  Arizona
2883      2884  ...  Arizona
2898      2899  ...  Arizona
3135      3136  ...  Arizona
3360      3361  ...  Arizona
3366      3367  ...  Arizona
3382      3383  ...  Arizona
3595      3596  ...  Arizona
3907      3908  ...  Arizona
3924      3925  ...  Arizona
3926      3927  ...  Arizona
3930      3931  ...  Arizona
3957      3958  ...  Arizona

[42 rows x 23 columns]), ('Arkansas',       OBJECTID  ...     State
1139      1140  ...  Arkansas
1287      1288  ...  Arkansas
1301      1302  ...  Arkansas
1306      1307  ...  Arkansas
1313      1314  ...  Arkansas
1392      1393  ...  Arkansas
1397      1398  ...  Arkansas
1458      1459  ...  Arkansas
1505      1506  ...  Arkansas
1521      1522  ...  Arkansas
1528      1529  ...  Arkansas
1687      1688  ...  Arkansas
1926      1927  ...  Arkansas
2281      2282  ...  Arkansas
2342      2343  ...  Arkansas
2347      2348  ...  Arkansas
2510      2511  ...  Arkansas
2783      2784  ...  Arkansas
2801      2802  ...  Arkansas
2860      2861  ...  Arkansas
2905      2906  ...  Arkansas
2995      2996  ...  Arkansas
2997      2998  ...  Arkansas
3017      3018  ...  Arkansas
3039      3040  ...  Arkansas
3042      3043  ...  Arkansas
3048      3049  ...  Arkansas
3089      3090  ...  Arkansas
3096      3097  ...  Arkansas
3129      3130  ...  Arkansas
3157      3158  ...  Arkansas
3209      3210  ...  Arkansas
3234      3235  ...  Arkansas
3612      3613  ...  Arkansas
3909      3910  ...  Arkansas
4145      4146  ...  Arkansas

[36 rows x 23 columns]), ('California',       OBJECTID  ...       State
13          14  ...  California
1129      1130  ...  California
1133      1134  ...  California
1134      1135  ...  California
1135      1136  ...  California
...        ...  ...         ...
3962      3963  ...  California
3966      3967  ...  California
4018      4019  ...  California
5041      5042  ...  California
5042      5043  ...  California

[131 rows x 23 columns]), ('Colorado',       OBJECTID  ...     State
1111      1112  ...  Colorado
1117      1118  ...  Colorado
1164      1165  ...  Colorado
1167      1168  ...  Colorado
1171      1172  ...  Colorado
...        ...  ...       ...
3238      3239  ...  Colorado
3243      3244  ...  Colorado
3337      3338  ...  Colorado
3970      3971  ...  Colorado
4993      4994  ...  Colorado

[64 rows x 23 columns]), ('Connecticut',       OBJECTID  ...        State
1444      1445  ...  Connecticut
1702      1703  ...  Connecticut
2950      2951  ...  Connecticut
3034      3035  ...  Connecticut
3054      3055  ...  Connecticut
3133      3134  ...  Connecticut
3305      3306  ...  Connecticut
3332      3333  ...  Connecticut
3369      3370  ...  Connecticut
3401      3402  ...  Connecticut

[10 rows x 23 columns]), ('Delaware',       OBJECTID  ...     State
1484      1485  ...  Delaware
2534      2535  ...  Delaware
2694      2695  ...  Delaware
3381      3382  ...  Delaware

[4 rows x 23 columns]), ('Florida',       OBJECTID  ...    State
14          15  ...  Florida
28          29  ...  Florida
32          33  ...  Florida
963        964  ...  Florida
967        968  ...  Florida
...        ...  ...      ...
3931      3932  ...  Florida
3969      3970  ...  Florida
5001      5002  ...  Florida
5002      5003  ...  Florida
5046      5047  ...  Florida

[95 rows x 23 columns]), ('Georgia',       OBJECTID  ...    State
1280      1281  ...  Georgia
1298      1299  ...  Georgia
1388      1389  ...  Georgia
1393      1394  ...  Georgia
1396      1397  ...  Georgia
...        ...  ...      ...
3599      3600  ...  Georgia
3615      3616  ...  Georgia
3618      3619  ...  Georgia
3619      3620  ...  Georgia
5000      5001  ...  Georgia

[79 rows x 23 columns]), ('Guam',       OBJECTID  ICAO  ...                                              SHAPE State
1210      1211  PGUA  ...  {"x": 16132420.605800003, "y": 1524929.4087000...  Guam
2626      2627  PGUM  ...  {"x": 16119062.266900003, "y": 1514624.8880999...  Guam

[2 rows x 23 columns]), ('Hawaii',       OBJECTID  ICAO  ...                                              SHAPE   State
1124      1125  PHSF  ...  {"x": -17315746.7929, "y": 2245804.081799999, ...  Hawaii
1185      1186  PHNG  ...  {"x": -17562876.0625, "y": 2443225.9739000015,...  Hawaii
1206      1207  PMDY  ...  {"x": -19744738.082, "y": 3276739.1774000004, ...  Hawaii
1207      1208  PHNY  ...  {"x": -17471594.08, "y": 2364474.5802999996, "...  Hawaii
1208      1209  PHHI  ...  {"x": -17594045.5199, "y": 2449206.3586999997,...  Hawaii
1209      1210  PHBK  ...  {"x": -17786628.2389, "y": 2515127.474199999, ...  Hawaii
2624      2625  PHOG  ...  {"x": -17413707.9448, "y": 2379958.6429000013,...  Hawaii
2625      2626  PHMK  ...  {"x": -17488292.0036, "y": 2409773.4990000017,...  Hawaii
2742      2743  PHTO  ...  {"x": -17260087.0475, "y": 2239890.416099999, ...  Hawaii
2743      2744  PHNL  ...  {"x": -17580687.181, "y": 2431271.342599999, "...  Hawaii
2744      2745  PHLI  ...  {"x": -17736534.4681, "y": 2507923.7575000003,...  Hawaii
2745      2746  PHKO  ...  {"x": -17371406.5383, "y": 2241073.0011, "spat...  Hawaii
2746      2747  PHJR  ...  {"x": -17596271.9097, "y": 2430076.3282999992,...  Hawaii

[13 rows x 23 columns]), ('Idaho',       OBJECTID  ICAO  ...                                              SHAPE  State
4            5  KSMN  ...  {"x": -12675950.4166, "y": 5640432.8549000025,...  Idaho
39          40  KBOI  ...  {"x": -12938664.414900001, "y": 5399138.0493, ...  Idaho
977        978  K1U7  ...  {"x": -12393198.91, "y": 5198502.107799999, "s...  Idaho
1112      1113  KMYL  ...  {"x": -12924192.881099999, "y": 5605792.247199...  Idaho
1142      1143  KMUO  ...  {"x": -12898589.3982, "y": 5316539.268200003, ...  Idaho
1394      1395  KLWS  ...  {"x": -13026606.8126, "y": 5839841.5336000025,...  Idaho
1465      1466  KEUL  ...  {"x": -12982079.0163, "y": 5408361.233199999, ...  Idaho
1485      1486  KDIJ  ...  {"x": -12367595.427099999, "y": 5426835.265500...  Idaho
1496      1497  KCOE  ...  {"x": -13004342.9145, "y": 6068675.970700003, ...  Idaho
1676      1677  KSZT  ...  {"x": -12976513.0418, "y": 6156910.055399999, ...  Idaho
1937      1938  KMAN  ...  {"x": -12970947.067200001, "y": 5400674.608099...  Idaho
1973      1974  KLLJ  ...  {"x": -12714912.238400001, "y": 5546269.209299...  Idaho
2124      2125  KGNG  ...  {"x": -12775766.8934, "y": 5299296.253399998, ...  Idaho
2132      2133  KGIC  ...  {"x": -12926419.2709, "y": 5772340.3024, "spat...  Idaho
2494      2495  K65S  ...  {"x": -12946456.7793, "y": 6229171.6044000015,...  Idaho
2855      2856  KRXE  ...  {"x": -12445519.070700001, "y": 5439171.870899...  Idaho
2895      2896  KPIH  ...  {"x": -12531235.0786, "y": 5299802.947700001, ...  Idaho
2954      2955  KMLP  ...  {"x": -12876325.5001, "y": 6015837.3544000015,...  Idaho
3025      3026  KIDA  ...  {"x": -12475575.3332, "y": 5391459.078900002, ...  Idaho
3196      3197  KBYI  ...  {"x": -12664818.4676, "y": 5243726.168300003, ...  Idaho
3283      3284  KP69  ...  {"x": -12868533.1357, "y": 5804419.495099999, ...  Idaho
3353      3354  KSNT  ...  {"x": -12793949.0769, "y": 5491787.875200003, ...  Idaho
3915      3916  KSUN  ...  {"x": -12721591.4079, "y": 5388389.2727999985,...  Idaho
5047      5048  KJER  ...  {"x": -12740515.7213, "y": 5269449.638999999, ...  Idaho

[24 rows x 23 columns]), ('Illinois',       OBJECTID  ...     State
1198      1199  ...  Illinois
1302      1303  ...  Illinois
1374      1375  ...  Illinois
1493      1494  ...  Illinois
1508      1509  ...  Illinois
1509      1510  ...  Illinois
1601      1602  ...  Illinois
1632      1633  ...  Illinois
1661      1662  ...  Illinois
1669      1670  ...  Illinois
1707      1708  ...  Illinois
1717      1718  ...  Illinois
1750      1751  ...  Illinois
1756      1757  ...  Illinois
1806      1807  ...  Illinois
1808      1809  ...  Illinois
1813      1814  ...  Illinois
1867      1868  ...  Illinois
1906      1907  ...  Illinois
1964      1965  ...  Illinois
2011      2012  ...  Illinois
2039      2040  ...  Illinois
2041      2042  ...  Illinois
2044      2045  ...  Illinois
2055      2056  ...  Illinois
2075      2076  ...  Illinois
2144      2145  ...  Illinois
2154      2155  ...  Illinois
2166      2167  ...  Illinois
2180      2181  ...  Illinois
2204      2205  ...  Illinois
2255      2256  ...  Illinois
2327      2328  ...  Illinois
2357      2358  ...  Illinois
2361      2362  ...  Illinois
2445      2446  ...  Illinois
2463      2464  ...  Illinois
2525      2526  ...  Illinois
2561      2562  ...  Illinois
2583      2584  ...  Illinois
2637      2638  ...  Illinois
2652      2653  ...  Illinois
2659      2660  ...  Illinois
2708      2709  ...  Illinois
2936      2937  ...  Illinois
2968      2969  ...  Illinois
2982      2983  ...  Illinois
3174      3175  ...  Illinois
3181      3182  ...  Illinois
3275      3276  ...  Illinois
3280      3281  ...  Illinois
3295      3296  ...  Illinois
3301      3302  ...  Illinois
3315      3316  ...  Illinois
3335      3336  ...  Illinois
3371      3372  ...  Illinois
3910      3911  ...  Illinois
3959      3960  ...  Illinois

[58 rows x 23 columns]), ('Indiana',       OBJECTID  ...    State
1116      1117  ...  Indiana
1283      1284  ...  Indiana
1350      1351  ...  Indiana
1430      1431  ...  Indiana
1437      1438  ...  Indiana
1638      1639  ...  Indiana
1741      1742  ...  Indiana
1779      1780  ...  Indiana
1809      1810  ...  Indiana
1845      1846  ...  Indiana
1888      1889  ...  Indiana
1904      1905  ...  Indiana
1925      1926  ...  Indiana
2005      2006  ...  Indiana
2035      2036  ...  Indiana
2086      2087  ...  Indiana
2091      2092  ...  Indiana
2114      2115  ...  Indiana
2120      2121  ...  Indiana
2135      2136  ...  Indiana
2161      2162  ...  Indiana
2171      2172  ...  Indiana
2267      2268  ...  Indiana
2336      2337  ...  Indiana
2358      2359  ...  Indiana
2426      2427  ...  Indiana
2439      2440  ...  Indiana
2645      2646  ...  Indiana
2682      2683  ...  Indiana
2690      2691  ...  Indiana
2698      2699  ...  Indiana
2702      2703  ...  Indiana
2959      2960  ...  Indiana
3065      3066  ...  Indiana
3084      3085  ...  Indiana
3118      3119  ...  Indiana
3214      3215  ...  Indiana
3607      3608  ...  Indiana
3613      3614  ...  Indiana
3964      3965  ...  Indiana
5048      5049  ...  Indiana

[41 rows x 23 columns]), ('Iowa',       OBJECTID  ICAO  ...                                              SHAPE State
1455      1456  KFOD  ...  {"x": -10482956.448, "y": 5240704.489100002, "...  Iowa
1490      1491  KCWI  ...  {"x": -10054376.4084, "y": 5134054.336400002, ...  Iowa
1606      1607  KVTI  ...  {"x": -10243619.5428, "y": 5193991.557700001, ...  Iowa
1652      1653  KTNU  ...  {"x": -10354939.0336, "y": 5111674.508599997, ...  Iowa
1682      1683  KSXK  ...  {"x": -10705595.4296, "y": 5308928.138300002, ...  Iowa
1709      1710  KSLB  ...  {"x": -10600955.1082, "y": 5251284.604999997, ...  Iowa
1714      1715  KSHL  ...  {"x": -10667746.8027, "y": 5345518.266800001, ...  Iowa
1724      1725  KSDA  ...  {"x": -10622105.8115, "y": 4975536.361100003, ...  Iowa
1775      1776  KRDK  ...  {"x": -10605407.8879, "y": 5015292.107000001, ...  Iowa
1805      1806  KPRO  ...  {"x": -10482956.448, "y": 5135548.1866, "spati...  Iowa
1829      1830  KPEA  ...  {"x": -10347146.6692, "y": 5071521.811399996, ...  Iowa
1844      1845  KOXV  ...  {"x": -10366070.9827, "y": 5053729.738300003, ...  Iowa
1858      1859  KOOA  ...  {"x": -10297052.8984, "y": 5046326.032200001, ...  Iowa
1866      1867  KOLZ  ...  {"x": -10238053.5683, "y": 5261876.613600001, ...  Iowa
1892      1893  KMXO  ...  {"x": -10148997.9756, "y": 5193991.557700001, ...  Iowa
1897      1898  KMUT  ...  {"x": -10146771.5858, "y": 5067070.718199998, ...  Iowa
1907      1908  KMPZ  ...  {"x": -10187959.7974, "y": 5004969.470200002, ...  Iowa
1962      1963  KLRJ  ...  {"x": -10708935.0143, "y": 5277028.769400001, ...  Iowa
2038      2039  KIKV  ...  {"x": -10416164.7535, "y": 5113164.872299999, ...  Iowa
2043      2044  KIIB  ...  {"x": -10235827.1784, "y": 5228627.436399996, ...  Iowa
2045      2046  KIFA  ...  {"x": -10382768.9063, "y": 5231645.251999997, ...  Iowa
2049      2050  KICL  ...  {"x": -10577578.0152, "y": 4971129.0405, "spat...  Iowa
2051      2052  KI75  ...  {"x": -10428409.8975, "y": 5019719.452100001, ...  Iowa
2080      2081  KHPT  ...  {"x": -10378316.1267, "y": 5269449.638999999, ...  Iowa
2082      2083  KHNR  ...  {"x": -10612087.0573, "y": 5098271.638700001, ...  Iowa
2136      2137  KGGI  ...  {"x": -10322656.3813, "y": 5119128.644199997, ...  Iowa
2152      2153  KFXY  ...  {"x": -10421730.7281, "y": 5347045.9750000015,...  Iowa
2157      2158  KFSW  ...  {"x": -10165695.8992, "y": 4963787.9177, "spat...  Iowa
2178      2179  KFFL  ...  {"x": -10238053.5683, "y": 5019719.452100001, ...  Iowa
2203      2204  KEOK  ...  {"x": -10176827.8483, "y": 4934478.312799998, ...  Iowa
2227      2228  KEBS  ...  {"x": -10449560.6008, "y": 5225610.584200002, ...  Iowa
2256      2257  KDNS  ...  {"x": -10616539.837, "y": 5157984.011699997, "...  Iowa
2265      2266  KDEH  ...  {"x": -10211336.8905, "y": 5353159.315700002, ...  Iowa
2293      2294  KCSQ  ...  {"x": -10505220.3462, "y": 5015292.107000001, ...  Iowa
2310      2311  KCNC  ...  {"x": -10393900.8554, "y": 5015292.107000001, ...  Iowa
2320      2321  KCKP  ...  {"x": -10636577.3453, "y": 5270964.976099998, ...  Iowa
2328      2329  KCIN  ...  {"x": -10550861.3374, "y": 5165474.358400002, ...  Iowa
2344      2345  KCCY  ...  {"x": -10310411.2373, "y": 5322632.6373, "spat...  Iowa
2350      2351  KCBF  ...  {"x": -10661067.6333, "y": 5052248.5436, "spat...  Iowa
2352      2353  KCAV  ...  {"x": -10438428.6517, "y": 5273996.383599997, ...  Iowa
2382      2383  KBNW  ...  {"x": -10445107.8211, "y": 5165474.358400002, ...  Iowa
2418      2419  KAXA  ...  {"x": -10494088.3971, "y": 5322632.6373, "spat...  Iowa
2419      2420  KAWG  ...  {"x": -10204657.721, "y": 5052248.5436, "spati...  Iowa
2446      2447  KAIO  ...  {"x": -10578691.2101, "y": 5071521.811399996, ...  Iowa
2455      2456  KADU  ...  {"x": -10566446.0661, "y": 5116146.2946000025,...  Iowa
2707      2708  KDSM  ...  {"x": -10427296.7026, "y": 5090833.6708, "spat...  Iowa
2728      2729  KALO  ...  {"x": -10285920.9493, "y": 5243726.168300003, ...  Iowa
2832      2833  KSPW  ...  {"x": -10599841.9133, "y": 5337883.4815, "spat...  Iowa
2914      2915  KOTM  ...  {"x": -10291486.9238, "y": 5027102.849100001, ...  Iowa
2969      2970  KMCW  ...  {"x": -10389448.0757, "y": 5334831.317599997, ...  Iowa
2983      2984  KLWD  ...  {"x": -10452900.1855, "y": 4957918.981899999, ...  Iowa
3159      3160  KDBQ  ...  {"x": -10096677.8149, "y": 5221087.110299997, ...  Iowa
3206      3207  KBRL  ...  {"x": -10144545.196, "y": 4978475.679499999, "...  Iowa
3247      3248  KAMW  ...  {"x": -10421730.7281, "y": 5157984.011699997, ...  Iowa
3273      3274  KSUX  ...  {"x": -10728972.5227, "y": 5218072.6625000015,...  Iowa
3304      3305  KIOW  ...  {"x": -10191299.3821, "y": 5105715.367700003, ...  Iowa
3313      3314  KEST  ...  {"x": -10547521.7527, "y": 5373055.471900001, ...  Iowa
3314      3315  KDVN  ...  {"x": -10083319.4761, "y": 5104226.1603000015,...  Iowa
3324      3325  KCID  ...  {"x": -10210223.6956, "y": 5143020.940700002, ...  Iowa
4031      4032  KTVK  ...  {"x": -10341580.6947, "y": 4965255.7016, "spat...  Iowa

[60 rows x 23 columns]), ('Johnston/Wake/Xmas',       OBJECTID  ...               State
570        571  ...  Johnston/Wake/Xmas
1123      1124  ...  Johnston/Wake/Xmas

[2 rows x 23 columns]), ('Kansas',       OBJECTID  ICAO  ...                                              SHAPE   State
1344      1345  KP28  ...  {"x": -10970535.8177, "y": 4478207.3715, "spat...  Kansas
1405      1406  KLBL  ...  {"x": -11239928.9854, "y": 4443289.225699998, ...  Kansas
1420      1421  KIAB  ...  {"x": -10828046.8695, "y": 4525882.767499998, ...  Kansas
1421      1422  KHYS  ...  {"x": -11050685.851, "y": 4700208.078500003, "...  Kansas
1448      1449  KGBD  ...  {"x": -11006158.0547, "y": 4628987.747000001, ...  Kansas
1454      1455  KFRI  ...  {"x": -10772387.1241, "y": 4728836.176299997, ...  Kansas
1464      1465  KEWK  ...  {"x": -10828046.8695, "y": 4586491.5458, "spat...  Kansas
1627      1628  KULS  ...  {"x": -11284456.7817, "y": 4523072.3191, "spat...  Kansas
1630      1631  KUKL  ...  {"x": -10656614.8536, "y": 4621892.8671, "spat...  Kansas
1647      1648  KTQK  ...  {"x": -11229910.2312, "y": 4646035.474799998, ...  Kansas
1680      1681  KSYF  ...  {"x": -11332324.1628, "y": 4832575.381200001, ...  Kansas

As it can be easily seen, the `GroupBy` object is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group.

In [234]:
for key, value in list(sdfUSA_grouped)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in short_grouped:
    print (key)
    print (value)

Alabama
      OBJECTID  ...    State
1132      1133  ...  Alabama
1147      1148  ...  Alabama
1150      1151  ...  Alabama
1154      1155  ...  Alabama
1161      1162  ...  Alabama
1180      1181  ...  Alabama
1345      1346  ...  Alabama
1372      1373  ...  Alabama
1381      1382  ...  Alabama
1450      1451  ...  Alabama
1470      1471  ...  Alabama
1532      1533  ...  Alabama
1535      1536  ...  Alabama
1607      1608  ...  Alabama
1721      1722  ...  Alabama
1728      1729  ...  Alabama
1818      1819  ...  Alabama
1929      1930  ...  Alabama
2015      2016  ...  Alabama
2019      2020  ...  Alabama
2222      2223  ...  Alabama
2297      2298  ...  Alabama
2314      2315  ...  Alabama
2427      2428  ...  Alabama
2442      2443  ...  Alabama
2471      2472  ...  Alabama
2514      2515  ...  Alabama
2515      2516  ...  Alabama
2563      2564  ...  Alabama
2814      2815  ...  Alabama
2822      2823  ...  Alabama
2944      2945  ...  Alabama
2966      2967  ...  Alabama
3037      3038  ...  Alabama
3059      3060  ...  Alabama
3130      3131  ...  Alabama
3151      3152  ...  Alabama
3220      3221  ...  Alabama
3223      3224  ...  Alabama
3246      3247  ...  Alabama
4994      4995  ...  Alabama

[41 rows x 23 columns]
Alaska
      OBJECTID  ICAO  ...                                              SHAPE   State
1            2  PAJZ  ...  {"x": -17507216.3171, "y": 8339869.139899999, ...  Alaska
2            3  PAIW  ...  {"x": -18712806.4023, "y": 9773610.204599999, ...  Alaska
7            8  PFEL  ...  {"x": -18063813.771, "y": 9508982.2672, "spati...  Alaska
8            9  PAVA  ...  {"x": -18434507.6754, "y": 8748547.709399998, ...  Alaska
9           10  PAKK  ...  {"x": -17939135.9413, "y": 9589957.312600002, ...  Alaska
...        ...   ...  ...                                                ...     ...
4099      4100  PAPM  ...  {"x": -18013720.0002, "y": 8184710.909599997, ...  Alaska
4148      4149  PAGB  ...  {"x": -16640037.4838, "y": 10591137.204099998,...  Alaska
4154      4155  PAQT  ...  {"x": -16809243.1098, "y": 11140701.026500002,...  Alaska
4991      4992  PASY  ...  {"x": 19382949.7369, "y": 6931372.512900002, "...  Alaska
4999      5000  PANW  ...  {"x": -17512782.2916, "y": 8278291.432099998, ...  Alaska

[128 rows x 23 columns]
Arizona
      OBJECTID  ...    State
1109      1110  ...  Arizona
1145      1146  ...  Arizona
1148      1149  ...  Arizona
1155      1156  ...  Arizona
1160      1161  ...  Arizona
1163      1164  ...  Arizona
1192      1193  ...  Arizona
1197      1198  ...  Arizona
1418      1419  ...  Arizona
1499      1500  ...  Arizona
1523      1524  ...  Arizona
1639      1640  ...  Arizona
1697      1698  ...  Arizona
1719      1720  ...  Arizona
1837      1838  ...  Arizona
1839      1840  ...  Arizona
2007      2008  ...  Arizona
2088      2089  ...  Arizona
2313      2314  ...  Arizona
2365      2366  ...  Arizona
2412      2413  ...  Arizona
2420      2421  ...  Arizona
2464      2465  ...  Arizona
2642      2643  ...  Arizona
2663      2664  ...  Arizona
2695      2696  ...  Arizona
2700      2701  ...  Arizona
2805      2806  ...  Arizona
2848      2849  ...  Arizona
2864      2865  ...  Arizona
2883      2884  ...  Arizona
2898      2899  ...  Arizona
3135      3136  ...  Arizona
3360      3361  ...  Arizona
3366      3367  ...  Arizona
3382      3383  ...  Arizona
3595      3596  ...  Arizona
3907      3908  ...  Arizona
3924      3925  ...  Arizona
3926      3927  ...  Arizona
3930      3931  ...  Arizona
3957      3958  ...  Arizona

[42 rows x 23 columns]

Besides, you may to see the first and the last item of each group

In [235]:
sdfUSA_grouped.first().head(10)

             OBJECTID  ...                                              SHAPE
State                  ...
Alabama          1133  ...  {"x": -9556778.2846, "y": 3680894.4886000007, ...
Alaska              2  ...  {"x": -17507216.3171, "y": 8339869.139899999, ...
Arizona          1110  ...  {"x": -12746081.695799999, "y": 3833084.206799...
Arkansas         1140  ...  {"x": -10475164.0836, "y": 4351652.965599999, ...
California         14  ...  {"x": -13297113.1753, "y": 3925872.5605000034,...
Colorado         1112  ...  {"x": -11835488.2611, "y": 4647457.398199998, ...
Connecticut      1445  ...  {"x": -8020569.3116999995, "y": 5061139.118699...
Delaware         1485  ...  {"x": -8401281.9702, "y": 4738875.1483, "spati...
Florida            15  ...  {"x": -9091462.8131, "y": 2999080.943500001, "...
Georgia          1281  ...  {"x": -9304083.0405, "y": 3846295.0041000023, ...

[10 rows x 22 columns]

In [236]:
sdfUSA_grouped.last().head(10)

             OBJECTID  ...                                              SHAPE
State                  ...
Alabama          4995  ...  {"x": -9642494.2925, "y": 3743636.8615999967, ...
Alaska           5000  ...  {"x": -17512782.2916, "y": 8278291.432099998, ...
Arizona          3958  ...  {"x": -12375387.7915, "y": 3783016.603500001, ...
Arkansas         4146  ...  {"x": -10417277.9484, "y": 4102894.8566000015,...
California       5043  ...  {"x": -13063342.2446, "y": 3935191.9821000025,...
Colorado         4994  ...  {"x": -11662943.0504, "y": 4674511.5361, "spat...
Connecticut      3402  ...  {"x": -8090700.5909, "y": 5150499.544100001, "...
Delaware         3382  ...  {"x": -8415753.504, "y": 4818102.8226, "spatia...
Florida          5047  ...  {"x": -9091462.8131, "y": 3533148.591300003, "...
Georgia          5001  ...  {"x": -9261781.634, "y": 3628853.6849000007, "...

[10 rows x 22 columns]

### Selection and filtering

[[back to top]](#Table-of-Contents)

Functions of descriptive statistic like `sum()`, `count()`, `max()`, `min()`, `mean()` can be quickly applied to the `GroupBy` object to obtain summary statistics for each group – an immensely useful function. The same statement is valid also for functions like `describe()` which return general information about an object. 

Let’s show a few examples of descriptive statistic function application to the `GroupBy` object

In [237]:
sdfUSA_grouped.count().head(10)

             OBJECTID  ICAO  OBS_DATETIME  ...  LATITUDE  LONGITUDE  SHAPE
State                                      ...
Alabama            41    41            41  ...        41         41     41
Alaska            128   128           128  ...       128        128    128
Arizona            42    42            42  ...        42         42     42
Arkansas           36    36            36  ...        36         36     36
California        131   131           131  ...       131        131    131
Colorado           64    64            64  ...        64         64     64
Connecticut        10    10            10  ...        10         10     10
Delaware            4     4             4  ...         4          4      4
Florida            95    95            95  ...        95         95     95
Georgia            79    79            79  ...        79         79     79

[10 rows x 22 columns]

In [238]:
sdfUSA_grouped.sum().add_prefix('sum_of_').head(10)
# calculate the sum only for numeric columns, 
# all columns with other types will be ignored and missed
# we have add also common prefics to all columns. It's very convenient

             sum_of_OBJECTID  ...  sum_of_LONGITUDE
State                         ...
Alabama                90258  ...          -3549.71
Alaska                231927  ...         -19448.38
Arizona               100031  ...          -4695.26
Arkansas               88343  ...          -3332.84
California            333401  ...         -15665.82
Colorado              150536  ...          -6758.69
Connecticut            28734  ...           -727.51
Delaware               10097  ...           -302.04
Florida               236043  ...          -7832.29
Georgia               194190  ...          -6596.07

[10 rows x 14 columns]

In [150]:
sdfUSA_grouped.mean()

                       OBJECTID    ELEVATION  ...   LATITUDE   LONGITUDE
State                                         ...
Alabama             2605.463415   134.756098  ...  32.609756  -86.578293
Alaska              2720.780303    83.174242  ...  62.099242 -151.829318
Arizona             2892.780488   958.268293  ...  33.762683 -111.779512
Arkansas            3348.371429   171.228571  ...  35.205143  -92.654000
California          3250.122137   299.297710  ...  36.052595 -119.565267
Colorado            2422.953125  2067.593750  ...  39.178594 -105.612969
Connecticut         3801.600000    63.200000  ...  41.492000  -72.751000
Delaware            3249.500000    15.000000  ...  39.172500  -75.510000
Florida             3109.242105    15.752688  ...  28.462842  -82.445158
Georgia             1897.162500   168.625000  ...  32.834250  -83.510500
Guam                1947.000000   116.500000  ...  13.525000  144.860000
Hawaii              3216.642857   199.642857  ...  21.485000 -158.721429
Idaho               2869.208333  1192.652174  ...  44.633195 -114.774862
Illinois            2126.034483   185.982759  ...  40.158621  -88.922414
Indiana             2172.487805   232.325000  ...  40.281220  -86.240163
Iowa                1607.600000   313.133333  ...  41.904167  -93.408833
Johnston/Wake/Xmas  2613.000000     6.000000  ...  10.630000    4.635000
Kansas              2464.381818   556.200000  ...  38.273273  -98.135455
Kentucky            2049.157895   252.567568  ...  37.598070  -85.237807
Louisiana           2332.431373    29.392157  ...  30.288431  -91.806275
Maine               3591.235294   133.882353  ...  45.050588  -69.274706
Marshall Islands    2210.500000     6.500000  ...   7.900000  169.550000
Maryland            2838.818182   120.954545  ...  39.012273  -76.799091
Massachusetts       3923.045455    78.454545  ...  42.140000  -71.309091
Michigan            1704.306667   239.053333  ...  43.881067  -84.920267
Minnesota           1635.484848   348.404040  ...  45.809596  -94.148788
Mississippi         2557.636364    73.212121  ...  32.644242  -89.681515
Missouri            2440.325581   252.720930  ...  38.327674  -92.505116
Montana             2461.894737  1057.236842  ...  47.018684 -109.823684
Nebraska            2468.717949   658.000000  ...  41.331795  -98.866667
Nevada              2645.818182  1257.150000  ...  38.514849 -116.990455
New Hampshire       3838.615385   298.230769  ...  43.473077  -71.535385
New Jersey          3853.882353    40.941176  ...  40.286471  -74.514706
New Mexico          2732.121212  1605.212121  ...  34.401515 -105.730000
New York            3243.733333   190.244444  ...  42.455778  -75.437778
North Carolina      2116.000000   161.536232  ...  35.465797  -79.020435
North Dakota        1839.250000   513.055556  ...  47.567500 -100.123333
Ohio                2608.571429   267.535714  ...  40.354464  -83.115357
Oklahoma            2179.181818   335.090909  ...  35.471273  -97.222182
Oregon              2953.435897   511.564103  ...  44.298205 -121.547179
Pennsylvania        2860.066667   297.111111  ...  40.647333  -77.492000
Puerto Rico         3981.500000    20.500000  ...  18.407500  -66.220000
Rhode Island        3931.333333    41.166667  ...  41.548333  -71.501667
South Carolina      2168.400000   101.644444  ...  33.922889  -80.780889
South Dakota        3432.523810   690.142857  ...  44.294286  -99.998095
Tennessee           1629.062500   251.729167  ...  35.834167  -86.257917
Texas               2197.055838   318.857143  ...  30.933198  -98.101523
Utah                2506.875000  1501.583333  ...  39.562500 -111.822917
Vermont             2800.272727   217.181818  ...  44.160000  -72.684545
Virginia            1678.557377   194.573770  ...  37.507541  -78.128033
Washington          2717.704545   238.604651  ...  47.428030 -121.214698
Washington D.C.     4379.000000     4.000000  ...  38.850000  -77.030000
West Virginia       3156.000000   436.937500  ...  38.677500  -80.744375
Wisconsin           1906.642857   301.114286  ...  44.414857  -89.723000
Wyoming             2450.230769  1775.410256  ...  42.880769 -107.688462

[55 rows x 14 columns]

In [151]:
sdfUSA.groupby(['State'])['TEMP'].mean()
# calculate sum for a single column
# it works more quickly then movies.groupby(['State']).mean()['TEMP'] becuase it sheads the data it does not need before the mean operation

State
Alabama               73.247619
Alaska                15.070492
Arizona               69.173171
Arkansas              67.400000
California            65.613740
Colorado              37.889231
Connecticut           48.080000
Delaware              58.000000
Florida               75.467391
Georgia               72.738272
Guam                  77.750000
Hawaii                76.392857
Idaho                 33.258333
Illinois              47.674138
Indiana               46.114634
Iowa                  36.960000
Johnston/Wake/Xmas    81.300000
Kansas                49.120370
Kentucky              64.663158
Louisiana             72.792157
Maine                 40.752941
Marshall Islands      83.450000
Maryland              58.272727
Massachusetts         47.390909
Michigan              36.717333
Minnesota             32.533673
Mississippi           72.145455
Missouri              53.055814
Montana               31.405263
Nebraska              40.628205
Nevada                47.968182
New Hampshire         42.692308
New Jersey            53.376471
New Mexico            57.060606
New York              47.153333
North Carolina        69.444118
North Dakota          28.363889
Ohio                  50.342857
Oklahoma              59.900000
Oregon                43.480000
Pennsylvania          53.442222
Puerto Rico           80.575000
Rhode Island          47.166667
South Carolina        71.406977
South Dakota          37.414286
Tennessee             69.464583
Texas                 73.585567
Utah                  42.820833
Vermont               40.927273
Virginia              66.295082
Washington            42.675000
Washington D.C.       57.900000
West Virginia         65.781250
Wisconsin             37.267143
Wyoming               27.415385
Name: TEMP, dtype: float64

In [152]:
sdfUSA.groupby(['State', 'STATION_NAME']).sum()
# it is possible to group by many columns
# pay your attention that the changing of the order of 
# columns for grouping in 
# its list also changes the result table

                          OBJECTID  ELEVATION  ...  LATITUDE  LONGITUDE
State   STATION_NAME                           ...
Alabama Alabaster             3954      172.0  ...     33.18     -86.78
        Albertville Muni       966      313.0  ...     34.23     -86.25
        Alexander/Russel       938      198.0  ...     32.92     -85.97
        Andalusia/Opp Ar      3327       93.0  ...     31.32     -86.40
        Anniston              4069      187.0  ...     33.58     -85.85
...                            ...        ...  ...       ...        ...
Wyoming Torrington            3635     1285.0  ...     42.07    -104.15
        Warren Air Base       2984     1877.0  ...     41.13    -104.87
        Wheatland              734     1452.0  ...     42.05    -104.93
        Worland               3607     1281.0  ...     43.97    -107.95
        Yellowstone Lake      3137     2377.0  ...     44.55    -110.42

[2358 rows x 14 columns]

It is possible also to show all groups

In [153]:
sdfUSA_grouped.groups

{'Alabama': [374, 484, 490, 584, 691, 775, 778, 978, 1050, 1065, 1177, 1192, 1220, 1260, 1261, 1310, 3199, 3207, 3212, 3215, 3219, 3225, 3244, 3373, 3403, 3412, 3481, 3500, 3561, 3564, 3873, 3881, 4006, 4028, 4100, 4123, 4191, 4211, 4279, 4282, 4305], 'Alaska': [1, 2, 10, 292, 293, 299, 300, 301, 302, 313, 314, 315, 316, 322, 323, 324, 332, 333, 335, 336, 1345, 1357, 1364, 1365, 1366, 1402, 1408, 1409, 1418, 1419, 1420, 1427, 1428, 1432, 1433, 1434, 1438, 1439, 1440, 1441, 1443, 1446, 3193, 3194, 3245, 3255, 3259, 3260, 3261, 3262, 3263, 3264, 3265, 3266, 3267, 3268, 3269, 3270, 3271, 3272, 3273, 3274, 3275, 3276, 3277, 3278, 3279, 3280, 3281, 3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292, 3293, 3294, 3295, 3296, 3297, 3298, 3299, 3581, 3582, 3583, 3584, 3585, 3586, 3692, 3693, 3694, 3808, 3809, 3810, 3811, ...], 'Arizona': [320, 405, 460, 482, 602, 603, 767, 845, 1064, 1114, 1162, 1170, 1213, 3185, 3210, 3213, 3220, 3227, 3246, 3249, 3449, 3529, 3553, 3707, 3728, 3760, 3765, 3863, 3909, 3925, 3941, 3958, 4196, 4418, 4424, 4440, 4584, 4646, 4660, 4664, 4687], 'Arkansas': [451, 688, 1034, 1090, 1097, 1256, 3205, 3316, 3331, 3337, 3343, 3425, 3430, 3488, 3535, 3551, 3558, 3840, 3859, 3921, 3964, 3995, 4059, 4061, 4080, 4102, 4106, 4112, 4151, 4159, 4190, 4217, 4267, 4292, 4648], 'California': [412, 449, 558, 678, 695, 739, 746, 747, 748, 749, 784, 785, 841, 861, 878, 921, 940, 977, 988, 996, 1015, 1040, 1053, 1096, 1105, 1172, 1375, 1376, 2443, 2445, 3196, 3200, 3201, 3202, 3206, 3226, 3230, 3233, 3311, 3315, 3318, 3347, 3350, 3362, 3383, 3384, 3387, 3392, 3393, 3394, 3419, 3432, 3507, 3531, 3544, 3554, 3623, 3628, 3629, 3647, 3652, 3711, 3720, 3735, 3757, 3787, 3791, 3841, 3850, 3861, 3884, 3895, 3896, 3898, 3900, 3901, 3908, 3910, 3912, 3915, 3927, 3934, 3939, 3942, 3949, 3971, 3978, 3987, 3989, 3993, 3994, 4009, 4037, 4041, 4048, 4064, 4073, 4084, 4113, 4116, ...], 'Colorado': [295, 372, 430, 454, 491, 541, 566, 653, 675, 734, 851, 882, 923, 925, 971, 1052, 1094, 1111, 1149, 1191, 1194, 1204, 1226, 1242, 1251, 1259, 1281, 1284, 1300, 1302, 1325, 1333, 3228, 3231, 3235, 3236, 3333, 3464, 3465, 3468, 3487, 3505, 3635, 3703, 3766, 3778, 3931, 3937, 3999, 4042, 4062, 4083, 4141, 4192, 4202, 4218, 4248, 4255, 4297, 4302, 4311, 4397, 4596, 4697], 'Connecticut': [465, 3475, 4012, 4097, 4118, 4194, 4367, 4392, 4427, 4459], 'Delaware': [1282, 3514, 3759, 4439], 'Florida': [341, 352, 353, 354, 376, 384, 415, 485, 598, 645, 733, 794, 919, 930, 1019, 1045, 1066, 1082, 1249, 1266, 1288, 1290, 1297, 1380, 1385, 1424, 3241, 3305, 3313, 3322, 3325, 3344, 3356, 3357, 3369, 3386, 3389, 3398, 3415, 3423, 3443, 3448, 3456, 3504, 3525, 3844, 3870, 3874, 3875, 3890, 3892, 3905, 3923, 3946, 3948, 3955, 3957, 3962, 3975, 3977, 3990, 3991, 4000, 4018, 4023, 4033, 4039, 4067, 4095, 4135, 4142, 4152, 4161, 4166, 4168, 4179, 4193, 4199, 4221, 4231, 4249, 4275, 4301, 4323, 4351, 4430, 4569, 4571, 4577, 4583, 4591, 4654, 4663, 4665, 4696], 'Georgia': [356, 383, 409, 416, 422, 433, 492, 553, 561, 587, 619, 633, 741, 755, 759, 779, 781, 800, 836, 903, 948, 990, 1007, 1011, 1022, 1024, 1032, 1035, 1037, 1041, 1046, 1060, 1074, 1095, 1129, 1141, 1143, 1145, 1161, 1163, 1195, 1217, 1237, 1238, 1262, 1263, 1275, 1289, 1314, 1377, 1378, 1381, 1391, 1398, 1399, 3309, 3317, 3329, 3420, 3426, 3429, 3434, 3845, 3846, 3888, 3913, 3928, 3961, 4034, 4125, 4156, 4172, 4204, 4307, 4313, 4321, 4394, 4449, 4464, 4573], 'Guam': [312, 3580], 'Hawaii': [1344, 1406, 2034, 3192, 3256, 3257, 3258, 3689, 3690, 3804, 3805, 3806, 3807, 4671], 'Idaho': [12, 73, 440, 700, 880, 888, 1240, 1411, 3336, 3427, 3495, 3516, 3526, 3634, 3916, 3954, 4016, 4088, 4256, 4269, 4344, 4412, 4432, 4572], 'Illinois': [321, 325, 327, 368, 426, 470, 480, 514, 520, 571, 573, 579, 630, 668, 726, 771, 797, 799, 802, 814, 900, 909, 922, 936, 961, 1009, 1077, 1106, 1110, 1196, 1212, 1272, 1308, 1330, 3332, 3404, 3538, 3539, 3621, 3639, 3701, 3718, 3724, 3774, 3998, 4031, 4044, 4234, 4241, 4336, 4341, 4356, 4362, 4376, 4395, 4429, 4689, 4701], 'Indiana': [404, 505, 542, 574, 609, 650, 666, 686, 765, 793, 843, 848, 871, 876, 891, 917, 927, 1020, 1084, 1107, 1176, 1190, 1449, 3312, 3378, 3460, 3467, 3625, 3649, 3710, 3746, 3754, 3763, 3768, 4021, 4099, 4147, 4180, 4273, 4593, 4693], 'Iowa': [373, 418, 446, 472, 477, 487, 538, 570, 594, 608, 621, 629, 655, 659, 669, 724, 796, 801, 803, 807, 809, 838, 839, 892, 908, 913, 934, 960, 983, 1010, 1018, 1047, 1061, 1070, 1078, 1093, 1100, 1102, 1132, 1168, 1169, 1197, 1205, 1343, 1352, 1361, 3521, 3622, 3773, 3792, 3891, 3972, 4032, 4045, 4264, 4306, 4334, 4366, 4374, 4375], 'Johnston/Wake/Xmas': [2033, 3191], 'Kansas': [394, 397, 413, 444, 562, 563, 613, 637, 641, 646, 652, 708, 752, 753, 805, 837, 959, 973, 1098, 1147, 1273, 1274, 1279, 1307, 1312, 1316, 3372, 3438, 3451, 3452, 3479, 3486, 3494, 3637, 3646, 3695, 3761, 3797, 3872, 3899, 3924, 3982, 4081, 4089, 4109, 4138, 4163, 4186, 4343, 4359, 4364, 4370, 4377, 4382, 4385], 'Kentucky': [442, 467, 474, 535, 600, 705, 750, 754, 791, 815, 885, 931, 968, 997, 1056, 1087, 1113, 1125, 1211, 1244, 1291, 1311, 1396, 3349, 3374, 3458, 3482, 3501, 3503, 3512, 3745, 3965, 4053, 4054, 4078, 4171, 4258, 4379], 'Louisiana': [72, 387, 515, 537, 620, 676, 683, 728, 786, 804, 820, 854, 901, 970, 1006, 1033, 1115, 1128, 1187, 1209, 1243, 1270, 1277, 1313, 1346, 1382, 1383, 2446, 3184, 3250, 3341, 3363, 3547, 3560, 3630, 3786, 3860, 3992, 4001, 4013, 4065, 4069, 4182, 4201, 4262, 4298, 4300, 4316, 4647, 4659, 4686], 'Maine': [330, 3307, 3348, 3353, 3366, 3436, 3476, 3546, 3749, 3780, 4014, 4082, 4098, 4154, 4280, 4294, 4421], 'Marshall Islands': [17, 4402], 'Maryland': [365, 924, 1013, 1080, 1081, 1101, 1283, 1293, 3234, 3407, 3480, 3557, 3709, 3713, 3732, 3781, 3968, 3988, 4117, 4352, 4592, 4662], 'Massachusetts': [890, 3361, 3454, 3530, 3722, 3727, 3743, 3785, 3969, 3997, 4181, 4259, 4289, 4320, 4333, 4340, 4345, 4373, 4380, 4396, 4433, 4458], 'Michigan': [5, 13, 294, 305, 306, 307, 308, 345, 377, 410, 431, 471, 473, 519, 525, 528, 551, 589, 604, 614, 622, 642, 671, 685, 694, 712, 742, 758, 788, 789, 795, 824, 860, 920, 926, 932, 957, 999, 1005, 1023, 1039, 1083, 1103, 1158, 1188, 1210, 1342, 1349, 1353, 1354, 1360, 1430, 1445, 3371, 3408, 3424, 3496, 3627, 3632, 3651, 3755, 3839, 3862, 3938, 4076, 4130, 4164, 4198, 4216, 4240, 4290, 4299, 4318, 4425, 4656], 'Minnesota': [317, 318, 328, 329, 342, 344, 369, 370, 395, 407, 417, 425, 441, 479, 493, 516, 522, 523, 534, 555, 572, 592, 627, 651, 657, 670, 707, 711, 713, 737, 760, 773, 774, 819, 856, 857, 866, 889, 896, 915, 929, 933, 939, 953, 965, 992, 993, 1003, 1029, 1058, 1062, 1071, 1075, 1085, 1091, 1099, 1140, 1146, 1151, 1157, 1173, 1203, 1208, 1215, 1271, 1315, 1332, 1347, 1348, 1350, 1351, 1355, 1448, 3187, 3321, 3351, 3376, 3414, 3416, 3474, 3477, 3485, 3644, 3712, 3753, 3885, 3887, 3919, 3950, 4003, 4022, 4115, 4175, 4265, 4286, 4291, 4700, 4712, 4741], 'Mississippi': [378, 389, 391, 524, 581, 704, 717, 766, 1048, 1072, 1247, 1304, 1321, 1322, 3209, 3247, 3368, 3391, 3462, 3470, 3532, 3543, 3748, 3864, 3943, 4038, 4111, 4121, 4124, 4133, 4137, 4578, 4586], 'Missouri': [423, 475, 543, 548, 599, 605, 654, 684, 696, 698, 721, 744, 850, 862, 875, 884, 906, 910, 946, 952, 3326, 3327, 3492, 3555, 3638, 3705, 3708, 3737, 3777, 3847, 3854, 3886, 3945, 4036, 4043, 4077, 4079, 4205, 4247, 4337, 4386, 4411, 4698], 'Montana': [495, 496, 554, 578, 658, 702, 969, 1224, 1227, 1231, 1267, 1280, 1334, 1388, 1392, 1393, 1394, 1395, 1397, 1404, 3188, 3478, 3524, 3534, 3641, 3981, 4004, 4015, 4047, 4096, 4107, 4128, 4143, 4208, 4263, 4278, 4456, 4645], 'Nebraska': [427, 580, 626, 639, 679, 710, 743, 808, 844, 853, 874, 935, 1121, 1124, 1142, 1174, 1189, 1200, 1202, 3377, 3379, 3380, 3509, 3702, 3744, 3894, 3985, 4035, 4071, 4086, 4101, 4131, 4165, 4252, 4284, 4288, 4312, 4330, 4346], 'Nevada': [420, 513, 689, 830, 1119, 1159, 1331, 1387, 3211, 3214, 3310, 3323, 3396, 3439, 3459, 3502, 3624, 3848, 3967, 4055, 4187, 4203], 'New Hampshire': [1305, 3364, 3437, 3506, 3549, 4024, 4068, 4372, 4387, 4398, 4448, 4451, 4580], 'New Jersey': [2444, 3306, 3308, 3417, 3540, 3699, 3738, 3796, 3799, 3866, 3897, 4153, 4250, 4410, 4444, 4690, 4742], 'New Mexico': [445, 450, 456, 625, 722, 745, 879, 1012, 1126, 1164, 1175, 1193, 1324, 3216, 3229, 3237, 3339, 3523, 3648, 3880, 3882, 3914, 3922, 4046, 4127, 4167, 4206, 4233, 4239, 4399, 4419, 4588, 4597], 'New York': [319, 381, 486, 564, 632, 638, 649, 829, 1235, 3409, 3440, 3442, 3445, 3446, 3455, 3457, 3466, 3471, 3499, 3550, 3704, 3714, 3734, 3739, 3762, 3772, 3783, 3929, 3944, 3959, 3963, 4002, 4092, 4145, 4160, 4162, 4189, 4209, 4281, 4415, 4431, 4436, 4437, 4463, 4685], 'North Carolina': [371, 398, 411, 419, 432, 448, 453, 476, 489, 511, 533, 539, 590, 623, 643, 662, 667, 738, 772, 787, 790, 835, 859, 869, 894, 918, 950, 951, 955, 972, 979, 1008, 1044, 1057, 1179, 1201, 1223, 1298, 3208, 3248, 3334, 3367, 3381, 3399, 3400, 3447, 3461, 3472, 3491, 3563, 3631, 3731, 3752, 3758, 3767, 3770, 3782, 3789, 3795, 3918, 4087, 4110, 4176, 4183, 4361, 4365, 4383, 4420, 4442], 'North Dakota': [347, 499, 500, 512, 822, 870, 902, 1025, 1026, 1027, 1028, 1116, 1117, 1160, 1216, 1218, 1225, 1245, 1265, 1294, 1295, 1301, 1328, 1329, 1413, 1447, 3354, 3418, 3441, 3513, 3736, 4119, 4146, 4178, 4354, 4391], 'Ohio': [375, 382, 386, 390, 393, 502, 577, 582, 597, 610, 611, 656, 661, 730, 810, 811, 812, 813, 816, 817, 1014, 1089, 1165, 1257, 3345, 3490, 3517, 3542, 3636, 3642, 3697, 3756, 3793, 3837, 3879, 3956, 3973, 4010, 4026, 4050, 4052, 4063, 4093, 4122, 4173, 4214, 4276, 4304, 4332, 4360, 4406, 4452, 4453, 4454, 4570, 4695], 'Oklahoma': [355, 414, 457, 462, 518, 532, 544, 557, 612, 635, 636, 764, 769, 833, 846, 863, 865, 883, 898, 966, 1000, 1002, 1043, 1051, 1079, 1138, 1166, 1171, 1184, 1207, 1255, 1309, 3324, 3428, 3483, 3498, 3865, 3883, 3920, 3935, 3947, 4017, 4019, 4074, 4120, 4126, 4134, 4150, 4174, 4228, 4260, 4347, 4575, 4598, 4681], 'Oregon': [11, 498, 501, 624, 768, 899, 1150, 1228, 1230, 1252, 1253, 1269, 3328, 3338, 3355, 3375, 3421, 3435, 3522, 3537, 3650, 3769, 3856, 3867, 3893, 3932, 3960, 3979, 4011, 4029, 4058, 4060, 4103, 4114, 4207, 4270, 4277, 4338, 4778], 'Pennsylvania': [350, 396, 509, 607, 618, 648, 665, 727, 806, 821, 840, 1069, 1122, 1292, 1299, 3320, 3405, 3422, 3489, 3520, 3536, 3556, 3719, 3721, 3723, 3725, 3747, 3751, 3764, 3771, 3788, 3853, 3878, 3906, 4008, 4056, 4140, 4197, 4285, 4303, 4314, 4423, 4445, 4466, 4658], 'Puerto Rico': [3251, 3800, 4401, 4470], 'Rhode Island': [3346, 3545, 3842, 3851, 4422, 4576], 'South Carolina': [326, 459, 466, 546, 674, 680, 699, 714, 723, 725, 736, 756, 825, 827, 893, 937, 1021, 1049, 1073, 1088, 1133, 1155, 1180, 1183, 1198, 3304, 3319, 3330, 3401, 3402, 3413, 3473, 3528, 3533, 3552, 3700, 3779, 3984, 4129, 4136, 4226, 4232, 4585, 4661, 4780], 'South Dakota': [458, 545, 1214, 3302, 3484, 3519, 3541, 3559, 3562, 3626, 3633, 3640, 3952, 4025, 4090, 4225, 4295, 4322, 4339, 4363, 4368], 'Tennessee': [70, 349, 399, 428, 443, 464, 488, 503, 527, 531, 559, 588, 664, 673, 677, 697, 701, 703, 706, 718, 763, 782, 823, 864, 887, 897, 904, 907, 1017, 1144, 1219, 1296, 1306, 1326, 1379, 3411, 3511, 3653, 3741, 3857, 3869, 3976, 4020, 4227, 4246, 4271, 4384, 4579], 'Texas': [351, 380, 385, 388, 406, 421, 429, 434, 435, 436, 438, 439, 447, 461, 463, 469, 483, 506, 508, 536, 547, 549, 552, 556, 567, 569, 575, 585, 591, 593, 606, 615, 617, 672, 681, 692, 693, 709, 715, 719, 732, 740, 761, 762, 770, 780, 783, 792, 798, 834, 847, 849, 858, 867, 868, 872, 877, 881, 886, 895, 912, 941, 942, 943, 944, 945, 954, 958, 964, 967, 980, 981, 984, 986, 987, 989, 991, 998, 1031, 1038, 1042, 1054, 1059, 1086, 1112, 1118, 1127, 1130, 1131, 1134, 1137, 1139, 1148, 1156, 1167, 1178, 1182, 1185, 1186, 1232, ...], 'Utah': [71, 402, 403, 408, 751, 828, 855, 1135, 1152, 1229, 2448, 3218, 3342, 3359, 3497, 3706, 3849, 3936, 3983, 4237, 4253, 4287, 4357, 4435], 'Vermont': [914, 976, 1092, 1236, 3352, 3698, 3733, 3775, 3784, 3798, 4434], 'Virginia': [348, 359, 360, 361, 362, 364, 367, 379, 478, 481, 529, 565, 568, 628, 634, 660, 682, 687, 720, 729, 735, 757, 776, 777, 826, 831, 842, 873, 905, 911, 916, 928, 949, 962, 1036, 1055, 1076, 1136, 1154, 1318, 1319, 1423, 3186, 3360, 3382, 3385, 3397, 3463, 3493, 3518, 3696, 3715, 3717, 3726, 3730, 3742, 3794, 4219, 4245, 4369, 4428], 'Washington': [6, 69, 304, 497, 530, 583, 616, 647, 1067, 1120, 1241, 1303, 1320, 1341, 1372, 1442, 1444, 3197, 3203, 3223, 3238, 3335, 3548, 3643, 3729, 3838, 3855, 3877, 3904, 3907, 3926, 3940, 3966, 3980, 4104, 4170, 4184, 4188, 4215, 4242, 4274, 4283, 4309, 4355], 'Washington D.C.': [4378], 'West Virginia': [358, 366, 818, 1234, 1276, 3776, 3951, 4007, 4027, 4108, 4244, 4390, 4441, 4447, 4455, 4582], 'Wisconsin': [4, 343, 346, 392, 400, 424, 452, 455, 504, 507, 517, 521, 526, 540, 560, 595, 596, 601, 631, 640, 644, 663, 690, 716, 731, 947, 956, 974, 975, 1016, 1030, 1063, 1068, 1108, 1109, 1123, 1153, 1181, 1199, 1222, 1248, 1254, 1278, 1286, 1410, 1422, 3303, 3314, 3406, 3433, 3508, 3740, 3750, 3790, 3911, 3970, 3974, 4005, 4051, 4094, 4132, 4169, 4185, 4224, 4296, 4358, 4683, 4688, 4692, 4699], 'Wyoming': [14, 363, 401, 494, 576, 832, 938, 963, 982, 985, 994, 1001, 1221, 1264, 1371, 1373, 1384, 1386, 1390, 3221, 3224, 3370, 3444, 3527, 3716, 3843, 3871, 3902, 3917, 3930, 4057, 4075, 4148, 4149, 4212, 4222, 4235, 4257, 4268]}

and display the content only of necessary group

In [154]:
sdfUSA_grouped.get_group("Mississippi")

      OBJECTID  ...        State
378        379  ...  Mississippi
389        390  ...  Mississippi
391        392  ...  Mississippi
524        525  ...  Mississippi
581        582  ...  Mississippi
704        705  ...  Mississippi
717        718  ...  Mississippi
766        767  ...  Mississippi
1048      1049  ...  Mississippi
1072      1073  ...  Mississippi
1247      1248  ...  Mississippi
1304      1305  ...  Mississippi
1321      1322  ...  Mississippi
1322      1323  ...  Mississippi
3209      3210  ...  Mississippi
3247      3248  ...  Mississippi
3368      3369  ...  Mississippi
3391      3392  ...  Mississippi
3462      3463  ...  Mississippi
3470      3471  ...  Mississippi
3532      3533  ...  Mississippi
3543      3544  ...  Mississippi
3748      3749  ...  Mississippi
3864      3865  ...  Mississippi
3943      3944  ...  Mississippi
4038      4039  ...  Mississippi
4111      4112  ...  Mississippi
4121      4122  ...  Mississippi
4124      4125  ...  Mississippi
4133      4134  ...  Mississippi
4137      4138  ...  Mississippi
4578      4579  ...  Mississippi
4586      4587  ...  Mississippi

[33 rows x 23 columns]

In [155]:
sdfUSA_grouped.get_group("Mississippi").mean()

D66140B0-0277-45FF-AE18-A787BE3D4AAF:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

OBJECTID        2557.636364
ELEVATION         73.212121
TEMP              72.145455
DEW_POINT         48.466667
R_HUMIDITY        45.787879
WIND_DIRECT      210.000000
WIND_SPEED        19.242424
WIND_GUST         17.545455
WIND_CHILL              NaN
VISIBILITY     15648.484848
PRESSURE        1016.733333
HEAT_INDEX        76.156522
LATITUDE          32.644242
LONGITUDE        -89.681515
dtype: float64

We have just one helpful and powerful option for you! It is `filter()`.

Suppose you need remain only those groups where there are less than 5 items. Sure, you may hardly calculate amount of items in each group and then remove not satisfying for condition. But it can be done very easily.

In [156]:
sdfUSA_grouped.filter(lambda x: len(x) < 5).sort_values("State")

      OBJECTID  ...               State
1282      1283  ...            Delaware
3514      3515  ...            Delaware
3759      3760  ...            Delaware
4439      4440  ...            Delaware
312        313  ...                Guam
3580      3581  ...                Guam
2033      2034  ...  Johnston/Wake/Xmas
3191      3192  ...  Johnston/Wake/Xmas
17          18  ...    Marshall Islands
4402      4403  ...    Marshall Islands
3251      3252  ...         Puerto Rico
3800      3801  ...         Puerto Rico
4401      4402  ...         Puerto Rico
4470      4471  ...         Puerto Rico
4378      4379  ...     Washington D.C.

[15 rows x 23 columns]

One more example:

In [157]:
sdfUSA_grouped.filter(lambda x: x['TEMP'].mean() > 50 and x['R_HUMIDITY'].mean() > 50)

      OBJECTID  ...             State
17          18  ...  Marshall Islands
72          73  ...         Louisiana
312        313  ...              Guam
341        342  ...           Florida
352        353  ...           Florida
...        ...  ...               ...
4665      4666  ...           Florida
4671      4672  ...            Hawaii
4686      4687  ...         Louisiana
4695      4696  ...              Ohio
4696      4697  ...           Florida

[261 rows x 23 columns]

### Aggregation

[[back to top]](#Table-of-Contents)

We have seen previously, pandas allows to apply any function to a Series or to a DataFrame. Grouping is not an exception and you may use the same method `apply()` directly with `GroupBy` objects.  Aggregation can be done via the `aggregate()` or equivalently `agg()` method

In [158]:
sdfUSA_grouped.agg(np.sum).head(10)
# or state_grouped.aggregate(np.sum)

             OBJECTID  ELEVATION    TEMP  ...  HEAT_INDEX  LATITUDE  LONGITUDE
State                                     ...
Alabama        106824     5525.0  2983.9  ...      2637.8   1337.00   -3549.71
Alaska         359143    10979.0  1855.7  ...         0.0   8197.10  -20041.47
Arizona        118604    39289.0  2786.2  ...      1701.2   1384.27   -4582.96
Arkansas       117193     5993.0  2346.8  ...       303.0   1232.18   -3242.89
California     425766    39208.0  8434.7  ...      2471.2   4722.89  -15663.05
Colorado       155069   132326.0  2370.9  ...         0.0   2507.43   -6759.23
Connecticut     38016      632.0   490.9  ...         0.0    414.92    -727.51
Delaware        12998       60.0   234.8  ...         0.0    156.69    -302.04
Florida        295378     1465.0  7144.1  ...      5848.4   2703.97   -7832.29
Georgia        151773    13490.0  5815.6  ...      5041.7   2626.74   -6680.84

[10 rows x 14 columns]

Sure, above variant is equivalent to `state_grouped.sum()`.
One of the advantages of `agg()` method is the possibility of application of many functions to one and same dataset at once

In [255]:
# at first let's write the function which returns amount of notnull values 
def count_not_null(x):
    return len([i for i in x if pd.notnull(i)])
sdfUSA_grouped[['TEMP', 'R_HUMIDITY', "WIND_SPEED"]].agg([np.sum, np.mean, count_not_null]).head(10)

               TEMP             ... WIND_SPEED
                sum       mean  ...       mean count_not_null
State                           ...
Alabama      2572.8  62.751220  ...   8.951220             41
Alaska       1597.3  12.778400  ...  15.867188            128
Arizona      2132.7  50.778571  ...   7.523810             42
Arkansas     2098.6  58.294444  ...  15.194444             36
California   6184.2  47.570769  ...   5.893130            131
Colorado     1656.1  25.876562  ...  13.109375             64
Connecticut   455.0  45.500000  ...  12.700000             10
Delaware      210.3  52.575000  ...  14.000000              4
Florida      6726.3  71.556383  ...   9.463158             95
Georgia      5136.1  65.013924  ...   5.936709             79

[10 rows x 9 columns]

Sure, you may apply many functions to whole DataFrame at once

Another simple aggregation example is to compute the size of each group. This is included in `GroupBy` as the `size()` method. It returns a Series whose indexes are the group names and whose values are the sizes of each group.

In [257]:
sdfUSA_grouped.size()

State
Alabama                41
Alaska                128
Arizona                42
Arkansas               36
California            131
Colorado               64
Connecticut            10
Delaware                4
Florida                95
Georgia                79
Guam                    2
Hawaii                 13
Idaho                  24
Illinois               58
Indiana                41
Iowa                   60
Johnston/Wake/Xmas      2
Kansas                 55
Kentucky               38
Louisiana              51
Maine                  17
Marshall Islands        1
Maryland               22
Massachusetts          23
Michigan               75
Minnesota             100
Mississippi            33
Missouri               43
Montana                38
Nebraska               39
Nevada                 22
New Hampshire          13
New Jersey             17
New Mexico             32
New York               46
North Carolina         69
North Dakota           36
Ohio                   56
Oklahoma               55
Oregon                 39
Pennsylvania           45
Puerto Rico             4
Rhode Island            6
South Carolina         45
South Dakota           21
Tennessee              49
Texas                 196
Utah                   24
Vermont                11
Virginia               62
Washington             44
Washington D.C.         1
West Virginia          16
Wisconsin              70
Wyoming                39
dtype: int64

>### Exercise 1

> Read in the Gulf_and_Caribbean_Marine_Ecoregions.shp file (loaded into map 1) and also included in the data package.
> Use the groupby functions you learned about to create a dataframe that contains the total area (Shape_Area column) for each of unique values in the Lat_Zone field.

In [258]:
# type your code here