---
<center><h1>Basic intro to pandas</h1></center>

<center><h2>Work with pandas DataFrames: filtering, indexing and missing data</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: filtering, indexing and missing data](#Work-with-pandas-DataFrames:-filtering,-indexing-and-missing-data)
    * [Get basic information](#Get-basic-information)
    * [Conditional indexing and selection](#Conditional-indexing-and-selection)
    * [Work with indexes and MultiIndex option](#Work-with-indexes-and-MultiIndex-option)
    * [Selection by label and position](#Selection-by-label-and-position)
    * [Work with missing data](#Work-with-missing-data)
    - [*Exercise 1*](#Exercise-1)

In [57]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: filtering, indexing and missing data

[[back to top]](#Table-of-Contents)

In this part we will continue our acquaintance with DataFrames and will get to know 
1.	how to get basic information about DataFrame and its content;
2.	how to get a segment of a Dataframe and select rows from DataFrame, which satisfy some conditions;
3.	how to change indexes in DataFrame and make advanced indexing;
4.	how to select any rows by its indexes, labels and positions;
5.	how to work with missing data.

Thus, we will divide the whole text of this lesson into logic constructed code blocks with respect to mentioned above points. In the following posts we will continue our learning of pandas and will consider its other features.

In [58]:
url="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv"
eqPastMonth=pd.read_csv(url)
eqPastMonth.head(10)

                       time   latitude  ...  locationSource  magSource
0  2022-02-16T20:07:51.700Z  33.165667  ...              ci         ci
1  2022-02-16T20:06:36.970Z  35.937500  ...              nc         nc
2  2022-02-16T20:01:07.410Z  19.186333  ...              hv         hv
3  2022-02-16T19:40:50.170Z  33.451333  ...              ci         ci
4  2022-02-16T19:35:33.190Z  36.716499  ...              nc         nc
5  2022-02-16T19:35:20.500Z  38.789166  ...              nc         nc
6  2022-02-16T19:32:55.130Z  37.988834  ...              nc         nc
7  2022-02-16T19:19:46.840Z  38.819832  ...              nc         nc
8  2022-02-16T19:18:15.583Z  61.364100  ...              ak         ak
9  2022-02-16T19:17:25.040Z  33.430000  ...              ci         ci

[10 rows x 22 columns]

### Get basic information

[[back to top]](#Table-of-Contents)

pandas has a set of functions for getting basic information about DataFrame:

Lets take a look on type of `eqPastMonth` columns

In [59]:
eqPastMonth.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

You may notice that the dtype forthe time column is by default of type "object" meaning a string.  You can change this by using the apply function which allows one to apply a function to every row in series or dataframe. A "lambda" is a shorthand way to write your own function.

In [69]:
eqPastMonth['magPlus5'] = eqPastMonth['mag'].apply(lambda x: x + 5)
eqPastMonth.head(5)

                       time   latitude  ...  longMagType  magPlus5
0  2022-02-16T20:07:51.700Z  33.165667  ...         5.90      5.90
1  2022-02-16T20:06:36.970Z  35.937500  ...         6.13      6.13
2  2022-02-16T20:01:07.410Z  19.186333  ...         7.03      7.03
3  2022-02-16T19:40:50.170Z  33.451333  ...         5.49      5.49
4  2022-02-16T19:35:33.190Z  36.716499  ...         7.36      7.36

[5 rows x 24 columns]

In [68]:
def addFive(x):
    return x + 5
eqPastMonth['magPlus5'] = eqPastMonth['mag'].apply(addFive)
eqPastMonth.head(5)

                       time   latitude  ...  longMagType  magPlus5
0  2022-02-16T20:07:51.700Z  33.165667  ...         5.90      5.90
1  2022-02-16T20:06:36.970Z  35.937500  ...         6.13      6.13
2  2022-02-16T20:01:07.410Z  19.186333  ...         7.03      7.03
3  2022-02-16T19:40:50.170Z  33.451333  ...         5.49      5.49
4  2022-02-16T19:35:33.190Z  36.716499  ...         7.36      7.36

[5 rows x 24 columns]

In [70]:
eqPastMonth['datetime'] = eqPastMonth['time'].apply(lambda x: (datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.%fZ')))
eqPastMonth.head(5)

                       time   latitude  ...  magPlus5                datetime
0  2022-02-16T20:07:51.700Z  33.165667  ...      5.90 2022-02-16 20:07:51.700
1  2022-02-16T20:06:36.970Z  35.937500  ...      6.13 2022-02-16 20:06:36.970
2  2022-02-16T20:01:07.410Z  19.186333  ...      7.03 2022-02-16 20:01:07.410
3  2022-02-16T19:40:50.170Z  33.451333  ...      5.49 2022-02-16 19:40:50.170
4  2022-02-16T19:35:33.190Z  36.716499  ...      7.36 2022-02-16 19:35:33.190

[5 rows x 25 columns]

In [59]:
eqPastMonth['magPlus1'] = eqPastMonth['mag'].apply(lambda x: x + 0.1)
eqPastMonth.head(5)

                       time   latitude  ...  magPlus1                datetime
0  2021-02-24T19:50:07.610Z  19.181000  ...      2.25 2021-02-24 19:50:07.610
1  2021-02-24T19:46:29.747Z  64.743700  ...      1.20 2021-02-24 19:46:29.747
2  2021-02-24T19:35:10.940Z  37.351300  ...      1.70 2021-02-24 19:35:10.940
3  2021-02-24T19:34:35.290Z  19.453667  ...      1.89 2021-02-24 19:34:35.290
4  2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150

[5 rows x 24 columns]

Notice the new "datetime" column.  It of time datetime.

In [71]:
eqPastMonth.dtypes

time                       object
latitude                  float64
longitude                 float64
depth                     float64
mag                       float64
magType                    object
nst                       float64
gap                       float64
dmin                      float64
rms                       float64
net                        object
id                         object
updated                    object
place                      object
type                       object
horizontalError           float64
depthError                float64
magError                  float64
magNst                    float64
status                     object
locationSource             object
magSource                  object
longMagType               float64
magPlus5                  float64
datetime           datetime64[ns]
dtype: object

You can also see basic statistics about the DataFrame‚Äôs numeric columns

In [72]:
eqPastMonth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10272 entries, 0 to 10271
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             10272 non-null  object
 1   latitude         10272 non-null  float64
 2   longitude        10272 non-null  float64
 3   depth            10272 non-null  float64
 4   mag              10271 non-null  float64
 5   magType          10271 non-null  object
 6   nst              7546 non-null   float64
 7   gap              8806 non-null   float64
 8   dmin             7144 non-null   float64
 9   rms              10272 non-null  float64
 10  net              10272 non-null  object
 11  id               10272 non-null  object
 12  updated          10272 non-null  object
 13  place            10272 non-null  object
 14  type             10272 non-null  object
 15  horizontalError  7695 non-null   float64
 16  depthError       10272 non-null  float64
 17  magError         8281 non-null   float64
 18  magNst           8796 non-null   float64
 19  status           10272 non-null  object
 20  locationSource   10272 non-null  object
 21  magSource        10272 non-null  object
 22  longMagType      10271 non-null  float64
 23  magPlus5         10271 non-null  float64
 24  datetime         10272 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(14), object(10)
memory usage: 2.0+ MB

Method `info()` shows (top down)
+ that `eqPastMonth` is an instance of DataFrame‚Äôs class; this information we have obtained with help of function `type()`;
+ number of rows in DataFrame;
+ type of each column and number of non-null rows in this column; this information in a shorted view was given by `dtypes`;
+ memory size of the DataFrame etc.
method `describe()` allows to quickly get average, minimal and maximal values, standard deviation etc. in each DataFrame column with numeric items

In [73]:
eqPastMonth[eqPastMonth["mag"] >= 0].describe()

          latitude    longitude  ...  longMagType     magPlus5
count  9905.000000  9905.000000  ...  9905.000000  9905.000000
mean     35.017782  -106.196538  ...     6.731784     6.731784
std      20.007929    73.360067  ...     1.227295     1.227295
min     -63.521900  -179.998200  ...     5.000000     5.000000
25%      32.753167  -149.182000  ...     5.860000     5.860000
50%      37.730999  -119.739000  ...     6.470000     6.470000
75%      44.373667  -115.126000  ...     7.130000     7.130000
max      85.309300   179.949800  ...    11.500000    11.500000

[8 rows x 14 columns]

### Conditional indexing and selection

[[back to top]](#Table-of-Contents)

As we said above DataFrame is a group of Series objects. This allows you to select specific column (a Series) from the DataFrame (in this case you get a Series) or a few columns (in this case you get another DataFrame)

In [61]:
eqPastMonth_mag = eqPastMonth['mag']
# Here we are showing only one column, i.e. a Series
print ('type:', type(eqPastMonth_mag))
eqPastMonth_mag.head(10)

type: <class 'pandas.core.series.Series'>

0    2.15
1    1.10
2    1.60
3    1.79
4    2.41
5    5.00
6    1.10
7    1.83
8    2.05
9    2.89
Name: mag, dtype: float64

In [74]:
eqPastMonth_record = eqPastMonth[['time','depth', 'mag', 'place']]
# Here we are showing four columns, i.e. a new DataFrame
print ('type:', type(eqPastMonth_record))
eqPastMonth_record.tail()

type: <class 'pandas.core.frame.DataFrame'>

                           time   depth  mag                              place
10267  2022-01-17T20:30:15.657Z    7.20  0.0         52 km SE of Beatty, Nevada
10268  2022-01-17T20:30:00.990Z  109.01  4.3     113 km NW of Nuku‚Äòalofa, Tonga
10269  2022-01-17T20:27:16.238Z  118.40  1.5      42 km WSW of Skwentna, Alaska
10270  2022-01-17T20:23:10.180Z   13.98  0.5               18km ESE of Anza, CA
10271  2022-01-17T20:19:43.583Z   83.20  1.4  38 km WSW of Anchor Point, Alaska

You can also refer to one column in such way

In [64]:
eqPastMonth_record.time

0        2021-02-24T19:50:07.610Z
1        2021-02-24T19:46:29.747Z
2        2021-02-24T19:35:10.940Z
3        2021-02-24T19:34:35.290Z
4        2021-02-24T19:25:06.150Z
                   ...
10571    2021-01-25T20:26:37.822Z
10572    2021-01-25T20:20:08.400Z
10573    2021-01-25T20:16:10.458Z
10574    2021-01-25T20:13:31.390Z
10575    2021-01-25T20:09:26.382Z
Name: time, Length: 10576, dtype: object

Filtered DataFrames can be obtained by using of logic operators

In [200]:
# Let's display only large earthquakes
eqPastMonth_large = eqPastMonth[eqPastMonth['mag'] > 5]
eqPastMonth_large.head(10)

                         time  latitude  ...  magSource                datetime
5    2021-02-17T03:36:07.740Z   38.4489  ...         us 2021-02-17 03:36:07.740
100  2021-02-16T19:09:41.237Z   -2.8881  ...         us 2021-02-16 19:09:41.237
131  2021-02-16T15:54:07.766Z  -18.8866  ...         us 2021-02-16 15:54:07.766
180  2021-02-16T09:55:32.318Z   52.0601  ...         us 2021-02-16 09:55:32.318
189  2021-02-16T08:42:11.806Z   -6.0804  ...         us 2021-02-16 08:42:11.806
194  2021-02-16T08:07:23.479Z  -15.6949  ...         us 2021-02-16 08:07:23.479
203  2021-02-16T06:42:01.809Z  -13.3581  ...         us 2021-02-16 06:42:01.809
233  2021-02-16T03:37:11.369Z  -17.9892  ...         us 2021-02-16 03:37:11.369
252  2021-02-16T01:31:59.756Z  -17.8082  ...         us 2021-02-16 01:31:59.756
255  2021-02-16T01:22:19.619Z  -17.6551  ...         us 2021-02-16 01:22:19.619

[10 rows x 23 columns]

In [76]:
#Getting records that are large (>5mag) earthquakes and that occurred in the northern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] > 0)]
filtered_df_1.describe()

        latitude   longitude       depth  ...      magNst  longMagType   magPlus5
count  44.000000   44.000000   44.000000  ...   42.000000    44.000000  44.000000
mean   25.620648   35.227695   31.047045  ...   70.166667    10.388636  10.388636
std    17.152213  104.106748   38.661130  ...  113.838550     0.332164   0.332164
min     0.886900 -166.680500    8.000000  ...   10.000000    10.100000  10.100000
25%    12.692500  -64.047775   10.000000  ...   21.250000    10.175000  10.175000
50%    21.611700   63.753000   10.000000  ...   32.500000    10.250000  10.250000
75%    35.385550  126.389875   36.885000  ...   64.500000    10.525000  10.525000
max    70.730200  148.074500  209.050000  ...  618.000000    11.300000  11.300000

[8 rows x 14 columns]

In [77]:
#Getting records that are large (>5mag) earthquakes and that occurred in the southern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] < 0)]
filtered_df_1.describe()

        latitude   longitude       depth  ...      magNst  longMagType   magPlus5
count  69.000000   69.000000   69.000000  ...   69.000000    69.000000  69.000000
mean  -30.066945  -37.793472   34.569565  ...   53.985507    10.407246  10.407246
std    19.177761  131.977693   49.622174  ...   78.771541     0.349503   0.349503
min   -63.521900 -179.554900    4.170000  ...    7.000000    10.100000  10.100000
25%   -48.034300 -176.539300   10.000000  ...   13.000000    10.200000  10.200000
50%   -29.567700  -27.875600   10.000000  ...   28.000000    10.300000  10.300000
75%   -15.880500  105.976700   35.000000  ...   55.000000    10.500000  10.500000
max    -0.401900  179.852000  240.840000  ...  487.000000    11.500000  11.500000

[8 rows x 14 columns]

In [78]:
#Getting records that are large (>5mag) earthquakes and that occurred in the western hemisphere, but not after 120 w longitude, also filter columns in output
filtered_df_2 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['longitude'] < 0) & (eqPastMonth['longitude'] > -120)][['depth', 'mag', 'place']]
filtered_df_2.head(10)

      depth  mag                                            place
122   83.61  6.2          0 km SSE of Nueva Concepci√≥n, Guatemala
140   35.33  5.5                    South Sandwich Islands region
254   65.50  5.1                    South Sandwich Islands region
512   10.00  5.7  208 km W of Olonkinbyen, Svalbard and Jan Mayen
979   99.34  5.3                    South Sandwich Islands region
1105  10.00  5.5                       central Mid-Atlantic Ridge
1624  10.00  5.3                          Ascension Island region
1886  10.00  5.5                          Ascension Island region
2501  10.00  6.2                       central Mid-Atlantic Ridge
2578  10.00  5.1               east of the South Sandwich Islands

You can also use the method `isin(range)` for checking the presence of Series items in range, method `isnull()` for define `null` (`NaN`) values and boolean operators `&` (`AND`) and `|` (`OR`) in complicated conditions.

As you can see after filtering result tables (i.e. DataFrames) have non-ordered indexes. To fix this trouble you may write the following:

In [79]:
filtered_df_2.reset_index().head(10)

   index  depth  mag                                            place
0    122  83.61  6.2          0 km SSE of Nueva Concepci√≥n, Guatemala
1    140  35.33  5.5                    South Sandwich Islands region
2    254  65.50  5.1                    South Sandwich Islands region
3    512  10.00  5.7  208 km W of Olonkinbyen, Svalbard and Jan Mayen
4    979  99.34  5.3                    South Sandwich Islands region
5   1105  10.00  5.5                       central Mid-Atlantic Ridge
6   1624  10.00  5.3                          Ascension Island region
7   1886  10.00  5.5                          Ascension Island region
8   2501  10.00  6.2                       central Mid-Atlantic Ridge
9   2578  10.00  5.1               east of the South Sandwich Islands

to start indexing form 0 and regularize it.

Also remember that you can add new columns and rows to the DataFrame:

In [80]:
#set new custom_score column and fill it with empty strings
eqPastMonth['custom_mag'] = ''
eqPastMonth['custom_mag'] = np.where(eqPastMonth['mag'] < 5, 'Small', "Large")
eqPastMonth.head(10)

                       time   latitude  ...                datetime  custom_mag
0  2022-02-16T20:07:51.700Z  33.165667  ... 2022-02-16 20:07:51.700       Small
1  2022-02-16T20:06:36.970Z  35.937500  ... 2022-02-16 20:06:36.970       Small
2  2022-02-16T20:01:07.410Z  19.186333  ... 2022-02-16 20:01:07.410       Small
3  2022-02-16T19:40:50.170Z  33.451333  ... 2022-02-16 19:40:50.170       Small
4  2022-02-16T19:35:33.190Z  36.716499  ... 2022-02-16 19:35:33.190       Small
5  2022-02-16T19:35:20.500Z  38.789166  ... 2022-02-16 19:35:20.500       Small
6  2022-02-16T19:32:55.130Z  37.988834  ... 2022-02-16 19:32:55.130       Small
7  2022-02-16T19:19:46.840Z  38.819832  ... 2022-02-16 19:19:46.840       Small
8  2022-02-16T19:18:15.583Z  61.364100  ... 2022-02-16 19:18:15.583       Small
9  2022-02-16T19:17:25.040Z  33.430000  ... 2022-02-16 19:17:25.040       Small

[10 rows x 26 columns]

### Work with indexes and MultiIndex option

[[back to top]](#Table-of-Contents)

Pandas allows to set specific indexes to a DataFrame. It can be defined at creating of a DataFrame:

In [81]:
import random
indexes = [random.randrange(0,100) for i in range(5)]
data = [{i:random.randint(0,10) for i in 'ABCDE'} for i in range(5)]
df = pd.DataFrame(data, index=indexes)
df

    A  B  C   D  E
42  9  5  3   4  9
57  6  9  8   8  1
14  1  1  0   7  3
23  1  0  2  10  0
25  5  3  2   3  5

Or be change any time

In [82]:
df.index = ['a', 'b', 'c', 'd', 'e']
df

   A  B  C   D  E
a  9  5  3   4  9
b  6  9  8   8  1
c  1  1  0   7  3
d  1  0  2  10  0
e  5  3  2   3  5

There is the possibility to select any column (one or more) as index column

In [83]:
# if duplicates exist you can drop duplicates to get unique values
#eqPastMonth_nodups = eqPastMonth.drop_duplicates(subset='time', keep='last')
# we don't need to do that.
# set 'time' as index
eqPastMonth_indexChange = eqPastMonth.set_index('time')
eqPastMonth_indexChange.head(10)

                           latitude  ...  custom_mag
time                                 ...
2022-02-16T20:07:51.700Z  33.165667  ...       Small
2022-02-16T20:06:36.970Z  35.937500  ...       Small
2022-02-16T20:01:07.410Z  19.186333  ...       Small
2022-02-16T19:40:50.170Z  33.451333  ...       Small
2022-02-16T19:35:33.190Z  36.716499  ...       Small
2022-02-16T19:35:20.500Z  38.789166  ...       Small
2022-02-16T19:32:55.130Z  37.988834  ...       Small
2022-02-16T19:19:46.840Z  38.819832  ...       Small
2022-02-16T19:18:15.583Z  61.364100  ...       Small
2022-02-16T19:17:25.040Z  33.430000  ...       Small

[10 rows x 25 columns]

By default, `set_index()` returns a new DataFrame, so you‚Äôll have to specify if you‚Äôd like the changes to occur in place.

Let‚Äôs create a many levels index for `filtered_df_2` DataFrame

In [73]:
# set 'id' & 'type' as index
eqPastMonth_multi = eqPastMonth.set_index(['id','type'])[["latitude","longitude","depth","mag", "place"]]
eqPastMonth_multi.head(10)

                          latitude  ...                                 place
id           type                   ...
hv72363462   earthquake  19.181000  ...            2 km SSE of PƒÅhala, Hawaii
ak0212ja58vx earthquake  64.743700  ...   17 km NNW of Four Mile Road, Alaska
nn00801159   earthquake  37.351300  ...             33 km S of Rachel, Nevada
hv72363447   earthquake  19.453667  ...  28 km E of Honaunau-Napoopoo, Hawaii
pr2021055003 earthquake  17.821000  ...       16 km S of Gu√°nica, Puerto Rico
us7000ddeg   earthquake -15.108600  ...           106 km NNE of Hihifo, Tonga
nn00801158   earthquake  38.173300  ...              29 km SE of Mina, Nevada
hv72363427   earthquake  19.464333  ...  28 km E of Honaunau-Napoopoo, Hawaii
hv72363422   earthquake  19.151167  ...              5 km S of PƒÅhala, Hawaii
ci39800680   earthquake  32.537333  ...          12km ESE of Puebla, B.C., MX

[10 rows x 5 columns]

and see the type of `eqPastMonth_multi.index()`

In [74]:
print ('type: ', type(eqPastMonth_multi.index))

type:  <class 'pandas.core.indexes.multi.MultiIndex'>

Thus, we get a new pandas class MultiIndex, which contains information about indexing of DataFrame and allows manipulating with this data. It‚Äôs interesting what is the type of `filtered_df_2.index()`?

You can get levels, labels and names values simply address it as to an attribute

### Selection by label and position
[[back to top]](#Table-of-Contents)

After reading previous three subparagraphs probably you have the question: Ok, I know now filter a DataFrame, how make it multi-indexed, but I don‚Äôt know how select any specific row in the table.
Object selection in pandas is now supported by two types of multi-axis indexing.

* `.loc` works on labels in the index;
* `.iloc` works on the positions in the index (so it only takes integers);

    
The sequence of the following examples demonstrates how we can manipulate with DataFrame‚Äôs rows.
At first let‚Äôs get the first row of equakes in the past month.

In [87]:
#To return a single record(i.e. row), in this case the first one.
eqPastMonth.loc[0]

time                 2022-02-16T20:07:51.700Z
latitude                            33.165667
longitude                         -116.615167
depth                                   -0.08
mag                                       0.9
magType                                    ml
nst                                      13.0
gap                                     178.0
dmin                                   0.3278
rms                                      0.36
net                                        ci
id                                 ci40187648
updated              2022-02-16T20:11:28.370Z
place                    10km N of Julian, CA
type                               earthquake
horizontalError                          1.86
depthError                              31.61
magError                                0.135
magNst                                    9.0
status                              automatic
locationSource                             ci
magSource                                  ci
longMagType                               5.9
magPlus5                                  5.9
datetime           2022-02-16 20:07:51.700000
custom_mag                              Small
Name: 0, dtype: object

and rows from 1 to 3 (pay attention on setting of ranges in `.loc`, the right boundary is included to this range which IS different than Python lists and string data structures)

In [88]:
eqPastMonth.loc[1:3]

                       time   latitude  ...                datetime  custom_mag
1  2022-02-16T20:06:36.970Z  35.937500  ... 2022-02-16 20:06:36.970       Small
2  2022-02-16T20:01:07.410Z  19.186333  ... 2022-02-16 20:01:07.410       Small
3  2022-02-16T19:40:50.170Z  33.451333  ... 2022-02-16 19:40:50.170       Small

[3 rows x 26 columns]

As you can see the first argument of `.loc` corresponds to index name. If you want return value of specific column(s), you should to define the name of this(these) column(s)

In [76]:
eqPastMonth.loc[0, 'place']

'2 km SSE of PƒÅhala, Hawaii'

In [81]:
eqPastMonth.loc[3:10, ['place', 'mag']]

                                   place   mag
3   28 km E of Honaunau-Napoopoo, Hawaii  1.79
4        16 km S of Gu√°nica, Puerto Rico  2.41
5            106 km NNE of Hihifo, Tonga  5.00
6               29 km SE of Mina, Nevada  1.10
7   28 km E of Honaunau-Napoopoo, Hawaii  1.83
8               5 km S of PƒÅhala, Hawaii  2.05
9           12km ESE of Puebla, B.C., MX  2.89
10             2km NW of The Geysers, CA  1.42

Let‚Äôs repeat that the first argument of `.loc` is not row number but name of the index for this row

But if it is necessary to obtain rows by it number you may use `.iloc`

In [214]:
eqPastMonth.iloc[0]

time                 2021-02-17T04:25:59.180Z
latitude                            35.763168
longitude                         -120.329834
depth                                    9.28
mag                                      1.91
magType                                    md
nst                                      17.0
gap                                      90.0
dmin                                  0.01278
rms                                      0.08
net                                        nc
id                                 nc73524166
updated              2021-02-17T04:27:35.667Z
place                  6km NNW of Cholame, CA
type                               earthquake
horizontalError                          0.38
depthError                               0.52
magError                                 0.16
magNst                                    4.0
status                              automatic
locationSource                             nc
magSource                                  nc
datetime           2021-02-17 04:25:59.180000
custom_mag                              Small
Name: 0, dtype: object

In [84]:
eqPastMonth.iloc[1:5,3:5]

   depth   mag
1  20.10  1.10
2   0.30  1.60
3  -1.39  1.79
4  10.00  2.41

In the first case column‚Äôs number coincides with its name. The second example demonstrates the difference between `.loc` and `.iloc`

In [91]:
eqPastMonth.loc[1:5]

                       time   latitude  ...                datetime  custom_mag
1  2022-02-16T20:06:36.970Z  35.937500  ... 2022-02-16 20:06:36.970       Small
2  2022-02-16T20:01:07.410Z  19.186333  ... 2022-02-16 20:01:07.410       Small
3  2022-02-16T19:40:50.170Z  33.451333  ... 2022-02-16 19:40:50.170       Small
4  2022-02-16T19:35:33.190Z  36.716499  ... 2022-02-16 19:35:33.190       Small
5  2022-02-16T19:35:20.500Z  38.789166  ... 2022-02-16 19:35:20.500       Small

[5 rows x 26 columns]

### Work with missing data

[[back to top]](#Table-of-Contents)

Pandas primarily uses the value `np.nan` to represent missing data (in table missed/empty value are marked by `NaN`). It is by default not included in computations. Missing data creates many issues at mathematical or computational tasks with DataFrames and Series and it‚Äôs important to know how fight with these values.

Previously we have learned how to check `null` and `non-null` values in the DataFrame and Series and how to miss `null` row in the table. But what to do if we need to use rows with `null` data, for example, find sum of all values in the dataset?

Let‚Äôs try do this

In [93]:
magError = eqPastMonth['magError']
sum(magError)

nan

The result is unexpected because there many `non-null` values in `eqPastMonth['magError']` Series. Sure, we could filter `magError['magError']`  and remain only `non-null` values. But what if we need sum all numerical values in `magError`? This way will be powerless or too complicated, because we will drop all row items even there is only one `null` value in this row. You can try to do this yourself.

To solve the assigned task you may use an elegant pandas method `fillna(value)`, which replace all `null` values by value.

In [97]:
magError = eqPastMonth['magError'].fillna(0)
magError.median()

0.13

In [89]:
eqPastMonth_fillna = eqPastMonth.fillna(0)
eqPastMonth_fillna.head(10)

                       time   latitude  ...  magPlus1                datetime
0  2021-02-24T19:50:07.610Z  19.181000  ...      2.25 2021-02-24 19:50:07.610
1  2021-02-24T19:46:29.747Z  64.743700  ...      1.20 2021-02-24 19:46:29.747
2  2021-02-24T19:35:10.940Z  37.351300  ...      1.70 2021-02-24 19:35:10.940
3  2021-02-24T19:34:35.290Z  19.453667  ...      1.89 2021-02-24 19:34:35.290
4  2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150
5  2021-02-24T19:19:50.122Z -15.108600  ...      5.10 2021-02-24 19:19:50.122
6  2021-02-24T19:12:39.950Z  38.173300  ...      1.20 2021-02-24 19:12:39.950
7  2021-02-24T19:11:05.610Z  19.464333  ...      1.93 2021-02-24 19:11:05.610
8  2021-02-24T19:07:06.420Z  19.151167  ...      2.15 2021-02-24 19:07:06.420
9  2021-02-24T19:05:11.260Z  32.537333  ...      2.99 2021-02-24 19:05:11.260

[10 rows x 24 columns]

Thus, we replace all `NaN` items to `0`. If `inplace=True` in `fillna()` method, then a DataFrame renew.
   
To remain only rows with `non-null` values you can use method `dropna()`

In [98]:
eqPastMonth_fillna = eqPastMonth.dropna(0)
print(eqPastMonth_fillna.mean())
eqPastMonth_fillna.head(10)

__main__:2: FutureWarning:

DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

latitude            37.080326
longitude         -115.843078
depth                6.737574
mag                  1.165225
nst                 20.367261
gap                108.646107
dmin                 0.086803
rms                  0.119242
horizontalError      0.520107
depthError           2.486723
magError             0.167475
magNst              11.791979
longMagType          6.165225
magPlus5             6.165225
dtype: float64

                        time   latitude  ...                datetime  custom_mag
0   2022-02-16T20:07:51.700Z  33.165667  ... 2022-02-16 20:07:51.700       Small
1   2022-02-16T20:06:36.970Z  35.937500  ... 2022-02-16 20:06:36.970       Small
3   2022-02-16T19:40:50.170Z  33.451333  ... 2022-02-16 19:40:50.170       Small
4   2022-02-16T19:35:33.190Z  36.716499  ... 2022-02-16 19:35:33.190       Small
5   2022-02-16T19:35:20.500Z  38.789166  ... 2022-02-16 19:35:20.500       Small
6   2022-02-16T19:32:55.130Z  37.988834  ... 2022-02-16 19:32:55.130       Small
9   2022-02-16T19:17:25.040Z  33.430000  ... 2022-02-16 19:17:25.040       Small
13  2022-02-16T18:26:44.470Z  33.721667  ... 2022-02-16 18:26:44.470       Small
14  2022-02-16T18:19:01.510Z  33.715667  ... 2022-02-16 18:19:01.510       Small
15  2022-02-16T18:18:53.530Z  33.719500  ... 2022-02-16 18:18:53.530       Small

[10 rows x 26 columns]

We can manipulate by `null` values and columns using parameters subset and how to set analyzing columns and type of analysis respectively

> ### Exercise 1

> - Get type of `‚Äúlatitude‚Äù` column in `eqPastMonth`. 

> - In `eqPastMonth` find all rows where `magType` corresponds to the value `"md"` and where `mag` is less `5` and `not-null` `magError`. Call the obtained DataFrmae as `eqPastMonth_md_large`.

In [221]:
# type your code here
eqPastMonth_md_large = eqPastMonth