---
<center><h1>Basic intro into pandas</h1></center> 
---
---

<center><h2>Working with pandas DataFrames: grouping</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: grouping](#Work-with-pandas-DataFrames:-grouping)
    * [Splitting of a DataFrame into groups](#Splitting-of-a-DataFrame-into-groups)
    * [Selection and filtering](#Selection-and-filtering)
    * [Aggregation and function application](#Aggregation-and-function-application)
    - [*Exercise 1*](#Exercise-1)

In [131]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: grouping

[[back to top]](#Table-of-Contents)

We will a werather station dataset so that we can see what is going on when we group.

In [132]:
from arcgis.features import GeoAccessor, GeoSeriesAccessor
#Import a COVID data layer.  This layer contains the updated stats for each county in the United States
from arcgis.features import FeatureLayer
mylayer = FeatureLayer(("https://services9.arcgis.com/RHVPKKiFTONKtxq3/arcgis/rest/services/NOAA_METAR_current_wind_speed_direction_v1/FeatureServer/0"))
sdf2 = pd.DataFrame.spatial.from_layer(mylayer)
sdf2.head(5)

   OBJECTID  ...                                              SHAPE
0      4992  ...  {"x": 17816350.542999998, "y": -1054514.398899...
1      5233  ...  {"x": 17506437.0806, "y": -930237.9125000015, ...
2      5915  ...  {"x": 17818131.654799998, "y": -1294537.687800...
3      5517  ...  {"x": 18581338.0837, "y": -60892.6865000017, "...
4      5224  ...  {"x": 16063402.521499999, "y": -650227.3401000...

[5 rows x 23 columns]

In [133]:
sdfUSA = sdf2.loc[sdf2["COUNTRY"].apply(lambda x: "United States Of America" in str(x))]
sdfUSA["State"] = sdfUSA['COUNTRY'].apply(lambda x: str(x).split(",")[0])
sdfUSA["COUNTRY"] = sdfUSA['COUNTRY'].apply(lambda x: str(x).split(",")[1])
sdfUSA

[133]:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
[133]:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      OBJECTID  ...          State
5950      6060  ...         Alaska
5951      3767  ...         Alaska
5952      5937  ...         Alaska
5953      5725  ...         Alaska
5954      4180  ...         Alaska
6065      4922  ...     California
6066       517  ...     California
6083      6002  ...        Florida
6084      6003  ...        Florida
6093      1027  ...        Georgia
6094      1014  ...        Georgia
6095      2936  ...        Georgia
6101      5970  ...         Hawaii
6102      5889  ...         Hawaii
6103      5971  ...         Hawaii
6104      5840  ...       Illinois
6108      5965  ...           Iowa
6115      1045  ...         Kansas
6116       985  ...       Kentucky
6120       107  ...      Louisiana
6121       498  ...      Louisiana
6122       150  ...      Louisiana
6125      6104  ...      Minnesota
6126      5832  ...    Mississippi
6127      5683  ...        Montana
6128      1618  ...        Montana
6135      5691  ...       Nebraska
6137      5977  ...     New Jersey
6138      3856  ...       New York
6157       585  ...           Ohio
6158       631  ...       Oklahoma
6190      4754  ...          Texas
6191      2260  ...          Texas
6202       175  ...           Utah
6209      1015  ...  West Virginia

[35 rows x 24 columns]

In [134]:
sdfUSA.dtypes

OBJECTID                 Int64
ICAO            string[python]
OBS_DATETIME    datetime64[ns]
STATION_NAME    string[python]
COUNTRY                 object
ELEVATION              Float64
TEMP                   Float64
DEW_POINT              Float64
R_HUMIDITY               Int32
WIND_DIRECT              Int32
WIND_SPEED               Int32
WIND_GUST                Int32
WIND_CHILL             Float64
VISIBILITY               Int32
PRESSURE               Float64
SKY_CONDTN      string[python]
WEATHER         string[python]
REMARKS         string[python]
HEAT_INDEX             Float64
LATITUDE               Float64
LONGITUDE              Float64
FLT_CATEGORY    string[python]
SHAPE                 geometry
State                   object
dtype: object

So, let’s shortly describe what you will know after reading the blog post:
1.	how to split a DataFrame into a group;
2.	how select a group in the grouped DataFrame and filter the grouping data;
3.	how aggregate grouping data and how apply many function at once to the grouping data;

### Splitting of a DataFrame into groups

[[back to top]](#Table-of-Contents)

pandas DataFrames can be split on any of their axes. Grouping denotes the providence of a mapping of labels to group names. Method `groupby()` is provided in pandas for grouping. The `groupby()` function returns a `GroupBy` object, but essentially describes how the rows of the original data set has been split.

In [135]:
sdfUSA_grouped = sdfUSA.groupby('State')
sdfUSA_grouped

In [136]:
sdfUSA_grouped['COUNTRY']

Use `list()` to show what a grouping looks like

In [137]:
list(sdfUSA_grouped)

[('Alaska',       OBJECTID  ICAO  ...                                              SHAPE   State
5950      6060  PAEC  ...  {"x": -16651503.3913, "y": 9072352.268600002, ...  Alaska
5951      3767  PAHP  ...  {"x": -18495733.3953, "y": 8746212.867399998, ...  Alaska
5952      5937  PALR  ...  {"x": -16528717.993, "y": 10299995.503399998, ...  Alaska
5953      5725  PAOH  ...  {"x": -15078002.389, "y": 7990039.264200002, "...  Alaska
5954      4180  PAWI  ...  {"x": -17812565.6803, "y": 11279281.076499999,...  Alaska

[5 rows x 24 columns]), ('California',       OBJECTID  ...       State
6065      4922  ...  California
6066       517  ...  California

[2 rows x 24 columns]), ('Florida',       OBJECTID  ...    State
6083      6002  ...  Florida
6084      6003  ...  Florida

[2 rows x 24 columns]), ('Georgia',       OBJECTID  ...    State
6093      1027  ...  Georgia
6094      1014  ...  Georgia
6095      2936  ...  Georgia

[3 rows x 24 columns]), ('Hawaii',       OBJECTID  ICAO  ...                                              SHAPE   State
6101      5970  PHHN  ...  {"x": -17368066.9536, "y": 2368046.6396000013,...  Hawaii
6102      5889  PHJH  ...  {"x": -17440424.6226, "y": 2388301.7677999996,...  Hawaii
6103      5971  PHMU  ...  {"x": -17329105.1318, "y": 2273030.927000001, ...  Hawaii

[3 rows x 24 columns]), ('Illinois',       OBJECTID  ...     State
6104      5840  ...  Illinois

[1 rows x 24 columns]), ('Iowa',       OBJECTID  ICAO  ...                                              SHAPE State
6108      5965  KDMX  ...  {"x": -10432862.6771, "y": 5120620.167099997, ...  Iowa

[1 rows x 24 columns]), ('Kansas',       OBJECTID  ICAO  ...                                              SHAPE   State
6115      1045  K1K1  ...  {"x": -10811348.9458, "y": 4546985.284400001, ...  Kansas

[1 rows x 24 columns]), ('Kentucky',       OBJECTID  ...     State
6116       985  ...  Kentucky

[1 rows x 24 columns]), ('Louisiana',       OBJECTID  ...      State
6120       107  ...  Louisiana
6121       498  ...  Louisiana
6122       150  ...  Louisiana

[3 rows x 24 columns]), ('Minnesota',       OBJECTID  ...      State
6125      6104  ...  Minnesota

[1 rows x 24 columns]), ('Mississippi',       OBJECTID  ...        State
6126      5832  ...  Mississippi

[1 rows x 24 columns]), ('Montana',       OBJECTID  ...    State
6127      5683  ...  Montana
6128      1618  ...  Montana

[2 rows x 24 columns]), ('Nebraska',       OBJECTID  ...     State
6135      5691  ...  Nebraska

[1 rows x 24 columns]), ('New Jersey',       OBJECTID  ...       State
6137      5977  ...  New Jersey

[1 rows x 24 columns]), ('New York',       OBJECTID  ...     State
6138      3856  ...  New York

[1 rows x 24 columns]), ('Ohio',       OBJECTID  ICAO  ...                                              SHAPE State
6157       585  KI19  ...  {"x": -9349679.5039, "y": 4821501.988399997, "...  Ohio

[1 rows x 24 columns]), ('Oklahoma',       OBJECTID  ...     State
6158       631  ...  Oklahoma

[1 rows x 24 columns]), ('Texas',       OBJECTID  ICAO  ...                                              SHAPE  State
6190      4754  KGDP  ...  {"x": -11667284.5106, "y": 3741369.8814999983,...  Texas
6191      2260  KLZZ  ...  {"x": -10931295.6972, "y": 3646509.9246999994,...  Texas

[2 rows x 24 columns]), ('Utah',       OBJECTID  ICAO  ...                                              SHAPE State
6202       175  KU55  ...  {"x": -12510084.375300001, "y": 4558257.461000...  Utah

[1 rows x 24 columns]), ('West Virginia',       OBJECTID  ...          State
6209      1015  ...  West Virginia

[1 rows x 24 columns])]

As it can be easily seen, the `GroupBy` object is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group.

In [138]:
for key, value in list(sdfUSA_grouped)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in short_grouped:
    print (key)
    print (value)

Alaska
      OBJECTID  ICAO  ...                                              SHAPE   State
5950      6060  PAEC  ...  {"x": -16651503.3913, "y": 9072352.268600002, ...  Alaska
5951      3767  PAHP  ...  {"x": -18495733.3953, "y": 8746212.867399998, ...  Alaska
5952      5937  PALR  ...  {"x": -16528717.993, "y": 10299995.503399998, ...  Alaska
5953      5725  PAOH  ...  {"x": -15078002.389, "y": 7990039.264200002, "...  Alaska
5954      4180  PAWI  ...  {"x": -17812565.6803, "y": 11279281.076499999,...  Alaska

[5 rows x 24 columns]
California
      OBJECTID  ...       State
6065      4922  ...  California
6066       517  ...  California

[2 rows x 24 columns]
Florida
      OBJECTID  ...    State
6083      6002  ...  Florida
6084      6003  ...  Florida

[2 rows x 24 columns]

Besides, you may to see the first and the last item of each group

In [139]:
sdfUSA_grouped.first().head(10)

            OBJECTID  ...                                              SHAPE
State                 ...
Alaska          6060  ...  {"x": -16651503.3913, "y": 9072352.268600002, ...
California      4922  ...  {"x": -13168093.885400001, "y": 4032025.095200...
Florida         6002  ...  {"x": -9645833.8772, "y": 3555070.433799997, "...
Georgia         1027  ...  {"x": -9170800.2142, "y": 3893445.844999999, "...
Hawaii          5970  ...  {"x": -17368066.9536, "y": 2368046.6396000013,...
Illinois        5840  ...  {"x": -9775706.6165, "y": 5173470.558499999, "...
Iowa            5965  ...  {"x": -10432862.6771, "y": 5120620.167099997, ...
Kansas          1045  ...  {"x": -10811348.9458, "y": 4546985.284400001, ...
Kentucky         985  ...  {"x": -9809473.5287, "y": 4485204.895800002, "...
Louisiana        107  ...  {"x": -10026546.5358, "y": 3497124.4274000004,...

[10 rows x 23 columns]

In [140]:
sdfUSA_grouped.last().head(10)

            OBJECTID  ...                                              SHAPE
State                 ...
Alaska          4180  ...  {"x": -17812565.6803, "y": 11279281.076499999,...
California       517  ...  {"x": -13427356.9795, "y": 4177479.0622000024,...
Florida         6003  ...  {"x": -9645833.8772, "y": 3555070.433799997, "...
Georgia         2936  ...  {"x": -9135990.6094, "y": 3811977.4724999964, ...
Hawaii          5971  ...  {"x": -17329105.1318, "y": 2273030.927000001, ...
Illinois        5840  ...  {"x": -9775706.6165, "y": 5173470.558499999, "...
Iowa            5965  ...  {"x": -10432862.6771, "y": 5120620.167099997, ...
Kansas          1045  ...  {"x": -10811348.9458, "y": 4546985.284400001, ...
Kentucky         985  ...  {"x": -9809473.5287, "y": 4485204.895800002, "...
Louisiana        150  ...  {"x": -9843982.5708, "y": 3407504.076200001, "...

[10 rows x 23 columns]

### Selection and filtering

[[back to top]](#Table-of-Contents)

Functions of descriptive statistic like `sum()`, `count()`, `max()`, `min()`, `mean()` can be quickly applied to the `GroupBy` object to obtain summary statistics for each group – an immensely useful function. The same statement is valid also for functions like `describe()` which return general information about an object. 

Let’s show a few examples of descriptive statistic function application to the `GroupBy` object

In [141]:
sdfUSA_grouped.count().head(10)

            OBJECTID  ICAO  OBS_DATETIME  ...  LONGITUDE  FLT_CATEGORY  SHAPE
State                                     ...
Alaska             5     5             5  ...          5             5      5
California         2     2             2  ...          2             1      2
Florida            2     2             2  ...          2             2      2
Georgia            3     3             3  ...          3             3      3
Hawaii             3     3             3  ...          3             1      3
Illinois           1     1             1  ...          1             1      1
Iowa               1     1             1  ...          1             0      1
Kansas             1     1             1  ...          1             1      1
Kentucky           1     1             1  ...          1             1      1
Louisiana          3     3             3  ...          3             2      3

[10 rows x 23 columns]

In [144]:
sdfUSA_grouped.sum(numeric_only=True).add_prefix('sum_of_').head(10)  
# calculate the sum only for numeric columns, 
# all columns with other types will be ignored and missed
# we have add also common prefics to all columns. It's very convenient

            sum_of_OBJECTID  ...  sum_of_LONGITUDE
State                        ...
Alaska                25669  ...          -759.674
California             5439  ...          -238.911
Florida               12005  ...            -173.3
Georgia                4977  ...         -247.5827
Hawaii                17830  ...           -468.36
Illinois               5840  ...         -87.81667
Iowa                   5965  ...            -93.72
Kansas                 1045  ...            -97.12
Kentucky                985  ...            -88.12
Louisiana               755  ...           -267.93

[10 rows x 14 columns]

In [145]:
sdfUSA_grouped.mean(numeric_only=True)

                  OBJECTID   ELEVATION   TEMP  ...  HEAT_INDEX   LATITUDE  LONGITUDE
State                                          ...
Alaska              5133.8       247.0  39.78  ...        <NA>    64.1302  -151.9348
California          2719.5        27.0  57.75  ...        <NA>     34.562  -119.4555
Florida             6002.5      9999.0   86.2  ...        96.7       30.4     -86.65
Georgia             1659.0  121.333333   59.6  ...        <NA>  32.985333 -82.527567
Hawaii         5943.333333  298.666667   70.7  ...        <NA>      20.59    -156.12
Illinois            5840.0        <NA>   48.9  ...        <NA>   42.08333  -87.81667
Iowa                5965.0       299.0   <NA>  ...        <NA>      41.73     -93.72
Kansas              1045.0       411.0   46.9  ...        <NA>      37.77     -97.12
Kentucky             985.0       199.0   68.2  ...        <NA>      37.33     -88.12
Louisiana       251.666667        11.0   8.15  ...        <NA>  29.516667     -89.31
Minnesota           6104.0       241.0   43.0  ...        <NA>      47.58     -90.83
Mississippi         5832.0        31.0   <NA>  ...        <NA>     29.121    -89.547
Montana             3650.5       812.0   67.1  ...        91.2   47.27645   -111.056
Nebraska            5691.0        <NA>   78.4  ...        78.9      42.05  -101.0667
New Jersey          5977.0        13.0   68.5  ...        <NA>      40.07     -74.18
New York            3856.0       427.0   42.8  ...        <NA>    41.7056   -74.8004
Ohio                 585.0       285.0   35.6  ...        <NA>    39.6935   -83.9896
Oklahoma             631.0       190.0   71.6  ...        76.1      36.22     -95.33
Texas               3507.0      1010.0  50.65  ...        <NA>    31.4693 -101.50325
Utah                 175.0      2060.0   57.2  ...        <NA>      37.85    -112.38
West Virginia       1015.0       195.0   18.9  ...        <NA>      38.92      -82.1

[21 rows x 14 columns]

In [146]:
sdfUSA.groupby(['State'])['TEMP'].mean()
# calculate sum for a single column
# it works more quickly then movies.groupby(['State']).mean()['TEMP'] becuase it sheads the data it does not need before the mean operation

State
Alaska           39.78
California       57.75
Florida           86.2
Georgia           59.6
Hawaii            70.7
Illinois          48.9
Iowa              <NA>
Kansas            46.9
Kentucky          68.2
Louisiana         8.15
Minnesota         43.0
Mississippi       <NA>
Montana           67.1
Nebraska          78.4
New Jersey        68.5
New York          42.8
Ohio              35.6
Oklahoma          71.6
Texas            50.65
Utah              57.2
West Virginia     18.9
Name: TEMP, dtype: Float64

In [148]:
sdfUSA.groupby(['State', 'STATION_NAME']).sum(numeric_only=True)
# it is possible to group by many columns
# pay your attention that the changing of the order of 
# columns for grouping in 
# its list also changes the result table

                                OBJECTID  ELEVATION  ...  LATITUDE  LONGITUDE
State         STATION_NAME                           ...
Alaska        Chandalar Lake        5937      579.0  ...      67.5    -148.48
              Chulitna              6060      389.0  ...    62.886   -149.583
              Hoonah                5725        0.0  ...    58.108   -135.448
              Hooper Bay            3767        8.0  ...     61.52    -166.15
              Wainwright            4180       12.0  ...    70.637   -160.013
California    Los Angeles           4922       51.0  ...    34.024   -118.291
              Oceano Cnty            517        3.0  ...      35.1    -120.62
Florida       Hurlbert             12005    19998.0  ...      60.8     -173.3
Georgia       Greensboro            1014      207.0  ...      33.6     -83.13
              Louisville            1027       97.0  ...    32.986   -82.3827
              Metter                2936       60.0  ...     32.37     -82.07
Hawaii        Hana                  5970       20.0  ...      20.8    -156.02
              Kamuela/Waimea        5971      809.0  ...      20.0    -155.67
              Lahaina/West Mau      5889       67.0  ...     20.97    -156.67
Illinois      Glenview Nas          5840        0.0  ...  42.08333  -87.81667
Iowa          Johnston/Desmoin      5965      299.0  ...     41.73     -93.72
Kansas        Benton                1045      411.0  ...     37.77     -97.12
Kentucky      Marion                 985      199.0  ...     37.33     -88.12
Louisiana     Boothville Hel         498        1.0  ...     29.35     -89.43
              Main Pass 289C         150       32.0  ...     29.25     -88.43
              New Orleans/Supe       107        0.0  ...     29.95     -90.07
Minnesota     Tofte (Ramos)         6104      241.0  ...     47.58     -90.83
Mississippi   West Delta 27A        5832       31.0  ...    29.121    -89.547
Montana       Forsyth               5683      831.0  ...   46.2695    -106.62
              Libby                 1618      793.0  ...   48.2834   -115.492
Nebraska      Mullen                5691        0.0  ...     42.05  -101.0667
New Jersey    Lakewood              5977       13.0  ...     40.07     -74.18
New York      Monticello            3856      427.0  ...   41.7056   -74.8004
Ohio          Dayton-Jackson         585      285.0  ...   39.6935   -83.9896
Oklahoma      Pryor                  631      190.0  ...     36.22     -95.33
Texas         Guadalupe Pass        4754     1664.0  ...   31.8327   -104.809
              Lampasas              2260      356.0  ...   31.1059   -98.1975
Utah          Panguitch              175     2060.0  ...     37.85    -112.38
West Virginia Pt Pleasant           1015      195.0  ...     38.92      -82.1

[34 rows x 14 columns]

It is possible also to show all groups

In [149]:
sdfUSA_grouped.groups

{'Alaska': [5950, 5951, 5952, 5953, 5954], 'California': [6065, 6066], 'Florida': [6083, 6084], 'Georgia': [6093, 6094, 6095], 'Hawaii': [6101, 6102, 6103], 'Illinois': [6104], 'Iowa': [6108], 'Kansas': [6115], 'Kentucky': [6116], 'Louisiana': [6120, 6121, 6122], 'Minnesota': [6125], 'Mississippi': [6126], 'Montana': [6127, 6128], 'Nebraska': [6135], 'New Jersey': [6137], 'New York': [6138], 'Ohio': [6157], 'Oklahoma': [6158], 'Texas': [6190, 6191], 'Utah': [6202], 'West Virginia': [6209]}

and display the content only of necessary group

In [150]:
sdfUSA_grouped.get_group("Mississippi")

      OBJECTID  ...        State
6126      5832  ...  Mississippi

[1 rows x 24 columns]

In [152]:
sdfUSA_grouped.get_group("Mississippi").mean(numeric_only=True)

OBJECTID        5832.0
ELEVATION         31.0
TEMP              <NA>
DEW_POINT         <NA>
R_HUMIDITY        <NA>
WIND_DIRECT      180.0
WIND_SPEED        17.0
WIND_GUST         31.0
WIND_CHILL        <NA>
VISIBILITY     16000.0
PRESSURE        1008.8
HEAT_INDEX        <NA>
LATITUDE        29.121
LONGITUDE      -89.547
dtype: object

We have just one helpful and powerful option for you! It is `filter()`.

Suppose you need remain only those groups where there are less than 5 items. Sure, you may hardly calculate amount of items in each group and then remove not satisfying for condition. But it can be done very easily.

In [153]:
sdfUSA_grouped.filter(lambda x: len(x) < 5).sort_values("State")

      OBJECTID  ...          State
6065      4922  ...     California
6066       517  ...     California
6083      6002  ...        Florida
6084      6003  ...        Florida
6093      1027  ...        Georgia
6094      1014  ...        Georgia
6095      2936  ...        Georgia
6101      5970  ...         Hawaii
6102      5889  ...         Hawaii
6103      5971  ...         Hawaii
6104      5840  ...       Illinois
6108      5965  ...           Iowa
6115      1045  ...         Kansas
6116       985  ...       Kentucky
6122       150  ...      Louisiana
6120       107  ...      Louisiana
6121       498  ...      Louisiana
6125      6104  ...      Minnesota
6126      5832  ...    Mississippi
6127      5683  ...        Montana
6128      1618  ...        Montana
6135      5691  ...       Nebraska
6137      5977  ...     New Jersey
6138      3856  ...       New York
6157       585  ...           Ohio
6158       631  ...       Oklahoma
6190      4754  ...          Texas
6191      2260  ...          Texas
6202       175  ...           Utah
6209      1015  ...  West Virginia

[30 rows x 24 columns]

One more example:

In [156]:
sdfUSA_grouped.filter(lambda x: x['TEMP'].mean(numeric_only=True) > 50 and x['R_HUMIDITY'].mean(numeric_only=True) > 50)

TypeError: boolean value of NA is ambiguous

### Aggregation

[[back to top]](#Table-of-Contents)

We have seen previously, pandas allows to apply any function to a Series or to a DataFrame. Grouping is not an exception and you may use the same method `apply()` directly with `GroupBy` objects.  Aggregation can be done via the `aggregate()` or equivalently `agg()` method

In [157]:
sdfUSA_grouped.agg(np.sum).head(10)
# or state_grouped.aggregate(np.sum)

TypeError: datetime64 type does not support sum operations

Sure, above variant is equivalent to `state_grouped.sum()`.
One of the advantages of `agg()` method is the possibility of application of many functions to one and same dataset at once

In [255]:
# at first let's write the function which returns amount of notnull values 
def count_not_null(x):
    return len([i for i in x if pd.notnull(i)])
sdfUSA_grouped[['TEMP', 'R_HUMIDITY', "WIND_SPEED"]].agg([np.sum, np.mean, count_not_null]).head(10)

               TEMP             ... WIND_SPEED
                sum       mean  ...       mean count_not_null
State                           ...
Alabama      2572.8  62.751220  ...   8.951220             41
Alaska       1597.3  12.778400  ...  15.867188            128
Arizona      2132.7  50.778571  ...   7.523810             42
Arkansas     2098.6  58.294444  ...  15.194444             36
California   6184.2  47.570769  ...   5.893130            131
Colorado     1656.1  25.876562  ...  13.109375             64
Connecticut   455.0  45.500000  ...  12.700000             10
Delaware      210.3  52.575000  ...  14.000000              4
Florida      6726.3  71.556383  ...   9.463158             95
Georgia      5136.1  65.013924  ...   5.936709             79

[10 rows x 9 columns]

Sure, you may apply many functions to whole DataFrame at once

Another simple aggregation example is to compute the size of each group. This is included in `GroupBy` as the `size()` method. It returns a Series whose indexes are the group names and whose values are the sizes of each group.

In [257]:
sdfUSA_grouped.size()

State
Alabama                41
Alaska                128
Arizona                42
Arkansas               36
California            131
Colorado               64
Connecticut            10
Delaware                4
Florida                95
Georgia                79
Guam                    2
Hawaii                 13
Idaho                  24
Illinois               58
Indiana                41
Iowa                   60
Johnston/Wake/Xmas      2
Kansas                 55
Kentucky               38
Louisiana              51
Maine                  17
Marshall Islands        1
Maryland               22
Massachusetts          23
Michigan               75
Minnesota             100
Mississippi            33
Missouri               43
Montana                38
Nebraska               39
Nevada                 22
New Hampshire          13
New Jersey             17
New Mexico             32
New York               46
North Carolina         69
North Dakota           36
Ohio                   56
Oklahoma               55
Oregon                 39
Pennsylvania           45
Puerto Rico             4
Rhode Island            6
South Carolina         45
South Dakota           21
Tennessee              49
Texas                 196
Utah                   24
Vermont                11
Virginia               62
Washington             44
Washington D.C.         1
West Virginia          16
Wisconsin              70
Wyoming                39
dtype: int64

>### Exercise 1

> Read in the Gulf_and_Caribbean_Marine_Ecoregions.shp file (loaded into map 1) and also included in the data package.
> Use the groupby functions you learned about to create a dataframe that contains the total area (Shape_Area column) for each of unique values in the Lat_Zone field.

In [258]:
# type your code here