---
<center><h1>Basic intro into pandas</h1></center> 
---
---

<center><h2>Working with pandas DataFrames: grouping</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: grouping](#Work-with-pandas-DataFrames:-grouping)
    * [Splitting of a DataFrame into groups](#Splitting-of-a-DataFrame-into-groups)
    * [Selection and filtering](#Selection-and-filtering)
    * [Aggregation and function application](#Aggregation-and-function-application)
    - [*Exercise 1*](#Exercise-1)

In [122]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: grouping

[[back to top]](#Table-of-Contents)

We will a werather station dataset so that we can see what is going on when we group.

In [183]:
from arcgis.features import GeoAccessor, GeoSeriesAccessor
#Import a COVID data layer.  This layer contains the updated stats for each county in the United States
from arcgis.features import FeatureLayer
mylayer = FeatureLayer(("https://services9.arcgis.com/RHVPKKiFTONKtxq3/arcgis/rest/services/NOAA_METAR_current_wind_speed_direction_v1/FeatureServer/0"))
sdf2 = pd.DataFrame.spatial.from_layer(mylayer)
sdf2.head(5)

   OBJECTID  ICAO  ... LONGITUDE                                              SHAPE
0         1  YPDN  ...    130.90  {"x": 14571721.344800003, "y": -1393544.816599...
1         2  PAJZ  ...   -157.27  {"x": -17507216.3171, "y": 8339869.139899999, ...
2         3  PAIW  ...   -168.10  {"x": -18712806.4023, "y": 9773610.204599999, ...
3         4  MMCV  ...    -98.97  {"x": -11017290.0038, "y": 2719325.819600001, ...
4         5  KSMN  ...   -113.87  {"x": -12675950.4166, "y": 5640432.8549000025,...

[5 rows x 22 columns]

In [184]:
sdfUSA = sdf2.loc[sdf2["COUNTRY"].apply(lambda x: "United States Of America" in str(x))]
sdfUSA["State"] = sdfUSA['COUNTRY'].apply(lambda x: str(x).split(",")[0])
sdfUSA["COUNTRY"] = sdfUSA['COUNTRY'].apply(lambda x: str(x).split(",")[1])
sdfUSA

D66140B0-0277-45FF-AE18-A787BE3D4AAF:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D66140B0-0277-45FF-AE18-A787BE3D4AAF:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      OBJECTID  ...       State
1            2  ...      Alaska
2            3  ...      Alaska
4            5  ...       Idaho
5            6  ...  Washington
6            7  ...    Michigan
...        ...  ...         ...
5044      5045  ...   Tennessee
5045      5046  ...        Utah
5046      5047  ...     Florida
5047      5048  ...       Idaho
5048      5049  ...     Indiana

[2383 rows x 23 columns]

In [185]:
sdfUSA.dtypes

OBJECTID                 int64
ICAO                    object
OBS_DATETIME    datetime64[ns]
STATION_NAME            object
COUNTRY                 object
ELEVATION              float64
TEMP                   float64
DEW_POINT              float64
R_HUMIDITY             float64
WIND_DIRECT            float64
WIND_SPEED               int64
WIND_GUST                int64
WIND_CHILL             float64
VISIBILITY             float64
PRESSURE               float64
SKY_CONDTN              object
WEATHER                 object
REMARKS                 object
HEAT_INDEX             float64
LATITUDE               float64
LONGITUDE              float64
SHAPE                 geometry
State                   object
dtype: object

So, let’s shortly describe what you will know after reading the blog post:
1.	how to split a DataFrame into a group;
2.	how select a group in the grouped DataFrame and filter the grouping data;
3.	how aggregate grouping data and how apply many function at once to the grouping data;

### Splitting of a DataFrame into groups

[[back to top]](#Table-of-Contents)

pandas DataFrames can be split on any of their axes. Grouping denotes the providence of a mapping of labels to group names. Method `groupby()` is provided in pandas for grouping. The `groupby()` function returns a `GroupBy` object, but essentially describes how the rows of the original data set has been split.

In [231]:
sdfUSA_grouped = sdfUSA.groupby('State')
sdfUSA_grouped

In [232]:
sdfUSA_grouped['COUNTRY']

Use `list()` to show what a grouping looks like

In [233]:
list(sdfUSA_grouped)

[('Alabama',       OBJECTID  ...    State
1132      1133  ...  Alabama
1147      1148  ...  Alabama
1150      1151  ...  Alabama
1154      1155  ...  Alabama
1161      1162  ...  Alabama
1180      1181  ...  Alabama
1345      1346  ...  Alabama
1372      1373  ...  Alabama
1381      1382  ...  Alabama
1450      1451  ...  Alabama
1470      1471  ...  Alabama
1532      1533  ...  Alabama
1535      1536  ...  Alabama
1607      1608  ...  Alabama
1721      1722  ...  Alabama
1728      1729  ...  Alabama
1818      1819  ...  Alabama
1929      1930  ...  Alabama
2015      2016  ...  Alabama
2019      2020  ...  Alabama
2222      2223  ...  Alabama
2297      2298  ...  Alabama
2314      2315  ...  Alabama
2427      2428  ...  Alabama
2442      2443  ...  Alabama
2471      2472  ...  Alabama
2514      2515  ...  Alabama
2515      2516  ...  Alabama
2563      2564  ...  Alabama
2814      2815  ...  Alabama
2822      2823  ...  Alabama
2944      2945  ...  Alabama
2966      2967  ...  Alabama
3037      3038  ...  Alabama
3059      3060  ...  Alabama
3130      3131  ...  Alabama
3151      3152  ...  Alabama
3220      3221  ...  Alabama
3223      3224  ...  Alabama
3246      3247  ...  Alabama
4994      4995  ...  Alabama

[41 rows x 23 columns]), ('Alaska',       OBJECTID  ICAO  ...                                              SHAPE   State
1            2  PAJZ  ...  {"x": -17507216.3171, "y": 8339869.139899999, ...  Alaska
2            3  PAIW  ...  {"x": -18712806.4023, "y": 9773610.204599999, ...  Alaska
7            8  PFEL  ...  {"x": -18063813.771, "y": 9508982.2672, "spati...  Alaska
8            9  PAVA  ...  {"x": -18434507.6754, "y": 8748547.709399998, ...  Alaska
9           10  PAKK  ...  {"x": -17939135.9413, "y": 9589957.312600002, ...  Alaska
...        ...   ...  ...                                                ...     ...
4099      4100  PAPM  ...  {"x": -18013720.0002, "y": 8184710.909599997, ...  Alaska
4148      4149  PAGB  ...  {"x": -16640037.4838, "y": 10591137.204099998,...  Alaska
4154      4155  PAQT  ...  {"x": -16809243.1098, "y": 11140701.026500002,...  Alaska
4991      4992  PASY  ...  {"x": 19382949.7369, "y": 6931372.512900002, "...  Alaska
4999      5000  PANW  ...  {"x": -17512782.2916, "y": 8278291.432099998, ...  Alaska

[128 rows x 23 columns]), ('Arizona',       OBJECTID  ...    State
1109      1110  ...  Arizona
1145      1146  ...  Arizona
1148      1149  ...  Arizona
1155      1156  ...  Arizona
1160      1161  ...  Arizona
1163      1164  ...  Arizona
1192      1193  ...  Arizona
1197      1198  ...  Arizona
1418      1419  ...  Arizona
1499      1500  ...  Arizona
1523      1524  ...  Arizona
1639      1640  ...  Arizona
1697      1698  ...  Arizona
1719      1720  ...  Arizona
1837      1838  ...  Arizona
1839      1840  ...  Arizona
2007      2008  ...  Arizona
2088      2089  ...  Arizona
2313      2314  ...  Arizona
2365      2366  ...  Arizona
2412      2413  ...  Arizona
2420      2421  ...  Arizona
2464      2465  ...  Arizona
2642      2643  ...  Arizona
2663      2664  ...  Arizona
2695      2696  ...  Arizona
2700      2701  ...  Arizona
2805      2806  ...  Arizona
2848      2849  ...  Arizona
2864      2865  ...  Arizona
2883      2884  ...  Arizona
2898      2899  ...  Arizona
3135      3136  ...  Arizona
3360      3361  ...  Arizona
3366      3367  ...  Arizona
3382      3383  ...  Arizona
3595      3596  ...  Arizona
3907      3908  ...  Arizona
3924      3925  ...  Arizona
3926      3927  ...  Arizona
3930      3931  ...  Arizona
3957      3958  ...  Arizona

[42 rows x 23 columns]), ('Arkansas',       OBJECTID  ...     State
1139      1140  ...  Arkansas
1287      1288  ...  Arkansas
1301      1302  ...  Arkansas
1306      1307  ...  Arkansas
1313      1314  ...  Arkansas
1392      1393  ...  Arkansas
1397      1398  ...  Arkansas
1458      1459  ...  Arkansas
1505      1506  ...  Arkansas
1521      1522  ...  Arkansas
1528      1529  ...  Arkansas
1687      1688  ...  Arkansas
1926      1927  ...  Arkansas
2281      2282  ...  Arkansas
2342      2343  ...  Arkansas
2347      2348  ...  Arkansas
2510      2511  ...  Arkansas
2783      2784  ...  Arkansas
2801      2802  ...  Arkansas
2860      2861  ...  Arkansas
2905      2906  ...  Arkansas
2995      2996  ...  Arkansas
2997      2998  ...  Arkansas
3017      3018  ...  Arkansas
3039      3040  ...  Arkansas
3042      3043  ...  Arkansas
3048      3049  ...  Arkansas
3089      3090  ...  Arkansas
3096      3097  ...  Arkansas
3129      3130  ...  Arkansas
3157      3158  ...  Arkansas
3209      3210  ...  Arkansas
3234      3235  ...  Arkansas
3612      3613  ...  Arkansas
3909      3910  ...  Arkansas
4145      4146  ...  Arkansas

[36 rows x 23 columns]), ('California',       OBJECTID  ...       State
13          14  ...  California
1129      1130  ...  California
1133      1134  ...  California
1134      1135  ...  California
1135      1136  ...  California
...        ...  ...         ...
3962      3963  ...  California
3966      3967  ...  California
4018      4019  ...  California
5041      5042  ...  California
5042      5043  ...  California

[131 rows x 23 columns]), ('Colorado',       OBJECTID  ...     State
1111      1112  ...  Colorado
1117      1118  ...  Colorado
1164      1165  ...  Colorado
1167      1168  ...  Colorado
1171      1172  ...  Colorado
...        ...  ...       ...
3238      3239  ...  Colorado
3243      3244  ...  Colorado
3337      3338  ...  Colorado
3970      3971  ...  Colorado
4993      4994  ...  Colorado

[64 rows x 23 columns]), ('Connecticut',       OBJECTID  ...        State
1444      1445  ...  Connecticut
1702      1703  ...  Connecticut
2950      2951  ...  Connecticut
3034      3035  ...  Connecticut
3054      3055  ...  Connecticut
3133      3134  ...  Connecticut
3305      3306  ...  Connecticut
3332      3333  ...  Connecticut
3369      3370  ...  Connecticut
3401      3402  ...  Connecticut

[10 rows x 23 columns]), ('Delaware',       OBJECTID  ...     State
1484      1485  ...  Delaware
2534      2535  ...  Delaware
2694      2695  ...  Delaware
3381      3382  ...  Delaware

[4 rows x 23 columns]), ('Florida',       OBJECTID  ...    State
14          15  ...  Florida
28          29  ...  Florida
32          33  ...  Florida
963        964  ...  Florida
967        968  ...  Florida
...        ...  ...      ...
3931      3932  ...  Florida
3969      3970  ...  Florida
5001      5002  ...  Florida
5002      5003  ...  Florida
5046      5047  ...  Florida

[95 rows x 23 columns]), ('Georgia',       OBJECTID  ...    State
1280      1281  ...  Georgia
1298      1299  ...  Georgia
1388      1389  ...  Georgia
1393      1394  ...  Georgia
1396      1397  ...  Georgia
...        ...  ...      ...
3599      3600  ...  Georgia
3615      3616  ...  Georgia
3618      3619  ...  Georgia
3619      3620  ...  Georgia
5000      5001  ...  Georgia

[79 rows x 23 columns]), ('Guam',       OBJECTID  ICAO  ...                                              SHAPE State
1210      1211  PGUA  ...  {"x": 16132420.605800003, "y": 1524929.4087000...  Guam
2626      2627  PGUM  ...  {"x": 16119062.266900003, "y": 1514624.8880999...  Guam

[2 rows x 23 columns]), ('Hawaii',       OBJECTID  ICAO  ...                                              SHAPE   State
1124      1125  PHSF  ...  {"x": -17315746.7929, "y": 2245804.081799999, ...  Hawaii
1185      1186  PHNG  ...  {"x": -17562876.0625, "y": 2443225.9739000015,...  Hawaii
1206      1207  PMDY  ...  {"x": -19744738.082, "y": 3276739.1774000004, ...  Hawaii
1207      1208  PHNY  ...  {"x": -17471594.08, "y": 2364474.5802999996, "...  Hawaii
1208      1209  PHHI  ...  {"x": -17594045.5199, "y": 2449206.3586999997,...  Hawaii
1209      1210  PHBK  ...  {"x": -17786628.2389, "y": 2515127.474199999, ...  Hawaii
2624      2625  PHOG  ...  {"x": -17413707.9448, "y": 2379958.6429000013,...  Hawaii
2625      2626  PHMK  ...  {"x": -17488292.0036, "y": 2409773.4990000017,...  Hawaii
2742      2743  PHTO  ...  {"x": -17260087.0475, "y": 2239890.416099999, ...  Hawaii
2743      2744  PHNL  ...  {"x": -17580687.181, "y": 2431271.342599999, "...  Hawaii
2744      2745  PHLI  ...  {"x": -17736534.4681, "y": 2507923.7575000003,...  Hawaii
2745      2746  PHKO  ...  {"x": -17371406.5383, "y": 2241073.0011, "spat...  Hawaii
2746      2747  PHJR  ...  {"x": -17596271.9097, "y": 2430076.3282999992,...  Hawaii

[13 rows x 23 columns]), ('Idaho',       OBJECTID  ICAO  ...                                              SHAPE  State
4            5  KSMN  ...  {"x": -12675950.4166, "y": 5640432.8549000025,...  Idaho
39          40  KBOI  ...  {"x": -12938664.414900001, "y": 5399138.0493, ...  Idaho
977        978  K1U7  ...  {"x": -12393198.91, "y": 5198502.107799999, "s...  Idaho
1112      1113  KMYL  ...  {"x": -12924192.881099999, "y": 5605792.247199...  Idaho
1142      1143  KMUO  ...  {"x": -12898589.3982, "y": 5316539.268200003, ...  Idaho
1394      1395  KLWS  ...  {"x": -13026606.8126, "y": 5839841.5336000025,...  Idaho
1465      1466  KEUL  ...  {"x": -12982079.0163, "y": 5408361.233199999, ...  Idaho
1485      1486  KDIJ  ...  {"x": -12367595.427099999, "y": 5426835.265500...  Idaho
1496      1497  KCOE  ...  {"x": -13004342.9145, "y": 6068675.970700003, ...  Idaho
1676      1677  KSZT  ...  {"x": -12976513.0418, "y": 6156910.055399999, ...  Idaho
1937      1938  KMAN  ...  {"x": -12970947.067200001, "y": 5400674.608099...  Idaho
1973      1974  KLLJ  ...  {"x": -12714912.238400001, "y": 5546269.209299...  Idaho
2124      2125  KGNG  ...  {"x": -12775766.8934, "y": 5299296.253399998, ...  Idaho
2132      2133  KGIC  ...  {"x": -12926419.2709, "y": 5772340.3024, "spat...  Idaho
2494      2495  K65S  ...  {"x": -12946456.7793, "y": 6229171.6044000015,...  Idaho
2855      2856  KRXE  ...  {"x": -12445519.070700001, "y": 5439171.870899...  Idaho
2895      2896  KPIH  ...  {"x": -12531235.0786, "y": 5299802.947700001, ...  Idaho
2954      2955  KMLP  ...  {"x": -12876325.5001, "y": 6015837.3544000015,...  Idaho
3025      3026  KIDA  ...  {"x": -12475575.3332, "y": 5391459.078900002, ...  Idaho
3196      3197  KBYI  ...  {"x": -12664818.4676, "y": 5243726.168300003, ...  Idaho
3283      3284  KP69  ...  {"x": -12868533.1357, "y": 5804419.495099999, ...  Idaho
3353      3354  KSNT  ...  {"x": -12793949.0769, "y": 5491787.875200003, ...  Idaho
3915      3916  KSUN  ...  {"x": -12721591.4079, "y": 5388389.2727999985,...  Idaho
5047      5048  KJER  ...  {"x": -12740515.7213, "y": 5269449.638999999, ...  Idaho

[24 rows x 23 columns]), ('Illinois',       OBJECTID  ...     State
1198      1199  ...  Illinois
1302      1303  ...  Illinois
1374      1375  ...  Illinois
1493      1494  ...  Illinois
1508      1509  ...  Illinois
1509      1510  ...  Illinois
1601      1602  ...  Illinois
1632      1633  ...  Illinois
1661      1662  ...  Illinois
1669      1670  ...  Illinois
1707      1708  ...  Illinois
1717      1718  ...  Illinois
1750      1751  ...  Illinois
1756      1757  ...  Illinois
1806      1807  ...  Illinois
1808      1809  ...  Illinois
1813      1814  ...  Illinois
1867      1868  ...  Illinois
1906      1907  ...  Illinois
1964      1965  ...  Illinois
2011      2012  ...  Illinois
2039      2040  ...  Illinois
2041      2042  ...  Illinois
2044      2045  ...  Illinois
2055      2056  ...  Illinois
2075      2076  ...  Illinois
2144      2145  ...  Illinois
2154      2155  ...  Illinois
2166      2167  ...  Illinois
2180      2181  ...  Illinois
2204      2205  ...  Illinois
2255      2256  ...  Illinois
2327      2328  ...  Illinois
2357      2358  ...  Illinois
2361      2362  ...  Illinois
2445      2446  ...  Illinois
2463      2464  ...  Illinois
2525      2526  ...  Illinois
2561      2562  ...  Illinois
2583      2584  ...  Illinois
2637      2638  ...  Illinois
2652      2653  ...  Illinois
2659      2660  ...  Illinois
2708      2709  ...  Illinois
2936      2937  ...  Illinois
2968      2969  ...  Illinois
2982      2983  ...  Illinois
3174      3175  ...  Illinois
3181      3182  ...  Illinois
3275      3276  ...  Illinois
3280      3281  ...  Illinois
3295      3296  ...  Illinois
3301      3302  ...  Illinois
3315      3316  ...  Illinois
3335      3336  ...  Illinois
3371      3372  ...  Illinois
3910      3911  ...  Illinois
3959      3960  ...  Illinois

[58 rows x 23 columns]), ('Indiana',       OBJECTID  ...    State
1116      1117  ...  Indiana
1283      1284  ...  Indiana
1350      1351  ...  Indiana
1430      1431  ...  Indiana
1437      1438  ...  Indiana
1638      1639  ...  Indiana
1741      1742  ...  Indiana
1779      1780  ...  Indiana
1809      1810  ...  Indiana
1845      1846  ...  Indiana
1888      1889  ...  Indiana
1904      1905  ...  Indiana
1925      1926  ...  Indiana
2005      2006  ...  Indiana
2035      2036  ...  Indiana
2086      2087  ...  Indiana
2091      2092  ...  Indiana
2114      2115  ...  Indiana
2120      2121  ...  Indiana
2135      2136  ...  Indiana
2161      2162  ...  Indiana
2171      2172  ...  Indiana
2267      2268  ...  Indiana
2336      2337  ...  Indiana
2358      2359  ...  Indiana
2426      2427  ...  Indiana
2439      2440  ...  Indiana
2645      2646  ...  Indiana
2682      2683  ...  Indiana
2690      2691  ...  Indiana
2698      2699  ...  Indiana
2702      2703  ...  Indiana
2959      2960  ...  Indiana
3065      3066  ...  Indiana
3084      3085  ...  Indiana
3118      3119  ...  Indiana
3214      3215  ...  Indiana
3607      3608  ...  Indiana
3613      3614  ...  Indiana
3964      3965  ...  Indiana
5048      5049  ...  Indiana

[41 rows x 23 columns]), ('Iowa',       OBJECTID  ICAO  ...                                              SHAPE State
1455      1456  KFOD  ...  {"x": -10482956.448, "y": 5240704.489100002, "...  Iowa
1490      1491  KCWI  ...  {"x": -10054376.4084, "y": 5134054.336400002, ...  Iowa
1606      1607  KVTI  ...  {"x": -10243619.5428, "y": 5193991.557700001, ...  Iowa
1652      1653  KTNU  ...  {"x": -10354939.0336, "y": 5111674.508599997, ...  Iowa
1682      1683  KSXK  ...  {"x": -10705595.4296, "y": 5308928.138300002, ...  Iowa
1709      1710  KSLB  ...  {"x": -10600955.1082, "y": 5251284.604999997, ...  Iowa
1714      1715  KSHL  ...  {"x": -10667746.8027, "y": 5345518.266800001, ...  Iowa
1724      1725  KSDA  ...  {"x": -10622105.8115, "y": 4975536.361100003, ...  Iowa
1775      1776  KRDK  ...  {"x": -10605407.8879, "y": 5015292.107000001, ...  Iowa
1805      1806  KPRO  ...  {"x": -10482956.448, "y": 5135548.1866, "spati...  Iowa
1829      1830  KPEA  ...  {"x": -10347146.6692, "y": 5071521.811399996, ...  Iowa
1844      1845  KOXV  ...  {"x": -10366070.9827, "y": 5053729.738300003, ...  Iowa
1858      1859  KOOA  ...  {"x": -10297052.8984, "y": 5046326.032200001, ...  Iowa
1866      1867  KOLZ  ...  {"x": -10238053.5683, "y": 5261876.613600001, ...  Iowa
1892      1893  KMXO  ...  {"x": -10148997.9756, "y": 5193991.557700001, ...  Iowa
1897      1898  KMUT  ...  {"x": -10146771.5858, "y": 5067070.718199998, ...  Iowa
1907      1908  KMPZ  ...  {"x": -10187959.7974, "y": 5004969.470200002, ...  Iowa
1962      1963  KLRJ  ...  {"x": -10708935.0143, "y": 5277028.769400001, ...  Iowa
2038      2039  KIKV  ...  {"x": -10416164.7535, "y": 5113164.872299999, ...  Iowa
2043      2044  KIIB  ...  {"x": -10235827.1784, "y": 5228627.436399996, ...  Iowa
2045      2046  KIFA  ...  {"x": -10382768.9063, "y": 5231645.251999997, ...  Iowa
2049      2050  KICL  ...  {"x": -10577578.0152, "y": 4971129.0405, "spat...  Iowa
2051      2052  KI75  ...  {"x": -10428409.8975, "y": 5019719.452100001, ...  Iowa
2080      2081  KHPT  ...  {"x": -10378316.1267, "y": 5269449.638999999, ...  Iowa
2082      2083  KHNR  ...  {"x": -10612087.0573, "y": 5098271.638700001, ...  Iowa
2136      2137  KGGI  ...  {"x": -10322656.3813, "y": 5119128.644199997, ...  Iowa
2152      2153  KFXY  ...  {"x": -10421730.7281, "y": 5347045.9750000015,...  Iowa
2157      2158  KFSW  ...  {"x": -10165695.8992, "y": 4963787.9177, "spat...  Iowa
2178      2179  KFFL  ...  {"x": -10238053.5683, "y": 5019719.452100001, ...  Iowa
2203      2204  KEOK  ...  {"x": -10176827.8483, "y": 4934478.312799998, ...  Iowa
2227      2228  KEBS  ...  {"x": -10449560.6008, "y": 5225610.584200002, ...  Iowa
2256      2257  KDNS  ...  {"x": -10616539.837, "y": 5157984.011699997, "...  Iowa
2265      2266  KDEH  ...  {"x": -10211336.8905, "y": 5353159.315700002, ...  Iowa
2293      2294  KCSQ  ...  {"x": -10505220.3462, "y": 5015292.107000001, ...  Iowa
2310      2311  KCNC  ...  {"x": -10393900.8554, "y": 5015292.107000001, ...  Iowa
2320      2321  KCKP  ...  {"x": -10636577.3453, "y": 5270964.976099998, ...  Iowa
2328      2329  KCIN  ...  {"x": -10550861.3374, "y": 5165474.358400002, ...  Iowa
2344      2345  KCCY  ...  {"x": -10310411.2373, "y": 5322632.6373, "spat...  Iowa
2350      2351  KCBF  ...  {"x": -10661067.6333, "y": 5052248.5436, "spat...  Iowa
2352      2353  KCAV  ...  {"x": -10438428.6517, "y": 5273996.383599997, ...  Iowa
2382      2383  KBNW  ...  {"x": -10445107.8211, "y": 5165474.358400002, ...  Iowa
2418      2419  KAXA  ...  {"x": -10494088.3971, "y": 5322632.6373, "spat...  Iowa
2419      2420  KAWG  ...  {"x": -10204657.721, "y": 5052248.5436, "spati...  Iowa
2446      2447  KAIO  ...  {"x": -10578691.2101, "y": 5071521.811399996, ...  Iowa
2455      2456  KADU  ...  {"x": -10566446.0661, "y": 5116146.2946000025,...  Iowa
2707      2708  KDSM  ...  {"x": -10427296.7026, "y": 5090833.6708, "spat...  Iowa
2728      2729  KALO  ...  {"x": -10285920.9493, "y": 5243726.168300003, ...  Iowa
2832      2833  KSPW  ...  {"x": -10599841.9133, "y": 5337883.4815, "spat...  Iowa
2914      2915  KOTM  ...  {"x": -10291486.9238, "y": 5027102.849100001, ...  Iowa
2969      2970  KMCW  ...  {"x": -10389448.0757, "y": 5334831.317599997, ...  Iowa
2983      2984  KLWD  ...  {"x": -10452900.1855, "y": 4957918.981899999, ...  Iowa
3159      3160  KDBQ  ...  {"x": -10096677.8149, "y": 5221087.110299997, ...  Iowa
3206      3207  KBRL  ...  {"x": -10144545.196, "y": 4978475.679499999, "...  Iowa
3247      3248  KAMW  ...  {"x": -10421730.7281, "y": 5157984.011699997, ...  Iowa
3273      3274  KSUX  ...  {"x": -10728972.5227, "y": 5218072.6625000015,...  Iowa
3304      3305  KIOW  ...  {"x": -10191299.3821, "y": 5105715.367700003, ...  Iowa
3313      3314  KEST  ...  {"x": -10547521.7527, "y": 5373055.471900001, ...  Iowa
3314      3315  KDVN  ...  {"x": -10083319.4761, "y": 5104226.1603000015,...  Iowa
3324      3325  KCID  ...  {"x": -10210223.6956, "y": 5143020.940700002, ...  Iowa
4031      4032  KTVK  ...  {"x": -10341580.6947, "y": 4965255.7016, "spat...  Iowa

[60 rows x 23 columns]), ('Johnston/Wake/Xmas',       OBJECTID  ...               State
570        571  ...  Johnston/Wake/Xmas
1123      1124  ...  Johnston/Wake/Xmas

[2 rows x 23 columns]), ('Kansas',       OBJECTID  ICAO  ...                                              SHAPE   State
1344      1345  KP28  ...  {"x": -10970535.8177, "y": 4478207.3715, "spat...  Kansas
1405      1406  KLBL  ...  {"x": -11239928.9854, "y": 4443289.225699998, ...  Kansas
1420      1421  KIAB  ...  {"x": -10828046.8695, "y": 4525882.767499998, ...  Kansas
1421      1422  KHYS  ...  {"x": -11050685.851, "y": 4700208.078500003, "...  Kansas
1448      1449  KGBD  ...  {"x": -11006158.0547, "y": 4628987.747000001, ...  Kansas
1454      1455  KFRI  ...  {"x": -10772387.1241, "y": 4728836.176299997, ...  Kansas
1464      1465  KEWK  ...  {"x": -10828046.8695, "y": 4586491.5458, "spat...  Kansas
1627      1628  KULS  ...  {"x": -11284456.7817, "y": 4523072.3191, "spat...  Kansas
1630      1631  KUKL  ...  {"x": -10656614.8536, "y": 4621892.8671, "spat...  Kansas
1647      1648  KTQK  ...  {"x": -11229910.2312, "y": 4646035.474799998, ...  Kansas
1680      1681  KSYF  ...  {"x": -11332324.1628, "y": 4832575.381200001, ...  Kansas

As it can be easily seen, the `GroupBy` object is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group.

In [234]:
for key, value in list(sdfUSA_grouped)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in short_grouped:
    print (key)
    print (value)

Alabama
      OBJECTID  ...    State
1132      1133  ...  Alabama
1147      1148  ...  Alabama
1150      1151  ...  Alabama
1154      1155  ...  Alabama
1161      1162  ...  Alabama
1180      1181  ...  Alabama
1345      1346  ...  Alabama
1372      1373  ...  Alabama
1381      1382  ...  Alabama
1450      1451  ...  Alabama
1470      1471  ...  Alabama
1532      1533  ...  Alabama
1535      1536  ...  Alabama
1607      1608  ...  Alabama
1721      1722  ...  Alabama
1728      1729  ...  Alabama
1818      1819  ...  Alabama
1929      1930  ...  Alabama
2015      2016  ...  Alabama
2019      2020  ...  Alabama
2222      2223  ...  Alabama
2297      2298  ...  Alabama
2314      2315  ...  Alabama
2427      2428  ...  Alabama
2442      2443  ...  Alabama
2471      2472  ...  Alabama
2514      2515  ...  Alabama
2515      2516  ...  Alabama
2563      2564  ...  Alabama
2814      2815  ...  Alabama
2822      2823  ...  Alabama
2944      2945  ...  Alabama
2966      2967  ...  Alabama
3037      3038  ...  Alabama
3059      3060  ...  Alabama
3130      3131  ...  Alabama
3151      3152  ...  Alabama
3220      3221  ...  Alabama
3223      3224  ...  Alabama
3246      3247  ...  Alabama
4994      4995  ...  Alabama

[41 rows x 23 columns]
Alaska
      OBJECTID  ICAO  ...                                              SHAPE   State
1            2  PAJZ  ...  {"x": -17507216.3171, "y": 8339869.139899999, ...  Alaska
2            3  PAIW  ...  {"x": -18712806.4023, "y": 9773610.204599999, ...  Alaska
7            8  PFEL  ...  {"x": -18063813.771, "y": 9508982.2672, "spati...  Alaska
8            9  PAVA  ...  {"x": -18434507.6754, "y": 8748547.709399998, ...  Alaska
9           10  PAKK  ...  {"x": -17939135.9413, "y": 9589957.312600002, ...  Alaska
...        ...   ...  ...                                                ...     ...
4099      4100  PAPM  ...  {"x": -18013720.0002, "y": 8184710.909599997, ...  Alaska
4148      4149  PAGB  ...  {"x": -16640037.4838, "y": 10591137.204099998,...  Alaska
4154      4155  PAQT  ...  {"x": -16809243.1098, "y": 11140701.026500002,...  Alaska
4991      4992  PASY  ...  {"x": 19382949.7369, "y": 6931372.512900002, "...  Alaska
4999      5000  PANW  ...  {"x": -17512782.2916, "y": 8278291.432099998, ...  Alaska

[128 rows x 23 columns]
Arizona
      OBJECTID  ...    State
1109      1110  ...  Arizona
1145      1146  ...  Arizona
1148      1149  ...  Arizona
1155      1156  ...  Arizona
1160      1161  ...  Arizona
1163      1164  ...  Arizona
1192      1193  ...  Arizona
1197      1198  ...  Arizona
1418      1419  ...  Arizona
1499      1500  ...  Arizona
1523      1524  ...  Arizona
1639      1640  ...  Arizona
1697      1698  ...  Arizona
1719      1720  ...  Arizona
1837      1838  ...  Arizona
1839      1840  ...  Arizona
2007      2008  ...  Arizona
2088      2089  ...  Arizona
2313      2314  ...  Arizona
2365      2366  ...  Arizona
2412      2413  ...  Arizona
2420      2421  ...  Arizona
2464      2465  ...  Arizona
2642      2643  ...  Arizona
2663      2664  ...  Arizona
2695      2696  ...  Arizona
2700      2701  ...  Arizona
2805      2806  ...  Arizona
2848      2849  ...  Arizona
2864      2865  ...  Arizona
2883      2884  ...  Arizona
2898      2899  ...  Arizona
3135      3136  ...  Arizona
3360      3361  ...  Arizona
3366      3367  ...  Arizona
3382      3383  ...  Arizona
3595      3596  ...  Arizona
3907      3908  ...  Arizona
3924      3925  ...  Arizona
3926      3927  ...  Arizona
3930      3931  ...  Arizona
3957      3958  ...  Arizona

[42 rows x 23 columns]

Besides, you may to see the first and the last item of each group

In [235]:
sdfUSA_grouped.first().head(10)

             OBJECTID  ...                                              SHAPE
State                  ...
Alabama          1133  ...  {"x": -9556778.2846, "y": 3680894.4886000007, ...
Alaska              2  ...  {"x": -17507216.3171, "y": 8339869.139899999, ...
Arizona          1110  ...  {"x": -12746081.695799999, "y": 3833084.206799...
Arkansas         1140  ...  {"x": -10475164.0836, "y": 4351652.965599999, ...
California         14  ...  {"x": -13297113.1753, "y": 3925872.5605000034,...
Colorado         1112  ...  {"x": -11835488.2611, "y": 4647457.398199998, ...
Connecticut      1445  ...  {"x": -8020569.3116999995, "y": 5061139.118699...
Delaware         1485  ...  {"x": -8401281.9702, "y": 4738875.1483, "spati...
Florida            15  ...  {"x": -9091462.8131, "y": 2999080.943500001, "...
Georgia          1281  ...  {"x": -9304083.0405, "y": 3846295.0041000023, ...

[10 rows x 22 columns]

In [236]:
sdfUSA_grouped.last().head(10)

             OBJECTID  ...                                              SHAPE
State                  ...
Alabama          4995  ...  {"x": -9642494.2925, "y": 3743636.8615999967, ...
Alaska           5000  ...  {"x": -17512782.2916, "y": 8278291.432099998, ...
Arizona          3958  ...  {"x": -12375387.7915, "y": 3783016.603500001, ...
Arkansas         4146  ...  {"x": -10417277.9484, "y": 4102894.8566000015,...
California       5043  ...  {"x": -13063342.2446, "y": 3935191.9821000025,...
Colorado         4994  ...  {"x": -11662943.0504, "y": 4674511.5361, "spat...
Connecticut      3402  ...  {"x": -8090700.5909, "y": 5150499.544100001, "...
Delaware         3382  ...  {"x": -8415753.504, "y": 4818102.8226, "spatia...
Florida          5047  ...  {"x": -9091462.8131, "y": 3533148.591300003, "...
Georgia          5001  ...  {"x": -9261781.634, "y": 3628853.6849000007, "...

[10 rows x 22 columns]

### Selection and filtering

[[back to top]](#Table-of-Contents)

Functions of descriptive statistic like `sum()`, `count()`, `max()`, `min()`, `mean()` can be quickly applied to the `GroupBy` object to obtain summary statistics for each group – an immensely useful function. The same statement is valid also for functions like `describe()` which return general information about an object. 

Let’s show a few examples of descriptive statistic function application to the `GroupBy` object

In [237]:
sdfUSA_grouped.count().head(10)

             OBJECTID  ICAO  OBS_DATETIME  ...  LATITUDE  LONGITUDE  SHAPE
State                                      ...
Alabama            41    41            41  ...        41         41     41
Alaska            128   128           128  ...       128        128    128
Arizona            42    42            42  ...        42         42     42
Arkansas           36    36            36  ...        36         36     36
California        131   131           131  ...       131        131    131
Colorado           64    64            64  ...        64         64     64
Connecticut        10    10            10  ...        10         10     10
Delaware            4     4             4  ...         4          4      4
Florida            95    95            95  ...        95         95     95
Georgia            79    79            79  ...        79         79     79

[10 rows x 22 columns]

In [238]:
sdfUSA_grouped.sum().add_prefix('sum_of_').head(10)
# calculate the sum only for numeric columns, 
# all columns with other types will be ignored and missed
# we have add also common prefics to all columns. It's very convenient

             sum_of_OBJECTID  ...  sum_of_LONGITUDE
State                         ...
Alabama                90258  ...          -3549.71
Alaska                231927  ...         -19448.38
Arizona               100031  ...          -4695.26
Arkansas               88343  ...          -3332.84
California            333401  ...         -15665.82
Colorado              150536  ...          -6758.69
Connecticut            28734  ...           -727.51
Delaware               10097  ...           -302.04
Florida               236043  ...          -7832.29
Georgia               194190  ...          -6596.07

[10 rows x 14 columns]

In [239]:
sdfUSA.groupby(['State'])['TEMP'].mean()
# calculate sum for a single column
# it works more quickly then movies.groupby(['State']).mean()['TEMP'] becuase it sheads the data it does not need before the mean operation

State
Alabama               62.751220
Alaska                12.778400
Arizona               50.778571
Arkansas              58.294444
California            47.570769
Colorado              25.876562
Connecticut           45.500000
Delaware              52.575000
Florida               71.556383
Georgia               65.013924
Guam                  78.200000
Hawaii                68.523077
Idaho                 22.737500
Illinois              47.236207
Indiana               48.246341
Iowa                  35.655000
Johnston/Wake/Xmas    76.000000
Kansas                40.566667
Kentucky              60.521053
Louisiana             64.941176
Maine                 40.694118
Marshall Islands      79.300000
Maryland              51.409524
Massachusetts         45.747826
Michigan              39.309333
Minnesota             26.885000
Mississippi           62.759375
Missouri              48.972093
Montana               23.936842
Nebraska              34.484211
Nevada                35.568182
New Hampshire         40.838462
New Jersey            48.829412
New Mexico            41.175000
New York              42.458696
North Carolina        61.176812
North Dakota          22.291667
Ohio                  50.942857
Oklahoma              52.154545
Oregon                31.648718
Pennsylvania          46.448889
Puerto Rico           83.200000
Rhode Island          45.833333
South Carolina        64.665909
South Dakota          30.804762
Tennessee             61.673469
Texas                 63.534021
Utah                  29.191667
Vermont               40.345455
Virginia              55.687097
Washington            31.143182
Washington D.C.       54.000000
West Virginia         57.118750
Wisconsin             34.575714
Wyoming               17.756410
Name: TEMP, dtype: float64

In [240]:
sdfUSA.groupby(['State', 'STATION_NAME']).sum()
# it is possible to group by many columns
# pay your attention that the changing of the order of 
# columns for grouping in 
# its list also changes the result table

                          OBJECTID  ELEVATION  ...  LATITUDE  LONGITUDE
State   STATION_NAME                           ...
Alabama Alabaster             3131      172.0  ...     33.18     -86.78
        Albertville Muni      2472      313.0  ...     34.23     -86.25
        Alexander/Russel      2443      198.0  ...     32.92     -85.97
        Andalusia/Opp Ar      1533       93.0  ...     31.32     -86.40
        Anniston              3247      187.0  ...     33.58     -85.85
...                            ...        ...  ...       ...        ...
Wyoming Torrington            2813     1285.0  ...     42.07    -104.15
        Warren Air Base       4997     1877.0  ...     41.13    -104.87
        Wheatland             2231     1452.0  ...     42.05    -104.93
        Worland               2787     1281.0  ...     43.97    -107.95
        Yellowstone Lake      1343     2377.0  ...     44.55    -110.42

[2364 rows x 14 columns]

It is possible also to show all groups

In [241]:
sdfUSA_grouped.groups

{'Alabama': [1132, 1147, 1150, 1154, 1161, 1180, 1345, 1372, 1381, 1450, 1470, 1532, 1535, 1607, 1721, 1728, 1818, 1929, 2015, 2019, 2222, 2297, 2314, 2427, 2442, 2471, 2514, 2515, 2563, 2814, 2822, 2944, 2966, 3037, 3059, 3130, 3151, 3220, 3223, 3246, 4994], 'Alaska': [1, 2, 7, 8, 9, 10, 17, 23, 36, 572, 1125, 1126, 1186, 1205, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1550, 1551, 1552, 1553, 1554, 1556, 1557, 1558, 1559, 2628, 2629, 2741, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, ...], 'Arizona': [1109, 1145, 1148, 1155, 1160, 1163, 1192, 1197, 1418, 1499, 1523, 1639, 1697, 1719, 1837, 1839, 2007, 2088, 2313, 2365, 2412, 2420, 2464, 2642, 2663, 2695, 2700, 2805, 2848, 2864, 2883, 2898, 3135, 3360, 3366, 3382, 3595, 3907, 3924, 3926, 3930, 3957], 'Arkansas': [1139, 1287, 1301, 1306, 1313, 1392, 1397, 1458, 1505, 1521, 1528, 1687, 1926, 2281, 2342, 2347, 2510, 2783, 2801, 2860, 2905, 2995, 2997, 3017, 3039, 3042, 3048, 3089, 3096, 3129, 3157, 3209, 3234, 3612, 3909, 4145], 'California': [13, 1129, 1133, 1134, 1135, 1140, 1156, 1162, 1166, 1169, 1282, 1286, 1288, 1317, 1321, 1335, 1354, 1355, 1358, 1362, 1363, 1364, 1387, 1399, 1477, 1501, 1514, 1524, 1646, 1685, 1727, 1793, 1883, 1916, 1933, 1978, 1987, 1988, 1989, 1990, 2025, 2026, 2084, 2104, 2122, 2165, 2184, 2221, 2233, 2241, 2261, 2287, 2300, 2315, 2346, 2356, 2422, 2461, 2654, 2670, 2692, 2722, 2727, 2784, 2793, 2803, 2825, 2836, 2837, 2839, 2841, 2842, 2847, 2849, 2851, 2854, 2866, 2875, 2881, 2884, 2890, 2913, 2921, 2928, 2932, 2933, 2947, 2974, 2979, 2986, 3000, 3009, 3021, 3049, 3052, 3092, 3115, 3170, 3178, 3194, ...], 'Colorado': [1111, 1117, 1164, 1167, 1171, 1172, 1303, 1434, 1435, 1438, 1456, 1475, 1605, 1665, 1690, 1729, 1778, 1801, 1913, 1972, 1976, 2094, 2126, 2167, 2169, 2214, 2299, 2335, 2345, 2362, 2399, 2440, 2443, 2454, 2479, 2496, 2504, 2513, 2533, 2536, 2553, 2555, 2578, 2586, 2639, 2712, 2871, 2879, 2937, 2980, 2998, 3013, 3020, 3078, 3131, 3141, 3158, 3187, 3195, 3238, 3243, 3337, 3970, 4993], 'Connecticut': [1444, 1702, 2950, 3034, 3054, 3133, 3305, 3332, 3369, 3401], 'Delaware': [1484, 2534, 2694, 3381], 'Florida': [14, 28, 32, 963, 967, 1176, 1191, 1276, 1284, 1292, 1295, 1314, 1329, 1341, 1357, 1367, 1391, 1411, 1417, 1425, 1426, 1474, 1495, 1575, 1586, 1587, 1588, 1609, 1617, 1649, 1722, 1833, 1882, 1971, 2036, 2163, 2174, 2266, 2316, 2333, 2503, 2520, 2541, 2543, 2550, 2788, 2815, 2816, 2831, 2833, 2845, 2862, 2888, 2897, 2903, 2917, 2920, 2930, 2938, 2956, 2961, 2970, 2977, 3003, 3032, 3071, 3079, 3098, 3104, 3107, 3117, 3132, 3139, 3162, 3171, 3188, 3215, 3262, 3290, 3372, 3574, 3577, 3583, 3591, 3592, 3605, 3606, 3611, 3914, 3928, 3931, 3969, 5001, 5002, 5046], 'Georgia': [1280, 1298, 1388, 1393, 1396, 1401, 1590, 1616, 1643, 1650, 1657, 1668, 1730, 1788, 1796, 1821, 1856, 1870, 1980, 1995, 1999, 2020, 2022, 2042, 2078, 2147, 2192, 2235, 2252, 2257, 2269, 2271, 2279, 2282, 2284, 2288, 2292, 2309, 2324, 2379, 2391, 2393, 2395, 2411, 2413, 2444, 2468, 2491, 2492, 2516, 2517, 2528, 2542, 2567, 2789, 2790, 2829, 2852, 2867, 2902, 2971, 3061, 3093, 3110, 3143, 3248, 3253, 3260, 3334, 3392, 3406, 3580, 3587, 3588, 3599, 3615, 3618, 3619, 5000], 'Guam': [1210, 2626], 'Hawaii': [1124, 1185, 1206, 1207, 1208, 1209, 2624, 2625, 2742, 2743, 2744, 2745, 2746], 'Idaho': [4, 39, 977, 1112, 1142, 1394, 1465, 1485, 1496, 1676, 1937, 1973, 2124, 2132, 2494, 2855, 2895, 2954, 3025, 3196, 3283, 3353, 3915, 5047], 'Illinois': [1198, 1302, 1374, 1493, 1508, 1509, 1601, 1632, 1661, 1669, 1707, 1717, 1750, 1756, 1806, 1808, 1813, 1867, 1906, 1964, 2011, 2039, 2041, 2044, 2055, 2075, 2144, 2154, 2166, 2180, 2204, 2255, 2327, 2357, 2361, 2445, 2463, 2525, 2561, 2583, 2637, 2652, 2659, 2708, 2936, 2968, 2982, 3174, 3181, 3275, 3280, 3295, 3301, 3315, 3335, 3371, 3910, 3959], 'Indiana': [1116, 1283, 1350, 1430, 1437, 1638, 1741, 1779, 1809, 1845, 1888, 1904, 1925, 2005, 2035, 2086, 2091, 2114, 2120, 2135, 2161, 2171, 2267, 2336, 2358, 2426, 2439, 2645, 2682, 2690, 2698, 2702, 2959, 3065, 3084, 3118, 3214, 3607, 3613, 3964, 5048], 'Iowa': [1455, 1490, 1606, 1652, 1682, 1709, 1714, 1724, 1775, 1805, 1829, 1844, 1858, 1866, 1892, 1897, 1907, 1962, 2038, 2043, 2045, 2049, 2051, 2080, 2082, 2136, 2152, 2157, 2178, 2203, 2227, 2256, 2265, 2293, 2310, 2320, 2328, 2344, 2350, 2352, 2382, 2418, 2419, 2446, 2455, 2707, 2728, 2832, 2914, 2969, 2983, 3159, 3206, 3247, 3273, 3304, 3313, 3314, 3324, 4031], 'Johnston/Wake/Xmas': [570, 1123], 'Kansas': [1344, 1405, 1420, 1421, 1448, 1454, 1464, 1627, 1630, 1647, 1680, 1797, 1798, 1849, 1874, 1878, 1884, 1890, 1946, 1992, 1993, 2016, 2047, 2079, 2202, 2217, 2308, 2348, 2397, 2526, 2527, 2532, 2560, 2565, 2569, 2631, 2696, 2733, 2813, 2840, 2863, 2924, 3018, 3026, 3045, 3075, 3101, 3125, 3282, 3298, 3303, 3308, 3316, 3321, 3325], 'Kentucky': [1196, 1320, 1346, 1428, 1471, 1473, 1482, 1678, 1704, 1711, 1772, 1835, 1942, 1991, 1994, 2033, 2056, 2129, 2175, 2211, 2242, 2303, 2339, 2364, 2462, 2498, 2544, 2564, 2681, 2906, 2990, 2991, 3015, 3109, 3198, 3318, 3616, 4038], 'Louisiana': [29, 973, 1108, 1141, 1199, 1311, 1336, 1517, 1531, 1620, 1751, 1774, 1857, 1914, 1922, 1966, 2027, 2046, 2061, 2097, 2145, 2213, 2251, 2280, 2366, 2378, 2437, 2459, 2497, 2523, 2530, 2566, 2721, 2802, 2931, 2939, 2951, 3001, 3005, 3121, 3202, 3239, 3241, 3256, 3602, 3604, 3923, 3967, 4019, 4100, 5043], 'Maine': [1278, 1318, 1325, 1338, 1403, 1445, 1516, 2685, 2714, 2952, 3019, 3035, 3091, 3221, 3236, 3363, 4140], 'Marshall Islands': [571], 'Maryland': [1170, 1449, 1527, 1598, 2168, 2259, 2331, 2332, 2351, 2535, 2546, 2644, 2647, 2667, 2715, 2909, 2929, 3053, 3291, 3905, 3927, 3965], 'Massachusetts': [1334, 1423, 1457, 1500, 2134, 2656, 2662, 2679, 2719, 2910, 2935, 3119, 3199, 3231, 3259, 3272, 3279, 3284, 3312, 3319, 3336, 3374, 3400], 'Michigan': [6, 15, 971, 1113, 1115, 1159, 1188, 1343, 1377, 1382, 1407, 1413, 1466, 1579, 1610, 1644, 1666, 1708, 1710, 1755, 1761, 1765, 1786, 1824, 1838, 1840, 1850, 1859, 1879, 1909, 1924, 1932, 1950, 1981, 1998, 2029, 2030, 2037, 2065, 2103, 2164, 2170, 2176, 2200, 2244, 2250, 2270, 2286, 2334, 2354, 2408, 2441, 2460, 2658, 2726, 2782, 2804, 2880, 2976, 3012, 3036, 3066, 3073, 3102, 3138, 3156, 3180, 3204, 3218, 3227, 3232, 3240, 3257, 3367, 3918], 'Minnesota': [20, 1189, 1190, 1291, 1322, 1348, 1384, 1385, 1443, 1446, 1453, 1529, 1576, 1578, 1602, 1603, 1628, 1641, 1651, 1660, 1677, 1716, 1731, 1752, 1758, 1759, 1771, 1790, 1807, 1827, 1864, 1889, 1894, 1908, 1921, 1945, 1949, 1951, 1975, 2000, 2013, 2014, 2060, 2099, 2100, 2109, 2133, 2140, 2159, 2173, 2177, 2183, 2196, 2208, 2237, 2238, 2248, 2263, 2276, 2296, 2305, 2311, 2321, 2325, 2337, 2349, 2390, 2396, 2401, 2407, 2423, 2453, 2458, 2466, 2524, 2568, 2585, 2646, 2689, 2826, 2828, 2858, 2891, 2911, 2918, 2941, 2960, 3051, 3099, 3113, 3136, 3192, 3207, 3228, 3233, 3242, 3973, 4017, 4141, 4992], 'Mississippi': [1144, 1194, 1340, 1361, 1432, 1440, 1502, 1513, 1611, 1622, 1624, 1760, 1815, 1941, 1955, 2006, 2294, 2322, 2501, 2557, 2574, 2575, 2684, 2806, 2885, 2975, 3047, 3057, 3060, 3069, 3074, 3584, 3597], 'Missouri': [1296, 1297, 1462, 1525, 1658, 1712, 1783, 1834, 1841, 1891, 1923, 1934, 1935, 1959, 1985, 2031, 2093, 2105, 2119, 2128, 2150, 2155, 2190, 2195, 2641, 2643, 2672, 2711, 2791, 2797, 2827, 2887, 2973, 2981, 3014, 3016, 3144, 3186, 3276, 3326, 3352, 3971, 5040], 'Montana': [27, 964, 965, 966, 968, 974, 975, 976, 1114, 1319, 1447, 1494, 1504, 1789, 1896, 1939, 2118, 2212, 2329, 2475, 2476, 2477, 2482, 2483, 2485, 2505, 2587, 2678, 2942, 2953, 2985, 3033, 3043, 3080, 3147, 3203, 3219, 3906], 'Nebraska': [1349, 1351, 1479, 1662, 1814, 1863, 1876, 1917, 1948, 1984, 2050, 2087, 2096, 2117, 2179, 2372, 2375, 2392, 2424, 2438, 2449, 2452, 2638, 2680, 2835, 2926, 2972, 3007, 3023, 3038, 3067, 3103, 3191, 3225, 3230, 3252, 3269, 3285, 4098], 'Nevada': [1146, 1149, 1281, 1293, 1406, 1429, 1472, 1654, 1749, 1762, 1927, 2071, 2370, 2409, 2584, 2792, 2908, 2992, 3126, 3142, 3610, 5003], 'New Hampshire': [1337, 1373, 1404, 1476, 1519, 2558, 2962, 3004, 3310, 3327, 3338, 3391, 3394], 'New Jersey': [969, 1277, 1279, 1386, 1510, 1982, 2635, 2673, 2732, 2735, 2808, 2838, 3090, 3189, 3351, 3387, 3960], 'New Mexico': [1151, 1165, 1308, 1492, 1681, 1686, 1692, 1862, 1960, 1986, 2123, 2258, 2353, 2376, 2414, 2425, 2577, 2821, 2823, 2853, 2861, 2984, 3063, 3105, 3145, 3173, 3179, 3339, 3361, 3600, 3932, 4997], 'New York': [1193, 1378, 1408, 1410, 1414, 1415, 1424, 1427, 1436, 1469, 1520, 1614, 1723, 1799, 1869, 1875, 1887, 2070, 2489, 2640, 2648, 2669, 2674, 2697, 2706, 2717, 2868, 2886, 2899, 2904, 2940, 3029, 3082, 3097, 3100, 3128, 3149, 3222, 3356, 3373, 3378, 3379, 3405, 3917, 3956, 5005], 'North Carolina': [1143, 1195, 1304, 1339, 1352, 1368, 1369, 1416, 1431, 1441, 1461, 1534, 1604, 1631, 1645, 1653, 1667, 1684, 1689, 1713, 1726, 1747, 1770, 1776, 1825, 1860, 1880, 1895, 1900, 1905, 1977, 2012, 2028, 2032, 2077, 2102, 2112, 2138, 2162, 2194, 2198, 2216, 2223, 2253, 2291, 2304, 2429, 2450, 2474, 2551, 2666, 2688, 2693, 2701, 2704, 2716, 2724, 2731, 2857, 3024, 3046, 3114, 3122, 3300, 3322, 3362, 3384, 3594, 4035], 'North Dakota': [19, 37, 1326, 1409, 1483, 1581, 1736, 1737, 1748, 2063, 2113, 2146, 2272, 2273, 2274, 2275, 2367, 2368, 2410, 2467, 2469, 2478, 2499, 2519, 2547, 2548, 2554, 2581, 2582, 2671, 3055, 3083, 3116, 3293, 3331, 3376], 'Ohio': [1315, 1460, 1486, 1512, 1608, 1615, 1619, 1623, 1626, 1738, 1812, 1816, 1832, 1846, 1847, 1893, 1899, 1968, 1983, 2052, 2053, 2054, 2057, 2058, 2260, 2341, 2415, 2511, 2633, 2691, 2729, 2780, 2820, 2896, 2915, 2948, 2964, 2987, 2989, 2999, 3030, 3058, 3111, 3154, 3216, 3245, 3271, 3299, 3347, 3395, 3396, 3397, 3575, 3968, 4037, 4142], 'Oklahoma': [1294, 1395, 1451, 1468, 1589, 1648, 1693, 1699, 1754, 1769, 1780, 1792, 1848, 1872, 1873, 2004, 2009, 2074, 2089, 2106, 2108, 2127, 2142, 2209, 2245, 2247, 2290, 2298, 2330, 2388, 2416, 2421, 2434, 2457, 2509, 2562, 2807, 2824, 2859, 2877, 2889, 2955, 2957, 3010, 3056, 3062, 3070, 3088, 3112, 3168, 3200, 3286, 3614, 3921, 3952], 'Oregon': [38, 40, 1307, 1327, 1347, 1389, 1402, 1491, 1507, 1655, 1734, 1735, 1861, 2008, 2143, 2400, 2480, 2484, 2506, 2507, 2522, 2703, 2809, 2834, 2873, 2900, 2901, 2922, 2949, 2967, 2994, 2996, 3040, 3050, 3146, 3211, 3217, 3277, 3579], 'Pennsylvania': [26, 1290, 1375, 1390, 1459, 1489, 1506, 1526, 1584, 1629, 1745, 1843, 1855, 1886, 1903, 1965, 2048, 2062, 2083, 2319, 2373, 2545, 2552, 2653, 2655, 2657, 2660, 2683, 2687, 2699, 2705, 2723, 2796, 2819, 2846, 2946, 3077, 3137, 3226, 3244, 3254, 3365, 3388, 3408, 3922], 'Puerto Rico': [1200, 2737, 3264, 3414], 'Rhode Island': [1316, 1515, 1854, 2785, 2794, 3364], 'South Carolina': [1275, 1289, 1300, 1370, 1371, 1383, 1442, 1498, 1503, 1522, 1696, 1703, 1781, 1912, 1918, 1936, 1952, 1961, 1963, 1974, 1996, 2066, 2068, 2137, 2181, 2268, 2295, 2323, 2340, 2383, 2405, 2430, 2433, 2447, 2636, 2713, 2925, 3064, 3072, 3106, 3166, 3172, 3596, 3925, 4036], 'South Dakota': [1273, 1328, 1452, 1488, 1511, 1530, 1533, 1695, 1823, 2081, 2465, 2893, 2963, 3027, 3165, 3237, 3261, 3278, 3302, 3306, 4033], 'Tennessee': [970, 1380, 1481, 1583, 1633, 1663, 1679, 1694, 1701, 1725, 1739, 1764, 1768, 1794, 1822, 1902, 1911, 1915, 1938, 1940, 1943, 1956, 2003, 2023, 2064, 2107, 2131, 2141, 2148, 2151, 2264, 2394, 2470, 2539, 2549, 2559, 2579, 2676, 2799, 2811, 2919, 2958, 3167, 3185, 3212, 3323, 3586, 3589, 5044], 'Texas': [11, 16, 25, 1131, 1137, 1152, 1158, 1168, 1309, 1324, 1331, 1359, 1360, 1365, 1379, 1398, 1419, 1422, 1439, 1480, 1585, 1613, 1618, 1621, 1640, 1656, 1664, 1670, 1671, 1672, 1674, 1675, 1683, 1698, 1700, 1706, 1720, 1742, 1744, 1773, 1782, 1784, 1787, 1791, 1802, 1804, 1810, 1819, 1826, 1828, 1842, 1851, 1853, 1910, 1919, 1930, 1931, 1944, 1947, 1953, 1957, 1970, 1979, 2001, 2002, 2010, 2021, 2024, 2034, 2040, 2076, 2090, 2092, 2101, 2110, 2111, 2115, 2121, 2125, 2130, 2139, 2156, 2185, 2186, 2187, 2188, 2189, 2197, 2201, 2207, 2210, 2224, 2225, 2228, 2231, 2232, 2234, 2236, 2243, 2278, ...], 'Utah': [18, 1136, 1153, 1312, 1332, 1467, 1636, 1637, 1642, 2069, 2098, 2254, 2385, 2402, 2481, 2878, 3177, 3193, 3229, 3296, 3377, 3593, 4021, 5045], 'Vermont': [1323, 2158, 2220, 2343, 2490, 2634, 2668, 2709, 2718, 2734, 3375], 'Virginia': [1110, 1333, 1353, 1356, 1366, 1433, 1463, 1487, 1582, 1592, 1593, 1594, 1595, 1597, 1600, 1612, 1715, 1718, 1766, 1800, 1803, 1865, 1871, 1898, 1920, 1958, 1967, 1997, 2017, 2018, 2067, 2072, 2085, 2116, 2149, 2160, 2172, 2193, 2205, 2283, 2302, 2326, 2386, 2404, 2571, 2572, 2632, 2649, 2651, 2661, 2665, 2677, 2730, 3160, 3184, 3307, 3370, 4032, 4034, 4143, 5004, 5006], 'Washington': [5, 12, 24, 30, 1130, 1138, 1173, 1305, 1310, 1330, 1518, 1733, 1767, 1817, 1852, 1885, 2229, 2317, 2371, 2495, 2556, 2573, 2664, 2720, 2781, 2787, 2798, 2818, 2844, 2865, 2882, 2907, 2923, 3041, 3086, 3108, 3123, 3127, 3155, 3224, 3250, 3294, 4103, 4995], 'Washington D.C.': [3317], 'West Virginia': [962, 1599, 2059, 2488, 2529, 2710, 2892, 2945, 2965, 3044, 3183, 3330, 3383, 3390, 3398, 3590], 'Wisconsin': [31, 972, 1274, 1285, 1299, 1376, 1400, 1478, 1577, 1580, 1625, 1634, 1659, 1688, 1691, 1740, 1743, 1753, 1757, 1763, 1777, 1795, 1830, 1831, 1836, 1868, 1877, 1881, 1901, 1928, 1954, 1969, 2191, 2199, 2218, 2219, 2262, 2277, 2312, 2318, 2359, 2360, 2374, 2403, 2431, 2448, 2473, 2502, 2508, 2531, 2538, 2675, 2686, 2725, 2850, 2872, 2876, 2912, 2916, 2943, 2988, 3031, 3068, 3124, 3297, 3929, 3954, 3958, 3963, 3972], 'Wyoming': [1157, 1342, 1412, 1497, 1596, 1635, 1732, 1811, 2073, 2153, 2182, 2206, 2215, 2226, 2230, 2239, 2246, 2451, 2472, 2518, 2650, 2786, 2812, 2843, 2856, 2870, 2993, 3011, 3085, 3087, 3120, 3152, 3163, 3175, 3197, 3210, 3576, 3581, 4996]}

and display the content only of necessary group

In [242]:
sdfUSA_grouped.get_group("Mississippi")

      OBJECTID  ...        State
1144      1145  ...  Mississippi
1194      1195  ...  Mississippi
1340      1341  ...  Mississippi
1361      1362  ...  Mississippi
1432      1433  ...  Mississippi
1440      1441  ...  Mississippi
1502      1503  ...  Mississippi
1513      1514  ...  Mississippi
1611      1612  ...  Mississippi
1622      1623  ...  Mississippi
1624      1625  ...  Mississippi
1760      1761  ...  Mississippi
1815      1816  ...  Mississippi
1941      1942  ...  Mississippi
1955      1956  ...  Mississippi
2006      2007  ...  Mississippi
2294      2295  ...  Mississippi
2322      2323  ...  Mississippi
2501      2502  ...  Mississippi
2557      2558  ...  Mississippi
2574      2575  ...  Mississippi
2575      2576  ...  Mississippi
2684      2685  ...  Mississippi
2806      2807  ...  Mississippi
2885      2886  ...  Mississippi
2975      2976  ...  Mississippi
3047      3048  ...  Mississippi
3057      3058  ...  Mississippi
3060      3061  ...  Mississippi
3069      3070  ...  Mississippi
3074      3075  ...  Mississippi
3584      3585  ...  Mississippi
3597      3598  ...  Mississippi

[33 rows x 23 columns]

In [243]:
sdfUSA_grouped.get_group("Mississippi").mean()

D66140B0-0277-45FF-AE18-A787BE3D4AAF:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

OBJECTID        2241.030303
ELEVATION         73.212121
TEMP              62.759375
DEW_POINT         42.293750
R_HUMIDITY        48.968750
WIND_DIRECT      182.500000
WIND_SPEED        15.060606
WIND_GUST          2.909091
WIND_CHILL              NaN
VISIBILITY     16000.000000
PRESSURE        1019.324242
HEAT_INDEX              NaN
LATITUDE          32.644242
LONGITUDE        -89.681515
dtype: float64

We have just one helpful and powerful option for you! It is `filter()`.

Suppose you need remain only those groups where there are less than 5 items. Sure, you may hardly calculate amount of items in each group and then remove not satisfying for condition. But it can be done very easily.

In [244]:
sdfUSA_grouped.filter(lambda x: len(x) < 5).sort_values("State")

      OBJECTID  ...               State
1484      1485  ...            Delaware
2534      2535  ...            Delaware
2694      2695  ...            Delaware
3381      3382  ...            Delaware
1210      1211  ...                Guam
2626      2627  ...                Guam
570        571  ...  Johnston/Wake/Xmas
1123      1124  ...  Johnston/Wake/Xmas
571        572  ...    Marshall Islands
1200      1201  ...         Puerto Rico
2737      2738  ...         Puerto Rico
3264      3265  ...         Puerto Rico
3414      3415  ...         Puerto Rico
3317      3318  ...     Washington D.C.

[14 rows x 23 columns]

One more example:

In [245]:
sdfUSA_grouped.filter(lambda x: x['TEMP'].mean() > 50 and x['R_HUMIDITY'].mean() < 50)

      OBJECTID  ...          State
962        963  ...  West Virginia
970        971  ...      Tennessee
1109      1110  ...        Arizona
1110      1111  ...       Virginia
1132      1133  ...        Alabama
...        ...  ...            ...
4994      4995  ...        Alabama
5000      5001  ...        Georgia
5004      5005  ...       Virginia
5006      5007  ...       Virginia
5044      5045  ...      Tennessee

[612 rows x 23 columns]

### Aggregation

[[back to top]](#Table-of-Contents)

We have seen previously, pandas allows to apply any function to a Series or to a DataFrame. Grouping is not an exception and you may use the same method `apply()` directly with `GroupBy` objects.  Aggregation can be done via the `aggregate()` or equivalently `agg()` method

In [246]:
sdfUSA_grouped.agg(np.sum).head(10)
# or state_grouped.aggregate(np.sum)

             OBJECTID  ELEVATION    TEMP  ...  HEAT_INDEX  LATITUDE  LONGITUDE
State                                     ...
Alabama         90258     5525.0  2572.8  ...        78.8   1337.00   -3549.71
Alaska         231927     9685.0  1597.3  ...         0.0   7947.34  -19448.38
Arizona        100031    39608.0  2132.7  ...         0.0   1417.80   -4695.26
Arkansas        88343     6070.0  2098.6  ...         0.0   1268.15   -3332.84
California     333401    39875.0  6184.2  ...         0.0   4729.19  -15665.82
Colorado       150536   132024.0  1656.1  ...         0.0   2505.33   -6758.69
Connecticut     28734      632.0   455.0  ...         0.0    414.92    -727.51
Delaware        10097       60.0   210.3  ...         0.0    156.69    -302.04
Florida        236043     1465.0  6726.3  ...      4080.8   2703.97   -7832.29
Georgia        194190    13200.0  5136.1  ...        73.5   2593.42   -6596.07

[10 rows x 14 columns]

Sure, above variant is equivalent to `state_grouped.sum()`.
One of the advantages of `agg()` method is the possibility of application of many functions to one and same dataset at once

In [255]:
# at first let's write the function which returns amount of notnull values 
def count_not_null(x):
    return len([i for i in x if pd.notnull(i)])
sdfUSA_grouped[['TEMP', 'R_HUMIDITY', "WIND_SPEED"]].agg([np.sum, np.mean, count_not_null]).head(10)

               TEMP             ... WIND_SPEED
                sum       mean  ...       mean count_not_null
State                           ...
Alabama      2572.8  62.751220  ...   8.951220             41
Alaska       1597.3  12.778400  ...  15.867188            128
Arizona      2132.7  50.778571  ...   7.523810             42
Arkansas     2098.6  58.294444  ...  15.194444             36
California   6184.2  47.570769  ...   5.893130            131
Colorado     1656.1  25.876562  ...  13.109375             64
Connecticut   455.0  45.500000  ...  12.700000             10
Delaware      210.3  52.575000  ...  14.000000              4
Florida      6726.3  71.556383  ...   9.463158             95
Georgia      5136.1  65.013924  ...   5.936709             79

[10 rows x 9 columns]

Sure, you may apply many functions to whole DataFrame at once

Another simple aggregation example is to compute the size of each group. This is included in `GroupBy` as the `size()` method. It returns a Series whose indexes are the group names and whose values are the sizes of each group.

In [257]:
sdfUSA_grouped.size()

State
Alabama                41
Alaska                128
Arizona                42
Arkansas               36
California            131
Colorado               64
Connecticut            10
Delaware                4
Florida                95
Georgia                79
Guam                    2
Hawaii                 13
Idaho                  24
Illinois               58
Indiana                41
Iowa                   60
Johnston/Wake/Xmas      2
Kansas                 55
Kentucky               38
Louisiana              51
Maine                  17
Marshall Islands        1
Maryland               22
Massachusetts          23
Michigan               75
Minnesota             100
Mississippi            33
Missouri               43
Montana                38
Nebraska               39
Nevada                 22
New Hampshire          13
New Jersey             17
New Mexico             32
New York               46
North Carolina         69
North Dakota           36
Ohio                   56
Oklahoma               55
Oregon                 39
Pennsylvania           45
Puerto Rico             4
Rhode Island            6
South Carolina         45
South Dakota           21
Tennessee              49
Texas                 196
Utah                   24
Vermont                11
Virginia               62
Washington             44
Washington D.C.         1
West Virginia          16
Wisconsin              70
Wyoming                39
dtype: int64

>### Exercise 1

> Read in the Gulf_and_Caribbean_Marine_Ecoregions.shp file (loaded into map 1) and also included in the data package.
> Use the groupby functions you learned about to create a dataframe that contains the total area (Shape_Area column) for each of unique values in the Lat_Zone field.

In [258]:
# type your code here