In [99]:
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor

In [100]:
sdf = pd.DataFrame.spatial.from_featureclass("aassesmet.shp")
sdf

       FID  ...                                              SHAPE
0        0  ...  {"x": -195577.34539999813, "y": 107448.9072000...
1        1  ...  {"x": -196101.2509999927, "y": 107477.93150001...
2        2  ...  {"x": -194910.3166999966, "y": 108064.08080001...
3        3  ...  {"x": -191755.79799999855, "y": 109182.5773000...
4        4  ...  {"x": -192088.17339999788, "y": 109268.3106000...
...    ...  ...                                                ...
2681  2681  ...  {"x": 1396522.0376000013, "y": 203980.03950000...
2682  2682  ...  {"x": 1396170.716400005, "y": 204225.512000000...
2683  2683  ...  {"x": 1396265.6319999974, "y": 204356.11159999...
2684  2684  ...  {"x": 1396444.0528999977, "y": 204501.26540001...
2685  2685  ...  {"x": 1395454.4901000075, "y": 205229.98300000...

[2686 rows x 6 columns]

In [104]:
aadf = pd.crosstab(index=sdf["Class"], columns=sdf["Crosswalk"])
aadf

Crosswalk                Boulders and Rocks  ...  Seagrass Sparse
Class                                        ...
Boulders and Rocks                       36  ...                0
Coral/Algae                               2  ...               20
Hardbottom Dense Algae                    1  ...               12
Hardbottom Sparse Algae                   1  ...               33
Muddy Bottom                              0  ...                1
Sand                                      3  ...               13
Seagrass Dense                            2  ...               22
Seagrass Sparse                           0  ...              154

[8 rows x 8 columns]

In [105]:
#Continue here

totalObs = aadf.sum().sum()

In [106]:
aadf.iloc[0,0]

36

In [110]:
aadf.apply(np.sum, axis = 0)

Crosswalk
Boulders and Rocks          45
Coral/Algae                770
Hardbottom Dense Algae     457
Hardbottom Sparse Algae    181
Muddy Bottom                21
Sand                       533
Seagrass Dense             424
Seagrass Sparse            255
dtype: int64

In [135]:
aadf.sum(axis = 1)

Class
Boulders and Rocks          42
Coral/Algae                906
Hardbottom Dense Algae     346
Hardbottom Sparse Algae    175
Muddy Bottom                 8
Sand                       548
Seagrass Dense             385
Seagrass Sparse            276
dtype: int64

In [137]:
aadf.sum(axis = 0)

Crosswalk
Boulders and Rocks          45
Coral/Algae                770
Hardbottom Dense Algae     457
Hardbottom Sparse Algae    181
Muddy Bottom                21
Sand                       533
Seagrass Dense             424
Seagrass Sparse            255
dtype: int64