---
<center><h1>Pandas and GIS Data</h1></center>


<center><h2> Getting Spatial Data into Pandas</h2></center>

---

ArcGIS (and other GIS data) can be converted into a Pandas Dataframe.  The reasons one may want to do this is that it allows for further analysis that may not be able to be done in other GIS software, or is easier to do in the Python programming evironment.  We will cover here in this notebook several ways of accessing ingesting GIS data into a Pandas data frame.  These include:

- The Spatially Enabled Data Frame (Part of the [ArcGIS API for Python](https://developers.arcgis.com/python/guide/introduction-to-the-spatially-enabled-dataframe/));
- ArcPy - [FeatureClassToNumPyArray](https://pro.arcgis.com/en/pro-app/latest/arcpy/data-access/featureclasstonumpyarray.htm) method;

The <b>Spatially Enabled Data Frame</b> is a data type created by ESRI that extends a regular Pandas DataFrame.  It extends it in many ways that we will discuss later, but the most fundemental is that it allows you to read in ESRI vector data in a variety of different formats (local and web) into a DataFrame for further manipuation.  This is lines of code you need to import both pandas and the Spatially Enabled Data Frame.

In [127]:
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor

From there you can access any local data on your system:

```python
sdf = pd.DataFrame.spatial.from_featureclass("path\to\your\data\folder\layername")
```
Here is a live example:

In [128]:
sdf = pd.DataFrame.spatial.from_featureclass("Gulf_and_Caribbean_Marine_Ecoregions.shp")
sdf

    FID  ...                                              SHAPE
0     0  ...  {"rings": [[[1018181.8780927337, 2466475.57884...
1     1  ...  {"rings": [[[1170405.8802054417, 3343762.09916...
2     2  ...  {"rings": [[[318162.30004956695, 4182962.58327...
3     3  ...  {"rings": [[[1578491.5565231834, 1307207.24016...
4     4  ...  {"rings": [[[-537064.6225060939, 3296797.47538...
5     5  ...  {"rings": [[[-1014956.6566839815, 3924150.1213...
6     6  ...  {"rings": [[[1424155.0064206573, 1292296.63155...
7     7  ...  {"rings": [[[-1170089.2484145437, 2938491.3994...
8     8  ...  {"rings": [[[16022.926418437613, 1626670.31913...
9     9  ...  {"rings": [[[-1219920.9757938143, 2528983.5536...
10   10  ...  {"rings": [[[-882144.0319189632, 2769338.27108...

[11 rows x 13 columns]

Notice that there is a field called shape.  This field does contain geometry.  We will look at that later in the course (not today).

In addition to accessing local data, you can also access feature datasets on ArcGIS online, ESRI living atlas, and any data that has been published as an ArcGIS feature layer.

In [129]:
#Import a COVID data layer.  This layer contains the updated stats for each county in the United States
from arcgis.features import FeatureLayer
mylayer = FeatureLayer(("https://services1.arcgis.com/0MSEUqKaxRlEPj5g/ArcGIS/rest/services/ncov_cases_US/FeatureServer/0"))
sdf2 = pd.DataFrame.spatial.from_layer(mylayer)
sdf2

      OBJECTID  ...                                              SHAPE
0            1  ...  {"x": -86.64408226999996, "y": 32.539527450000...
1            2  ...  {"x": -87.72207057999998, "y": 30.727749910000...
2            3  ...  {"x": -85.38712859999998, "y": 31.868263000000...
3            4  ...  {"x": -87.12511459999996, "y": 32.996420640000...
4            5  ...  {"x": -86.56790592999994, "y": 33.982109180000...
...        ...  ...                                                ...
3264      3265  ...  {"x": -110.58908009999999, "y": 43.93522482000...
3265      3266  ...  {"x": -110.54757819999998, "y": 41.28781830000...
3266      3267  ...                                                NaN
3267      3268  ...  {"x": -107.68018699999999, "y": 43.90451606000...
3268      3269  ...  {"x": -104.56748809999999, "y": 43.83961191000...

[3269 rows x 19 columns]

In [130]:
# Marine protected areas of the world
from arcgis.features import FeatureLayer
mylayer = FeatureLayer(("https://services5.arcgis.com/Mj0hjvkNtV7NRhA7/arcgis/rest/services/WDPA_v4/FeatureServer/0"))
sdf3 = pd.DataFrame.spatial.from_layer(mylayer)
sdf3

                                                  DESIG  ...   WDPA_PID
0                                         National Park  ...       4195
1                                     Controlled Forest  ...       4362
2                                     Controlled Forest  ...     316912
3                                     Conservation Area  ...     316913
4                                               Reserve  ...     316914
...                                                 ...  ...        ...
12206  Ramsar Site, Wetland of International Importance  ...  555555581
12207                      UNESCO-MAB Biosphere Reserve  ...  555703871
12208                                      Forêt Sacrée  ...  555681859
12209                                      Forêt Sacrée  ...  555681858
12210                                      Forêt Sacrée  ...  555681857

[12211 rows x 28 columns]

You can also use the two arcPy methods called "FeatureClassToNumPyArray" and "TableToNumPyArray"  For each of these methods, the inital result is an array instead of a pandas data frame.  To run these methods, you must specify the location of the local data, and the fields you want to convert, then convert that into a pandas DataFrame:

In [143]:
import arcpy
fields = ["Shape_Area", "ECOREGION", "REALM"]
array = arcpy.da.FeatureClassToNumPyArray("Gulf_and_Caribbean_Marine_Ecoregions.shp", fields)
array

sdf4 = pd.DataFrame(array[fields])
sdf4

       Shape_Area                ECOREGION                        REALM
0   368517.968376                 Bahamian            Tropical Atlantic
1   146257.311201                  Bermuda            Tropical Atlantic
2   222021.281976               Carolinian  Temperate Northern Atlantic
3   329291.612384        Eastern Caribbean            Tropical Atlantic
4    92333.186987                Floridian            Tropical Atlantic
5   553545.983522  Northern Gulf of Mexico  Temperate Northern Atlantic
6   423550.614982       Southern Caribbean            Tropical Atlantic
7   449703.392457  Southern Gulf of Mexico            Tropical Atlantic
8   445707.530043   Southwestern Caribbean            Tropical Atlantic
9   153684.511701        Western Caribbean            Tropical Atlantic
10  494395.292123         Greater Antilles            Tropical Atlantic