# Welcome to Class
### In this class we are going to learn so stuff:

1. Python
2. ArcGIS
3. Write Code

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Kitten_in_Rizal_Park%2C_Manila.jpg/1200px-Kitten_in_Rizal_Park%2C_Manila.jpg" alt="drawing" width="200"/>

In [5]:
#This lines prints a greeting
print("Hello GHY 468/568")

Hello GHY 468/568

In [6]:
x = 5
print(x)
x = 10
print(x)

5
10

In [7]:
thing 1 = 5

SyntaxError: invalid syntax (<ipython-input-7-b209c2f20974>, line 1)

In [8]:
thing_1 = 5

In [9]:
False = 5

SyntaxError: can't assign to keyword (<ipython-input-9-714297824100>, line 1)

In [10]:
type(False)

bool

In [11]:
1 = 5

SyntaxError: can't assign to literal (<ipython-input-11-903678b370e3>, line 1)

In [15]:
#variable = value
CityName = "New York"

myShapefile =r"c:\temp\test.shp"

In [16]:
print(myShapefile)

c:\temp\test.shp

In [17]:
type(myShapefile)

str

In [19]:
a = 6 + 2 * 5
a

16

In [20]:
a = (6 + 2) * 5
a

40

An example of string concatination.  Python uses the + operator to combine two (or more) strings.

In [23]:
name = "George"
print("Hello, " + name)

Hello, George

In [24]:
name * 5

'GeorgeGeorgeGeorgeGeorgeGeorge'

In [27]:
age = 5
sAge = "5"

age == sAge

False

In [28]:
age * 5

25

In [29]:
sAge * 5

'55555'

In [30]:
int(sAge * 5)

55555

In [31]:
int(name)

ValueError: invalid literal for int() with base 10: 'George'

In [32]:
number = "three"
int(number)

ValueError: invalid literal for int() with base 10: 'three'

In [34]:
str(5)

'5'